---
# DEFAULT
---

@charset "utf-8"
@import reset, base, figure, img

//-----------------------------------------------------------------------------

body
  font-family: $serif
  font-size: 100%
  line-height: (30/18)

main article

  header.lede
    h1
      display: inline
      font-size: 100%
    p
      display: inline

  h1
    font-size: 125%
    line-height: 1.4
    a:link, a:visited
      color: $text-color
      text-decoration: none
    a:hover
      text-decoration: underline

  h2, h3, h4, h5, h6
    font-size: 100%
    margin-top: bem(1)

  p, li, hr
    margin-top: bem(1)

  li + p,
    margin-top: 0

  blockquote
    padding: 0 bem(1)
    &>p:first-of-type:before
      content: "\201C"
    &>p:last-of-type:after
      content: "\201D"

  a img
    border-width: 1px
    border-style: solid
    border-color: inherit

  .datestamp
    font-family: $sans
    font-size: percentage(14/16)
    font-weight: 900
    text-transform: uppercase
    letter-spacing: 0.17px
    color: $light-mix
    a:link, a:visited
      color: $light-mix

  .permalink
    a:link, a:visited
      color: $mix-color
      text-decoration: none

  .note
    h1
      font-size: 100%
      line-height: (27/16)
    h1, p
      display: inline
      margin: 0
    .punc::after
      content: "."
    .dash::after
      content: "\20\2014"

  .archive
    em
      color: $mix-color
      white-space: nowrap

//-----------------------------------------------------------------------------

@media screen and (min-width: 32em)

  body
    font-size: 112.5%
    line-height: $line-height
