---
# DEFAULT
---

@charset "utf-8"
@import reset

//-----------------------------------------------------------------------------

//  Base font size, line-height, max width
$fs: 100% !default
$lh: 1.6 !default
$mw: 30em !default

// Colors
$body-color:    #D9D9D9 !default
$text-color:    #000 !default
$select-color:  #FFC !default

$mix-color:     mix($body-color, $text-color, 35%) !default
$light-mix:     lighten($mix-color, 33%) !default
$dark-mix:      darken($mix-color, 33%) !default

$logo-color:    #F03 !default

$link-color:    #00F !default
$visited-color: #800080 !default
$active-color:  #F60 !default

// Fonts
$serif: Georgia, Cambria, 'Century Schoolbook L', serif
$sans:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'
$helvetica: 'Helvetica Neue', 'Arial', 'Liberation Sans', 'Roboto', sans-serif !default
$monospace: 'Courier Prime', 'Bitstream Vera Sans Mono', 'Consolas', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'Courier', monospace !default
$verdana: 'Verdana', 'Bitstream Vera Sans', 'Geneva', sans-serif !default

//-----------------------------------------------------------------------------

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

@-ms-viewport
  width: device-width

body
  font-family: $serif
  font-size: $fs
  line-height: $lh

  background-color: $body-color
  color: $text-color

  text-rendering: optimizeSpeed
  -ms-text-size-adjust: auto
  -webkit-text-size-adjust: auto

  padding: 0 1em

::-moz-selection
    background: $select-color
::selection
    background: $select-color

ul, ol
  margin-left: 1em

ul
  list-style-type: disc

hr
  margin: 0
  width: 100%

a
  text-decoration: underline
  text-decoration-skip-ink: auto
  &:link
    color: $link-color
  &:visited
    color: $visited-color
  &:hover
    text-decoration: none
  &:active
    color: $active-color

header[role="banner"]
  max-width: 100%

  .logo
    display: flex
    align-items: center
    justify-content: center
    margin: 0 auto
    max-width: $mw
    height: 4em

    h1
      font-family: 'Bungee Shade', $sans
      font-weight: 900
      line-height: 1
      //transform: rotate(1deg)
      a:link, a:visited
        color: $logo-color
        text-decoration: none

main
  max-width: $mw
  margin: 0 auto

  article
    margin-top: 4em
    @extend .clearfix

    header
      h1
        font-size: 125%
        line-height: 1.3
        letter-spacing: -0.1px
        overflow: hidden
        &.title
          a:link, a:visited
            color: $text-color
            text-decoration: none
          &:hover
            text-decoration: underline
      p
        margin: 0
        color: $mix-color
        a:link, a:visited
          color: $mix-color

    figure
      margin-top: 1.3em
      padding-bottom: 0.3em
      .player
        position: relative
        /* padding-bottom:
          - a percentage is required for video to appear on the page
          - default is 56.25% (16 x 9)
          - can be overridden in YAML frontmatter (cf: media.ratio)
          - this override will appear directly in the HTML (_includes/media.html)
        padding-bottom: 56.25%

        height: 0
        overflow: hidden
        max-width: 100%
        background-color: transparent

        iframe,
        object,
        embed
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%

      figcaption
        background-color: $body-color
        p
          margin: 0
          padding-top: 0.7em
          font-size: (14/16) * 1em

    h2, h3, h4, h5, h6
      font-size: 1em
      margin-top: 1em

    p, li, hr
      margin-top: 1em

    h2 + p, li + p,
      margin-top: 0

    blockquote
      padding: 0 2em
      &>p:first-of-type:before
        content: "\201C"
      &>p:last-of-type:after
        content: "\201D"

    img.middle
      display: inline-block
      margin-top: 1.3em
      padding-bottom: 0.3em
      &.center
        margin: 0 auto

    img.right
      max-width: 33%
      float: right
      margin-left: 0.5em
      margin-bottom: 0.5em

    .permalink
      a:link, a:visited
        text-decoration: none

    .archive
      em
        color: $mix-color
        white-space: nowrap

footer
  margin: 4em 0 1em 0
  max-width: 100%

  .nav
    margin: 1em auto 0 auto
    list-style-type: none
    text-align: center

//-----------------------------------------------------------------------------

@media screen and (min-width: 32em)

  main article
    img.right
      max-width: 42%

  footer .nav li
    display: inline
    padding-right: 0.5em
    &:not(:last-of-type):after
      content: "-"
      padding-left: 0.5em
      color: $mix-color

//-----------------------------------------------------------------------------

@media screen and (min-width: 40em)

  body
    font-size: 106.25%
    line-height: 1.66

  main
    max-width: 34.118em

    article
      &:not(:last-of-type)
        padding-bottom: 2em

      header h1
        font-size: 150%

      img.right
        max-width: 42%
        margin: -1em 0 1em 2em
        &.tilt
          transform: rotate(3deg)

//-----------------------------------------------------------------------------

@media screen and (min-width: 64em)

    body
      font-size: 112.5%
      line-height: 1.73

    main
      max-width: 37.389em

      article

        figure, img.right
          margin-right: -1em

        img.middle
          &.extend
            width: calc(100% + 1em)
            max-width: calc(100% + 1em)
            margin-right: calc(-1em)

//-----------------------------------------------------------------------------

@media screen and (min-width: 90em)

  body
    font-size: 125%
    line-height: 1.66

  main
    max-width: 33.650em
