---
# DEFAULT
---

@charset "utf-8"
@import reset, base, figure

//-----------------------------------------------------------------------------

body
  font-family: $serif
  font-size: 100%
  line-height: (26/17)

main article

  h1
    font-size: 125%
    line-height: 1.22
    letter-spacing: -0.1px
    overflow: hidden
    &.link
      a:link, a:visited
        color: $text-color
        text-decoration: none
        &:hover
          text-decoration: underline

  header.lede
    margin-top: 1em
    h1
      font-size: 100%
    h1, p
      display: inline
      margin: 0
    .punc::after
      content: "."

  h2, h3, h4, h5, h6
    font-size: 1em
    margin-top: 1em

  p, li, hr
    margin-top: 1em

  li + p,
    margin-top: 0

  blockquote
    padding: 0 2em
    &>p:first-of-type:before
      content: "\201C"
    &>p:last-of-type:after
      content: "\201D"

  img.middle
    display: inline-block
    margin-top: 1.22em
    padding-bottom: 0.22em
    &.center
      margin-left: auto
      margin-right: auto

  img.right
    max-width: 36%
    float: right
    margin: 1em 0.0em 0.5em 0.5em

  .datestamp
    color: $mix-color
    a:link, a:visited
      color: $mix-color

  .permalink
    a:link, a:visited
      text-decoration: none

  .archive
    em
      color: $mix-color
      white-space: nowrap

aside
  .prev
    h2
      font-size: 100%
    p, li, hr
      margin-top: 1em
    li + p,
      margin-top: 0
    em
      color: $mix-color
      white-space: nowrap
    .recent
      list-style-type: none
      margin-left: 0

//-----------------------------------------------------------------------------

@media screen and (min-width: 32em)

  body
    font-size: 112.5%
    line-height: (30/18)

  main article

    img.right
      max-width: 42%

//-----------------------------------------------------------------------------

@media screen and (min-width: 40em)

  main article
    &:not(:last-of-type)
      padding-bottom: 2em

    h1
      font-size: 150%

    img.right
      max-width: 42%
      margin: -1em 0 1em 2em
      &.top
        margin-top: 1em
      &.tilt
        transform: rotate(3deg)

//-----------------------------------------------------------------------------

@media screen and (min-width: 64em)

  main article

    img.middle
      &.extend
        width: calc(100% + 1em)
        max-width: calc(100% + 1em)
        margin-right: calc(-1em)

    img.right
      margin-right: -1em
      &.top
        margin-top: 2em

//-----------------------------------------------------------------------------

@media screen and (min-width: 90em)

  body
    font-size: 125%
