---
layout: default
title: "About"
description: "Probably more than you wanted to know"
label: "about"
is_about: true
permalink: /about.html
---
{% capture bio %}
The site was made with VS Code and Pixelmator. The skull icon is from Nico at the Noun Project.
{% endcapture %}

{% include banner.html %}

<main role="main">
  <article class="about">
    <header><h1>{{ page.title }}</h1></header>
    {{ bio | strip | smartify | markdownify | normalize_whitespace }}
  </article>
</main>

{% include footer.html %}