---
layout: default
title: "About"
excerpt: "About the site, etc."
label: "about"
is_about: true
emoji: "🍕"
permalink: /about
---
{% capture bio %}
Originally, I wanted to make a movie site as an answer to the more shilly fan blogs. Then a more general audience arts and culture thing, akin to a _Hyperallergic_ or _Elephant._ Or maybe, I thought, just a media diary, a sorta amateur _K-Punk_ for the uninitiated. Detailed, rambling posts, spun out into more and more tangents. Digital life, old westerns, older novels, new science fiction, dead journalism, 8 bit games, lo-fi art... Simply talk about what was good when it was good, what's meaningful now.
{% endcapture -%}

{% include banner.html %}

<main role="main">
  <article class="about">
    <h1>{{ page.title }}</h1>
    {{ bio | strip | smartify | markdownify | normalize_whitespace }}
    <p><i>&mdash;{{ site.author }}</i></p> 
  </article>
</main>

{% include footer.html %}