---
layout: default
title: "Posts ~~~"
label: "archive"
is_archive: true
permalink: "/posts/"
---

{% include banner.html %}
{% assign posts_by_year_month = site.posts | group_by_exp: "post", "post.date | date: '%b %Y'" %}

<main role="main">

{% for group in posts_by_year_month %}

  <article class="archive">
    <header><h1>{{ group.name }}</h1></header>
    <ul>
    {% for post in group.items %}
      <li><a href="{{ post.url | absolute_url }}">{{ post.title | strip | smartify | normalize_whitespace }}</a></li>
    {% endfor %}
    </ul>
  </article>  

{% endfor -%}

</main>

{% include footer.html %}
