---
layout: default
label: "home"
is_home: true
permalink: /index.html
---
{% assign scope = 2629743 -%}
{% assign today = site.posts.first.date | date: '%s' -%}
{% include banner.html %}

<main role="main">

    {% for p in site.posts %}

      {% assign current = p.date | date: '%s' %}
      {% assign range = today | times: 1 |  minus: current %}

      {% if scope > range %}
        {% unless forloop.first %}<div class="hr"></div>{% endunless -%}
        <article class="{{ p.layout }} home">
          {% include detail-{{ p.layout }}.html page=p content=p.content is_home=true %}
        </article>

      {% else -%}
        {% break %}
      {% endif -%}
  
  {% endfor -%}

</main>

{% include footer.html %}