---
layout: default
is_home: true
permalink: /index.html
---
{% include banner.html %}

<main role="main">

  <article class="home default">

  style={{ page.style }}<br>
  layout={{ page.layout }}<br>

  {% assign scope = 2629743 -%}
  {% assign today = site.posts.first.date | date: '%s' -%}
  {%- for p in site.posts %}
    {% assign current = p.date | date: '%s' -%}
    {% assign range = today | times: 1 |  minus: current -%}
    {% if scope > range -%}
      {% assign txt = p.dek | default: p.excerpt %}
      {% include _list-section.html title=p.title text=txt date=p.date url=p.url %}
    {% else -%}
      {%- break %}
    {% endif -%}
  {%- endfor %}
   
  </article>

</main>

{% include footer.html %}