---
layout: default
style: hot.css
permalink: /hot/
---

{% for p in site.data.stream limit: 7 -%}

  {% assign filef = p.file | split: '-' -%}
  {% capture slug %}/{{ filef[0 ]}}/{{ filef[1] }}/{{filef | shift | shift | shift | join: '-' }}.html{% endcapture -%}
  {% capture sluglink %}<a href="{{ slug | prepend: site.url }}">{% endcapture -%}

  {% assign linkf = p.link | smartify -%}
  {% if linkf contains '[' -%}
    {% assign linkf = linkf | replace: '[', sluglink | replace: ']', '</a>' -%}
  {% else -%}
    {% assign linkf = linkf | replace_first: ' ', '</a> ' | prepend: sluglink -%}
  {% endif -%}

  <article>
    {% if p.image %}<img src="{{ p.image | prepend: site.img_dir | prepend: site.url }}" alt="thumbnail" class="{% cycle 'right', 'left' %}">{% endif %}
    <h1>{{ sluglink }}{{ p.title | smartify }}</a></h1>
    <p>{{ linkf }}</p>
  </article>

{% endfor -%}
