---
is_home: true
permalink: /index.html
---
{% assign p = site.posts.first %}
{% include teaser-block.html title=p.title date=p.date url=p.url excerpt=p.excerpt media=p.media style="home" %}

<aside>
  <ul class="toc">
  {% for p in site.posts limit:3 offset:1 %}
    {% include ul-toc.html title=p.title description=p.fbog.text image=p.fbog.image url=p.url style="rela" %}
  {% endfor %}
  </ul>
  <ul class="toc">
  {% for p in site.posts limit:5 offset:4 %}
    {% include ul-toc.html title=p.title description=p.fbog.text image=p.fbog.image url=p.url style="nextprev" %}
  {% endfor %}
  </ul>
</aside>

<aside>
  <ul class="dlist">
  {% assign stopdt = site.posts.first.date | date: '%m' %}
  {% include ul-dlist.html year="2020" start=6 stop=stopdt %}
  </ul>
</aside>
