---
style: index
is_home: true
permalink: /index.html
---

<article>
{% assign scope = 604800 -%}<!-- 1 week -->
{% assign today = site.posts.first.date | date: '%s' -%}

  {% for p in site.posts %}

    {% assign current = p.date | date: '%s' -%}
    {% assign range = today | times: 1 |  minus: current -%}

    {% if scope > range %}
      {% if page.is_home and forloop.first %}<section class="first">{% else %}<section>{% endif %}
        <h1><a href="{{ p.url | prepend: site.url }}">{{ p.title | default: 'Empty?!' | strip | normalize_whitespace | smartify }}</a></h1>
        <p class="excerpt">{{ p.excerpt | strip | strip_html | normalize_whitespace | smartify }} <span class="datestamp"><a href="{{ p.url | prepend: site.url }}">{{ p.date | date: "%-d %b" }}</a></span></p>
      </section>
    {% else %}
      {% break %}
    {% endif -%}

  {% endfor -%}
</article>
