---
layout: default
excerpt: "A small collage, a dumb blog"
is_home: true
permalink: /index.html
---
{% include banner.html %}

<main role="main">

  {% for p in site.posts limit: 10 %}
  {% unless forloop.first %}<div class="hr spacer"></div>{% endunless %}


  <article class="{{ p.layout }}"><!-- {{ p.content | number_of_words }}-->

    <h1><a href="{{ p.url | absolute_url }}">{{ p.title }}</a></h1>

    {% comment %}{% include detail-{{ p.layout }}.html page=p content=p.content is_home=true %}{% endcomment %}
  
  </article>


  {% endfor -%}

  <div class="hr spacer"></div>
  <article class="datelist">
    {% include _datelist.html %}
  </article>

</main>

{% include footer.html %}