---
layout: default
style: homepage
is_home: true
goog: true
permalink: /index.html
---
{% include banner-alt.html %}

<main role="main">
  <article><!-- 30.44 days -->

    {% assign scope = 2629743 %}
    {% assign today = site.posts.first.date | date: '%s' -%}

    {% for p in site.posts %}

      {% assign current = p.date | date: '%s' %}
      {% assign range = today | times: 1 |  minus: current -%}

      {% if scope > range %}

        {% unless forloop.first %}<div class="hr"></div>{% endunless %}
      
        <section>
      
          {% assign blurb = p.excerpt | strip | strip_html | smartify | truncatewords: 150 | normalize_whitespace -%}

          {% if p.keyphrase %}
            {% assign keyphrase = p.keyphrase | strip | strip_html | smartify | normalize_whitespace %}
          {% else %}
            {% assign keyphrase = blurb | truncatewords: 3, '' | smartify | normalize_whitespace %}
          {% endif -%}

          {% capture linkphrase %}<a href="{{ p.url | absolute_url }}">{{ keyphrase }}</a>{% endcapture -%}

          {% if p.plug %}
            {% include _titlef.html title=p.plug %}
          {% else %}
            {% include _titlef.html title=p.title %}
          {% endif -%}

          <h1><a href="{{ p.url | absolute_url }}">{{ titlef }}</a></h1>
          <p>{{ blurb | replace_first: keyphrase, linkphrase }}</p>
        
        </section>

      {% else -%}
        {% break -%}
      {% endif -%}

    {% endfor -%}

  </article>
</main>

{% include footer-alt.html %}