---
style: bahoo
is_home: true
goog: true
permalink: /index2.html
published: false
---
{% include htm-open.html %}
{% include std-banner.html -%}

<main role="main">
  <article>

{% assign scope = 2629743 -%}
{% assign today = site.posts.first.date | date: '%s' -%}
{% for p in site.posts -%}
  {% assign current = p.date | date: '%s' -%}
  {% assign range = today | times: 1 |  minus: current -%}
  {% if scope > range %}
    <p><a href="{{ p.url | absolute_url }}">{{ p.title }}</a></p>
  {% else -%}
    {% break -%}
  {% endif -%}
{% endfor -%}
<p><a href="{{ 'posts' | absolute_url }}">More &rarr;</a></p>

  </article>
</main>

{% include std-footer.html %}
{% include htm-close.html -%}