---
layout: default
label: "home"
is_home: true
permalink: /index.html
---
{% include banner.html %}

<main role="main">

  {% for p in site.posts limit: 10 %}
  {% unless forloop.first %}<div class="hr"></div>{% endunless %}
  <article class="{{ p.layout }}">
    {% include detail-{{ p.layout }}.html page=p content=p.content is_home=true %}
  </article>
  {% endfor -%}

  <div class="hr"></div>
  <section class="datelist">
    {% include _datelist.html %}
  </section>

</main>

{% include footer.html %}