<aside class="extras">
  <div class="hr"></div>
  {% for x in site.posts limit:12 offset:1 %}
    {% include --widow-fix.html title=x.title %}
    <div class="item">
      <h2><a href="{{ x.url }}">{{ titlef }}</a></h2>
      <div class="meta">
        {% if x.thumbnail or x.fbog %}<div class="fbog" style="background-image: url({{ x.thumbnail | default: x.fbog | prepend: site.img }})"></div>{% endif %}
        <p>{{ x.excerpt | strip_html | normalize_whitespace | smartify }}</p>
      </div>
    </div>
  {% endfor -%}
</aside>
