{% assign p = include.page -%}
<div class="hr"></div>
<ul>
{% if include.is_home %}
  {% comment %} do home stuff later {% endcomment -%}
{% else -%}
  {% if p.id == site.posts.first.id %}
    {% for x in site.posts limit:3 offset:1 %}
      {% include --display-list-item.html title=x.title excerpt=x.excerpt url=x.url %}
    {% endfor -%}
  {% else %}
    {% if p.previous %}
      {% include --display-list-item.html title=p.previous.title url=p.previous.url excerpt=p.previous.excerpt %}
    {% endif -%}
    {% if p.next %}
      {% include --display-list-item.html title=p.next.title url=p.next.url excerpt=p.next.excerpt %}
    {% endif -%}
  {% endif -%}
{% endif -%}
</ul>