{% assign posts_by_year = site.posts | group_by_exp: "post", "post.date | date: '%m %Y'" -%}
{% assign curr_year = site.posts.first.date | date: '%Y' %}

<ul class="datelist">

{% for group in posts_by_year reversed %}
  {% assign d = group.name | split: ' ' -%}
  {% assign month = d[0] -%}
  {% assign year = d[1] -%}
  {% assign mo = year | append: '-' | append: month | append: '-01' | date: '%b' -%}

  {% if curr_year != year %}
    {% continue %}
  {% endif -%}

  {% if year != prev_yr %}
    <li class="year"><a href="{{ year | absolute_url }}"><b>{{ year }}</b></a></li>
  {% endif -%}

  <li><a href="{{ year | append: '/' | append: month | absolute_url }}">{{ mo }}</a></li>

  {% assign prev_yr = year -%}

{% endfor -%}

</ul>