{% assign myfig = include.image.ratio | split: 'x' -%}
{% assign mw = myfig[0] | default: 640 | strip | times: 1.0 -%}
{% assign mh = myfig[1] | default: 480 | strip | times: 1.0 -%}

{% if mw > 0 and mh > 0 %}
  {% assign percentage = mh | divided_by: mw | times: 100 | round: 2 %}
{% endif -%}

{% if mw < 732 %}
  {% assign vidmax = mw | divided_by: 732 | times: 100 | round: 2 %}
  {% if vidmax > 100 %}{% assign vidmax = 100 %}{% endif %}
{% endif -%}

<figure class="wide">
  <div class="vidmax" style="--video-max-width:{{ vidmax | default: '100' }}%;">
    <div class="wrap" style="--percent:{{ percentage | default: '56.25' }}%;">
      <img src="{{ include.media.image | prepend: site.img }}" class="fixed" alt="{{ include.media.alt | normalize_whitespace | strip }}">
    </div>
  </div>
  {% if include.media.caption %}<figcaption>{{ incude.media.caption | smartify | normalize_whitespace | strip }}</figcaption>{% endif %}
</figure>

{% assign media_content = '' %}
{% assign myfig = '' -%}
{% assign vidmax = '' -%}
{% assign percentage = '' -%}
