{% assign myfig = include.image.style | split: ' ' -%}

{% if include.image.style contains 'video' %}

  {% assign mw = myfig[1] | default: 640 | strip | times: 1.0 -%}
  {% assign mh = myfig[2] | default: 480 | strip | times: 1.0 -%}
  {% if mw > 0 and mh > 0 %}
    {% assign percentage = mh | divided_by: mw | times: 100 | round: 2 %}
  {% endif -%}

  {% if mw < 600 %}
    {% assign vidmax = mw | divided_by: 612 | times: 100 | round: 2 %}
  {% endif %}

  <figure class="video" style="--video-max-width: {{ vidmax | default: '100' }}%">
    <div class="wrap" style="--percent: {{ percentage | default: '56.25' }}%;">
      <img src="{{ include.image.file | prepend: site.img }}" class="fixed" alt="{{ include.image.alt }}">
    </div>
    {% if include.image.caption %}<figcaption>{{ include.image.caption | smartify | normalize_whitespace | strip }}</figcaption>{% endif %}
  </figure>

{% endif -%}

{% if include.image.style contains 'photo' %}

  {% assign figratio = myfig[1] | default: 'square' | strip -%}
  {% assign figfloat = myfig[2] | default: 'left' | strip -%}

  <figure class="photo {{ figfloat }}">
    <img src="{{ include.image.file | prepend: site.img }}" class="ratio--{{ figratio }}" alt="{{ include.image.alt }}">
  </figure>

{% endif %}