{% assign ratio = include.image.ratio | split: '/' %}
{% assign mw = ratio[0] | default: 640 | strip | times: 1.0 -%}
{% assign mh = ratio[1] | default: 480 | strip | times: 1.0 -%}
{% if mw > 0 and mh > 0 %}
  {% assign percentage = mh | divided_by: mw | times: 100 | round: 2 %}
{% endif -%}

<figure class="full">
  <div class="image--wide" style="--percent: {{ percentage | default: '56.25' }}%;">
    <img src="{{ include.image.file | prepend: site.img }}" class="fixed" alt="{{ include.image.alt }}">
  </div>
  {% if include.image.caption %}<figcaption>{{ include.image.caption | smartify | normalize_whitespace | strip }}</figcaption>{% endif %}
</figure>
