{% assign img_s = include.image %}
{% assign myfig = img_s.style | split: ' ' -%}
{% assign figratio = myfig[0] | default: 'square' -%}
{% assign figfloat = myfig[1] | default: 'right' -%}
{% if myfig.size > 2 %}
  {% assign newfig = myfig | shift | shift | join: ' ' %}
{% endif -%}

{% unless include.is_home %}
  {% if img_s.style contains 'tilt' %}{% assign hedpad = 'fat' %}{% endif -%}
{% endunless -%}

<figure class="float {{ figfloat }} {{ newfig | default: 'nofx' }}"><img src="{{ img_s.file | prepend: site.img }}" class="ratio--{{ figratio }}" alt="{{ img_s.alt }}"></figure>

{% assign newfig = '' %}