{% assign img_r = include.image -%}
{% assign myfig = img_r.ratio | split: ' ' -%}
{% assign mw = myfig[0] | default: 640 | strip | times: 1.0 -%}
{% assign mh = myfig[1] | default: 480 | strip | times: 1.0 -%}

{% if mw > 0 and mh > 0 %}
  {% assign percentage = mh | divided_by: mw | times: 100 | round: 2 %}
{% endif -%}

{% if mw < 732 %}
  {% assign vidmax = mw | divided_by: 732 | times: 100 | round: 2 %}
{% endif %}

<figure class="video">
  <div class="vidmax" style="--video-max-width:{{ vidmax | default: '100' }}%;">
    <div class="wrap" style="--percent:{{ percentage | default: '56.25' }}%;">
      <img src="{{ img_r.file | prepend: site.img }}" class="fixed" alt="{{ img_r.alt }}">
    </div>
  </div>
  {% if img_r.caption %}<figcaption>{{ img_r.caption | smartify | normalize_whitespace | strip }}</figcaption>{% endif %}
</figure>

{% assign vidmax = '' -%}
{% assign percentage = '' -%}