{% assign myfig = include.image.style | split: ' ' -%}
{% assign figstyle = myfig[0] -%}
{% assign figratio = myfig[1] -%}
{% assign figfloat = myfig[2] -%}

{% if include.image.style contains 'block' %}

  <div class="figure block {{ figratio | default: 'square' }}">
    <img src="{{ include.image.file | prepend: site.img }}" class="fixed" alt="{{ include.image.alt }}">
  </div>

{% elsif include.image.style contains 'inline' %}

  <div class="figure inline {{ figfloat | default: 'right' }} {{ include.image.css | default: 'none' }}">
    <img src="{{ include.image.file | prepend: site.img }}" class="{{ figratio | default: 'square' }}" alt="{{ include.image.alt }}">
  </div>

{% endif -%} 