<aside class="nextprev">

  <!--
    <h2>More bombast</h2>
  -->

  <ul class="nextprev">

    {% if include.next %}
    <li>
      <h3><a href="{{ include.next.url | prepend: site.url }}">{{ include.next.title | strip_html | normalize_whitespace | smartify }}</a></h3>
      <p>{{ include.next.excerpt | strip_html | normalize_whitespace | smartify }}</p>
      <!-- <p class="datestamp">{{ include.next.date | date: "%d %b %Y" }}</p> -->
    </li>
    {% endif -%}

    {% if include.previous %}
    <li>
      <h3><a href="{{ include.previous.url | prepend: site.url }}">{{ include.previous.title | strip_html | normalize_whitespace | smartify }}</a></h3>
      <p>{{ include.previous.excerpt | strip_html | normalize_whitespace | smartify }}</p>
      <!-- <p class="datestamp">{{ include.previous.date | date: "%d %b %Y" }}</p> -->
    </li>
    {% endif -%}

  </ul>

</aside>
