{% assign raw = include.title | default: 'Oh noes, punk!' | strip | normalize_whitespace %}

{% assign lastchar = raw | slice: -1 %}
{% case lastchar %}
  {% when '"' or "'" %}
    {% assign grabstring = raw.size | minus: 1 %}
    {% assign titlef = raw | slice: 0, grabstring | append: '!!PUNC!!' | append: lastchar %}
  {% when '?' or '!' or '.' %}
    {% assign titlef = raw %}
  {% else %}
    {% assign titlef = raw | append: '!!PUNC!!' %}
{% endcase -%}
  
{% assign titlef = titlef | replace: '!!PUNC!!', '<span class="punc"></span>' | strip | smartify | normalize_whitespace %}
