{% assign htag = include.htag | default: 'h1' -%}

<section>

  {% if include.image.file %}
    <div class="image--thumb"><a href="{{ include.url | absolute_url }}"><img src="{{ include.image.file | default: 'shim.gif' | prepend: site.img }}" class="square--narrow" alt="{{ include.image.alt }}"></a></div>
  {% else -%}
    <div class="image--default"><a href="{{ include.url | absolute_url }}">{% include skull.svg %}<span></span></a></div>
  {% endif -%}

  <div class="text">
   <{{ htag }}><a href="{{ include.url | absolute_url }}">{{ include.title | strip | smartify }}</a></{{ htag }}>
   <p>{{ include.text | strip | strip_html | smartify }}{% if include.date %} <span class="daystamp">({{ include.date | date: '%d %b' }})</span>{% endif %}</p>
  </div>

</section>