{% assign title_arr = include.title | default: 'Empty?!' | strip | normalize_whitespace | split: ' ' -%}
{% assign new_title = '' | split: '' -%}
{% assign tsize = new_title | size | times: 1 %}

{% for word in title_arr %}

  {% if tsize > 2 and forloop.rindex == 2 %}
    {% assign wordf = word | prepend: '!!OPENSPAN!!' -%}

  {% elsif tsize > 2 and forloop.rindex == 1 %}
    {% assign wordf = word | append: '!!CLOSESPAN!!' -%}

  {% else %}
    {% assign wordf = word -%}

  {% endif -%}

  {% assign new_title = new_title | push: wordf -%}

{% endfor -%}

{% assign titlef = new_title | join: ' ' %}
{% assign titlef = titlef | replace: '!!OPENSPAN!!', '<span class="widont">' %}
{% assign titlef = titlef | replace: '!!CLOSESPAN!!', '</span>' | strip | smartify | normalize_whitespace -%}