{% assign p = include.page %}
{% assign copy = include.content | strip | normalize_whitespace %}
{% assign raw = p.title | strip | normalize_whitespace %}
{% assign wordcount = copy | number_of_words -%}
{% include --generate-titlef.html title=raw %}

{% capture datef %}<time datetime="{{ include.date | date: " %FT%T%:z" }}" pubdate
  itemprop="datePublished">({% if include.is_home %}<a href="{{ p.url | absolute_url }}">{{ p.date | date: '%-d %b' }}</a>{% else %}{{ p.date | date: '%-d %b' }}{% endif -%})</time>{% endcapture -%}
{% assign copysize = copy | size | minus: 4 %}
{% assign copy = copy | slice: 0, copysize | append: datef | append: '</p>' %}

<article><!-- {{ copy | number_of_words }} -->

  {% capture hedbox %}<header><h1>{% if include.is_home %}<a href="{{ p.url | absolute_url }}">{{ titlef }}</a>{% else %}{{ titlef }}{% endif %}</h1><p>{% endcapture %}
  {% assign copy = copy | replace_first: '</p>', '</p></header>' | replace_first: '<p>', hedbox -%}

  {{ copy | strip | normalize_whitespace }}

</article>