<aside><!-- next / prev -->

 {% if include.next %}
    {% assign txt = include.next.dek | default: include.next.excerpt | truncatewords: 20 | strip | strip_html | smartify | normalize_whitespace %}
    {% include _list-section.html title=include.next.title text=txt url=include.next.url htag='h2' %}
  {% endif -%}

  {% if include.previous %}
    {% assign txt = include.previous.dek | default: include.previous.excerpt | truncatewords: 20 | strip | strip_html | smartify | normalize_whitespace %}
    {% include _list-section.html title=include.previous.title text=txt url=include.previous.url htag='h2' %}
  {% endif -%}

</aside>
