
<header role="banner" class="{% if page.is_home %}{{ site.posts.first.label | default: site.posts.first.layout }}{% else %}{{ page.label | default: page.layout }}{% endif %}">

  <div class="wrap">

    <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>

    <p><a href="{{ site.url }}" aria-label="home" title="{{ site.title }}">{% if page.is_home and site.posts.first.emoji %}{{ site.posts.first.emoji }}{% else %}{{ page.emoji | default: site.emoji }}{% endif %}</a></p>

    <ul class="nav">
      <li>foo</li>
      <li>bar</li>
    </ul>
   
  </div>
  
  <div class="hr"></div>
 
</header>