<header role="banner">

  <div class="wrap">

    <div class="logo">
      <a href="{{ site.url }}"><img src="{{ 'default-icon.png' | prepend: site.img_dir | prepend: site.url }}" alt="logo"></a>
    </div>

    <div class="meta">
      <h1 class="brand"><a href="{{ site.url }}">{{ site.title }}</a></h1>
      <p class="tagline">{% if p.tagline %}{% include widont.html string=p.tagline %}{% else %}{% include widont.html string=site.description %}{% endif %}</p>
    </div><!--- hello -->

  </div>

</header>
