{% assign t = include.title | default: 'Empty?!' | strip | normalize_whitespace | smartify | split: ' ' -%}
{% assign sub = t.last | prepend: '!QQ!' -%}
{% assign titlef = t | pop | push: sub | join: ' ' | replace: ' !QQ!', '&nbsp;' -%}
{% if include.image %}
<div class="image">
  {% assign w = include.image.width | default: 800 | times: 1.0 -%}
  {% assign h = include.image.height | default: 450 | times: 1.0 -%}
  {% assign percent = h | divided_by: w | times: 100 | round: 2 -%}
  <figure><div class="wrap" style="padding-bottom:{{ percent }}%"><img src="{{ include.image | prepend: site.img_dir }}" alt=""></div></figure>
</div>
{% elsif include.thumb %}
<div class="thumb" style="background-image:url({{ include.thumb | prepend: site.img_dir | prepend: site.url }})"><a href="{{ include.url | prepend: site.url }}"><span></span></a></div>
{% else %}
<div class="shim"></div>
{% endif -%}
<div class="text">
  <h1><a href="{{ include.url | prepend: site.url }}">{{ titlef }}</a></h1>
  {% if include.description %}<p>{{ include.description | strip_html | normalize_whitespace | smartify }}{% if include.date %}&nbsp;<a href="{{ include.url | prepend: site.url }}">[{{ p.date | date: "%-d %b" }}]</a>{% endif %}</p>{% endif -%}
</div>
