{% assign p = include.page -%}
{% assign copy = include.content | strip | normalize_whitespace -%}

{% include --widow-fix.html title=p.title -%}
{% include --img-fix.html copy=copy -%}

{% assign hedsize = p.title | strip | normalize_whitespace | size -%}
{% if hedsize > 49 %}{% assign hedbuff = 'buff' %}{% else %}{% assign hedbuff = 'norm' %}{% endif -%}

{% if copy contains 'img src=' %}
<header role="banner">
  <h1><a href="{{ site.url }}">{{ site.title | capitalize }}</a></h1>
  <div class="hr"></div>
</header>
{% else %}
<header role="banner">
  <div class="logo">
    <a href="{{ site.url }}"><img src="{{ 'bomtomba.gif' | prepend: site.img }}" alt="{{ site.title }}"></a>
  </div>
  <div class="hr"></div>
</header>
{% endif -%}

<main role="main">

  <article><!-- {{ copy | number_of_words }} words -->

    <header>
      <h1>{% if include.is_home %}<a href="{{ p.url | prepend: site.url }}">{% endif %}{{ titlef }}{% if include.is_home %}</a>{% endif %}</h1>
      {% if p.is_post %}
      <div class="byline {{ hedbuff }}"><!-- {{ hedsize }} -->
        <p class="author">{{ page.author | default: site.author }}</p>
        {% if p.date %}<p><time pubdate datetime="{{ p.date | date: "%FT%T%:z" }}">{{ p.date | date: "%-d %b %Y" }}</time></p>{% endif %}
      </div>
      {% endif -%}
    </header>

    <div class="hr buff"></div>

    {{ copy }}

  </article>

  {% if include.is_home %}
    {% include --aside-extras.html %}
  {% endif -%}

</main>
