{% assign p = include.page %}
{% assign copy = include.content | strip %}
{% include _titlef-widont.html title=p.title -%}

<h1>{% if include.is_home %}<a href="{{ p.url | absolute_url }}">{{ titlef }}</a>{% else %}{{ titlef }}{% endif %}</h1>
  
{{ copy }}

{% unless include.is_home %}<p class="daystamp"><time datetime="{{ p.date | date: " %FT%T%:z" }}" pubdate itemprop="datePublished">{{ p.date | date_to_long_string }}</time></p>{% endunless %}

{% assign p = '' -%}
{% assign copy = '' -%}
{% assign titlef = '' -%}