{% assign p = include.page -%}
{% assign copy = include.content | strip | normalize_whitespace -%}

{% include --widow-fix.html title=p.title -%}

{% if copy contains 'img src=' %}
  {% assign copy = copy | replace: '<p><img', '<img' | replace: ' /></p>', '>' %}
{% endif -%}

{% assign hedsize = p.title | strip | normalize_whitespace | size -%}
{% if hedsize > 49 %}{% assign hedbuff = 'buff' %}{% else %}{% assign hedbuff = 'norm' %}{% endif -%}

<article><!-- {{ copy | number_of_words }} words -->

  <header class="{{ p.layout }}">
    <h1>{% if include.is_home %}<a href="{{ p.url | prepend: site.url }}">{{ titlef }}</a>{% else %}{{ titlef }}{% endif %}</h1>
    {% if p.is_post %}
    <div class="byline {{ hedbuff }}"><!-- {{ hedsize }} -->
      <p class="author"><i>by</i> {{ page.author | default: site.author }}</p>
      {% if p.date %}<p><time pubdate datetime="{{ p.date | date: "%FT%T%:z" }}">{{ p.date | date: "%-d %b %Y" }}</time></p>{% endif %}
    </div>
    {% endif %}
    <div class="hr buff"></div>
  </header>

  {{ copy }}

</article>
