{% assign p = include.page %}
{% assign copy = include.content | strip | normalize_whitespace -%}
{% assign titlef = p.source | default: p.title | strip | strip_html | smartify | normalize_whitespace %}

<div class="postwrap">
<h1>{% if include.is_home %}<a href="{{ p.url | absolute_url }}">{{ titlef }}</a>{% else %}{{ titlef }}{% endif %}</h1>
<blockquote>{{ copy | strip | normalize_whitespace }}</blockquote>
</div>

{% unless include.is_home %}
<p class="daystamp">via <a href="{{ p.via }}" target="_via">{{ p.via | remove:'http://' | remove:'https://' | remove: 'www.' | split:'/' | first | strip }}</a></p>
{% endunless %}