{% assign p = include.page %}
{% assign copy = include.content | strip -%}
{% include _titlef-punc.html title=p.title -%}

{% capture hedbox %}<div class="hed"><h1>{% if include.is_home %}<a href="{{ p.url | absolute_url }}">{{ titlef }}</a>{% else %}{{ titlef }}{% endif -%}</h1><p>{% endcapture -%}
{% assign copy = copy | replace_first: '</p>', '</p></div>' | replace_first: '<p>', hedbox -%}

{% if p.image %}
  {% if p.image.ratio %}{% capture new_ratio %} style="--fixed-ratio:{{ p.image.ratio }}"{% endcapture %}{% endif -%}
  <img class="{{ p.image.style | default: "american marquee" }}"{{ new_ratio }} src="{{ p.image.file | prepend: 'img/' | prepend: site.cdn }}" alt="{{ p.image.alt }}">
{% endif -%}

{{ copy }}

{% unless include.is_home %}<p class="daystamp"><time datetime="{{ p.date | date: " %FT%T%:z" }}" pubdate itemprop="datePublished">{{ p.date | date_to_string }}</time>{% endunless %}