{% assign p = include.page -%}
{% assign copy = include.content | strip | normalize_whitespace -%}

{% if copy contains 'img src=' %}
  {% assign style = 'inline' %}

{% elsif p.image %}
  {% assign style = 'figure' %}

{% else %}
  {% assign style = 'plain' %}

{% endif -%}

{% include --widow-fix.html title=p.title -%}
{% include --set-img-src.html %}

<article><!-- {{ copy | number_of_words }} words -->

  {% if p.image %}
  {% assign aspectr = p.image.ratio | default: '640x360' | split: 'x' -%}
  {% assign w = aspectr[0] | times: 1.0 -%}
  {% assign h = aspectr[1] | times: 1.0 -%}
  {% assign percent = h | divided_by: w | times: 100 | round: 2 -%}
  <figure>
    <div class="wrap" style="padding-bottom:{{ percent }}%"><img src="{{ p.image.file | prepend: site.img }}" alt="{{ p.image.alt | strip_html | strip | normalize_whitespace | truncate: 140 }}"></div>
    {% if p.media.caption -%}<figcaption>{{ p.media.caption | strip | normalize_whitespace | smartify | markdownify }}</figcaption>{% endif -%}
  </figure>
  {% endif -%}

  {% capture hed %}<header><h1>{% if include.is_home %}<a href="{{ p.url | prepend: site.url }}">{% endif %}{{ titlef }}{% if include.is_home %}</a>{% endif %}</h1><p>{% endcapture -%}

  {{ copy | replace_first: '</p>', '</p></header>' | replace_first: '<p>', hed }}

  <p><time pubdate datetime="{{ p.date | date: "%FT%T%:z" }}">{{ p.date | date: "%-d %b %Y" }}</time></p>

</article>
