{% assign p = include.page -%}
{% assign copy = include.content | strip | normalize_whitespace -%}

{% include --widow-fix.html title=p.title -%}

{% if copy contains 'img src=' %}
  {% assign copy = copy | replace: '<p><img', '<img' | replace: ' /></p>', '>' %}
{% endif -%}

<article><!-- {{ copy | number_of_words }} words -->

  {% capture hed %}<header><h1>{% if include.is_home %}<a href="{{ p.url | prepend: site.url }}">{% endif %}{{ titlef }}{% if include.is_home %}</a>{% endif %}</h1><p>{% endcapture -%}

  {{ copy | replace_first: '</p>', '</p></header>' | replace_first: '<p>', hed }}

  {% if p.is_post %}
  <div class="byline">
    <p class="author">{{ page.author | default: site.author }}</p>
    {% if p.date %}<p><time pubdate datetime="{{ p.date | date: "%FT%T%:z" }}">{{ p.date | date: "%-d %b %Y" }}</time></p>{% endif %}
  </div>
  {% endif %}
</article>
