{% assign p = include.page %}
{% assign copy = include.content | strip | normalize_whitespace -%}

{% include _widont.html title=p.title %}

<article class="photo"><!-- {{ copy | number_of_words }} -->

  {% include figure.html media=p.media %}

  <header>
    <h1>{% if include.is_home %}<a href="{{ p.url | absolute_url }}">{{ titlef }}</a>{% else %}{{ titlef }}{% endif %}</h1>
    {% if p.date %}{% include _byline.html date=p.date %}{% endif %}
  </header>
  
  {{ copy | strip | normalize_whitespace }}

</article>