{% assign p = include.page %}
{% assign copy = include.content | strip | normalize_whitespace -%}

{% include _titlef-widont.html title=p.title url=p.url is_home=include.is_home -%}

{% assign imagepoke = copy | slice: 0, 300 -%}
{% if include.is_home and forloop.index > 1 %}
  {% if imagepoke contains '<iframe ' %} 
    {% assign copy = copy | replace_first: '<iframe ', '<div class="figpad"></div><iframe ' %}
  {% endif -%}  
  {% if imagepoke contains '<p><img src=' %} 
    {% assign copy = copy | replace_first: '<p><img src=', '<div class="figpad"></div><img src=' | replace: '/></p>', '/>' %}
  {% endif -%}
{% endif -%}

{% if copy contains '<p><img src=' %}
  {% assign copy = copy | replace: '<p><img src=', '<img src=' | replace: '/></p>', '/>' %}
{% endif -%}

<header><!-- {{ include.content | number_of_words }}w -->
  <h1>{% if include.is_home %}<a href="{{ p.url | absolute_url }}">{{ titlef }}</a>{% else %}{{ titlef }}{% endif -%}</h1>
  <div class="byline">
    <p>{{ site.author }}</p>
    <p><time datetime="{{ p.date | date: " %FT%T%:z" }}" pubdate itemprop="datePublished">{% if include.is_home %}<a href="{{ p.url | absolute_url }}">{{ p.date | date_to_long_string }}</a>{% else %}{{ p.date | date_to_long_string }}</time>{% endif %}</time></p>
  </div>
</header>

{{ copy }}
