{% assign p = include.page %}
{% assign copy = include.content | strip | normalize_whitespace %}
{% include _widont.html title=p.title url=p.url is_home=include.is_home %}

{% if p.image.style %}
  {% include _fig-style.html image=p.image is_home=include.is_home %}
{% endif -%}

{% capture datef %}<span class="daystamp">&#32;&mdash;&nbsp;<time datetime="{{ p.date | date: " %FT%T%:z" }}" pubdate itemprop="datePublished">{{ p.date | date: '%d %b %Y' }}</time></span>{% endcapture -%}
{% assign copysize = copy | size | minus: 4 -%}
{% assign copy = copy | slice: 0, copysize | append: datef | append: '</p>' -%}

{% capture hedbox %}<div class="hed {{ hedpad | default: 'thin' }}"><h1>{{ titlestring }}</h1><p>{% endcapture -%}
{% assign copy = copy | replace_first: '</p>', '</p></div>' | replace_first: '<p>', hedbox -%}

<div class="copy">
  {{ copy }}
</div>
