{% assign p = include.page %}
{% assign copy = include.content | strip | normalize_whitespace -%}
{% include _kram_image.html %}
{% include _puncf.html title=p.title -%}

<article class="inline {% if include.is_home %}home{% else %}post{% endif %}">

{% capture hedbox %}
  <header>
    <h1>
    {% if include.is_home %}
      <a href="{{ p.url | absolute_url }}">{{ titlef }}</a>
    {% else %}
      {{ titlef }}
    {% endif %}
    </h1>
    <p>
{% endcapture -%}
{% assign copy = copy | replace_first: '</p>', '</p></header>' | replace_first: '<p>', hedbox -%}

{{ copy | strip | normalize_whitespace }}

{% if include.is_home %}
  {% include _permalink.html url=p.url %}
{% endif -%}

</article>