{% assign p = include.page %}
{% assign copy = include.content | strip %}
{% include _titlef-widont.html title=p.title -%}


{% if p.image %}<img class="{{ p.image.style | default: "marquee american top" }}" src="{{ p.image.file | prepend: 'img/' | prepend: site.cdn }}" alt="{{ p.image.alt }}">{% endif %}
  
<header>

  <h1>{% if include.is_home %}<a href="{{ p.url | absolute_url }}">{{ titlef }}</a>{% else %}{{ titlef }}{% endif %}</h1>
  {% if p.date %} 
  <div class="byline">
    {% unless forloop.index > 1 %}<p class="author">{{ p.author | default: site.author }}</p>{% endunless %}
    <p class="daystamp"><time datetime="{{ p.date | date: " %FT%T%:z" }}" pubdate itemprop="datePublished">{{ p.date | date_to_string }}</time></p>
  </div>
  {% endif -%}

</header>

{{ copy }}