{% assign p = include.page -%}
{% assign copy = include.content | strip | normalize_whitespace -%}

{% assign t = p.title | default: 'Empty?!' | strip | normalize_whitespace | smartify | split: ' ' -%}
{% if t.size > 1 %}
  {% assign sub = t.last | prepend: '!QQ!' -%}
  {% assign titlef = t | pop | push: sub | join: ' ' | replace: ' !QQ!', '&nbsp;' -%}
{% else -%}
  {% assign titlef = t %}
{% endif -%}

{% if copy contains 'img src=' %}
  {% assign copy = copy | replace: '<p><img', '<img' | replace: ' /></p>', '>' %}
{% endif -%}

<article><!-- {{ copy | number_of_words }} words -->

  {% if p.image.file %}
    {% assign aspectr = p.image.ratio | default: '640x360' | split: 'x' -%}
    {% assign w = aspectr[0] | times: 1.0 -%}
    {% assign h = aspectr[1] | times: 1.0 -%}
    {% assign percent = h | divided_by: w | times: 100 | round: 2 -%}
    <figure>
      <div class="wrap" style="padding-bottom:{{ percent }}%"><img src="{{ p.image.file | prepend: site.img_dir }}" alt="{{ p.image.alt | strip_html | strip | normalize_whitespace | truncate: 140 }}"></div>
      {% if p.image.caption %}<figcaption>{{ p.image.caption | strip | smartify | markdownify | normalize_whitespace }}</figcaption>{% endif -%}
    </figure>
  {% endif -%}

  {% capture headline %}{% if include.is_home %}<header class="home feature"><h1><a href="{{ p.url | prepend: site.url }}">{{ titlef }}</a></h1>{% else %}<header class="feature"><h1>{{ titlef }}</h1>{% endif %}
  <ul><li><a href="/about/">{{ p.author | default: site.author }}</a></li><li><time pubdate datetime="{{ p.date | date: "%FT%T%:z" }}">{{ p.date | date_to_string }}</time></li></ul></header><p>{% endcapture -%}

  {{ copy | replace_first: '<p>', headline | replace_first: '</p>', '</p></header>' | strip | normalize_whitespace }}

</article>
