<footer class="{{ page.label | default: page.layout }}">

  <div class="hr short"></div>

  <ul class="flatlist short">
    <li><a href="{{ site.url }}">Home</a></li>
    <li><a href="{{ 'posts' | absolute_url }}">Archive</a></li>
    <li><a href="{{ 'feed.xml' | absolute_url }}" target="_feed">RSS</a></li>
  </ul>

  <div class="copynotice">
    <p>This page published <time datetime="{{ page.date | date: '%FT%T%:z' }}" pubdate itemprop="datePublished">{{ page.date | date_to_long_string }}</time></p>
    <p>Copyright &copy; {{ site.author }}</p>
  </div>

</footer>