<footer class="{% if page.is_post or page.is_home %}post{% else %}page{% endif %}">
  <div class="hr"></div>
  <div class="flexwrap">
    <ul class="sitenav">
      <li><a href="{{ site.url }}">{{ site.title }}</a></li>
      <li><a href="{{ 'archive' | absolute_url }}">Archive</a></li>
      <li><a href="{{ 'about' | absolute_url }}">About</a></li>
    </ul>
    <ul class="socials">
      <li><a href="https://twitter.com/{{ site.socials }}" target="_twttr">Twitter</a></li>
      <li><a href="{{ 'feed.xml' | absolute_url }}" target="_rss">RSS</a></li>
    </ul>
  </div>
</footer>
