<footer>
  <div class="hr"></div>
  <ul class="datelist">
  {% include _datelist.html year=2021 start=6 end=12 %}
  </ul>
  <div class="hr"></div>
  <ul class="nav">
    <li class="copyright">Copyright &copy; {{ site.posts.first.date | date: '%Y' }} {{ site.author }}</li>
    <li><a href="{{ 'about' | absolute_url }}" aria-label="About the author">About</a></li>
    <li><a href="https://twitter.com/{{ site.socials }}">Twitter</a></li>
    <li><a href="{{ 'feed.xml' | absolute_url }}">RSS</a></li>
  </ul>
</footer>