</main>

<footer>

  <div class="hr double short"></div>

  {% assign tags = site.tags | sort %}
  <aside>
    <ul class="tags">
      {% for tag in tags %}
      {% assign tagtitle = tag[0] | capitalize | replace: '-', ' ' %}
      <!-- page.title = {{ page.title }} | tagtitle = {{ tagtitle }} | tag[0] = {{ tag[0] | capitalize | replace: '-', ' ' }} -->
      {% unless page.title == tagtitle %}
      <li><a href="/{{ tag | first | slugify }}/">{{ tagtitle }} ({{ tag | last | size %}})</a></li>
      {% endunless %}
      {% endfor %}
    </ul>
  </aside>

  <ul class="meta">{% unless page.is_about %}<li><a href="{{ '/about/' | prepend: site.url }}">About</a></li>{% endunless %}<li><a href="https://twitter.com/{{ site.twitter }}">Twitter</a></li><li><a href="/feed.xml">RSS</a></li></ul>

  {% if page.is_post %}
  <p>This page published {{ page.date | date: '%B %-d, %Y' }}</p>
  {% else %}
  <p>Site updated {{ site.posts.first.date | date: '%B %-d, %Y' }}</p>
  {% endif -%}

  <p>Copyright &copy; <a href="{{ '/about/' | prepend: site.url }}">{{ site.author }}</a></p>

</footer>

</body>
</html>
