<footer>
  <div class="hr"></div>
  <ul class="nav">
  	{% unless page.is_home %}<li><a href="{{ site.url }}">Home</a></li>{% endunless %}
	{% unless page.is_archive %}<li><a href="{{ 'archive' | absolute_url }}">Archive</a></li>{% endunless %}
	{% unless page.is_about %}<li><a href="{{ 'about' | absolute_url }}">About</a></li>{% endunless %}
	{% unless page.is_post %}<li><a href="{{ 'feed.xml' | absolute_url }}">RSS</a></li>{% endunless %}
  </ul>
  <div class="coda">
	<p>{% if page.date %}Published {% else %}Updated {% endif %} {{ page.date | default: site.posts.first.date | date_to_long_string }}</p>
	<p>{{ site.url | remove: 'https' | remove: 'http' | remove: '://' | remove: 'www.' | capitalize }} Copyright &copy; {{ site.posts.first.date | date: '%Y' }} {{ site.author }}</p>
  </div>
</footer>
