</main>

<footer>

  <div class="hr double short"></div>

  {% assign tags = site.tags | sort %}
  <ul class="datelist">
    {% include --generate-datelist.html start=10 end=10 %}
  </ul>

  <div class="hr bem short"></div>


  <ul class="copyright">{% unless page.is_about %}<li><a href="{{ '/about/' | relative_url }}">About</a></li>{% endunless %}<li><a href="https://twitter.com/{{ site.twitter }}">Twitter</a></li><li><a href="/feed.xml">RSS</a></li></ul>

  {% if page.is_post %}
  <p>This page published {{ page.date | date: '%B %-d, %Y' }}</p>
  {% else %}
  <p>Site updated {{ site.posts.first.date | date: '%B %-d, %Y' }}</p>
  {% endif -%}

  <p>Copyright &copy; <a href="{{ '/about/' | relative_url }}">{{ site.author }}</a></p>

</footer>

</body>
</html>
