{% capture picture -%}
  <img src="{{ include.image.file | prepend: site.img_dir }}" alt="{{ include.image.alt }}" {% if include.image.style %}class="{{ include.image.style }}"{% endif %}>
{% endcapture -%}

{% if include.image.style %}
  {% if page.is_home -%}<a href="{{ p.url | prepend: site.url }}">{{ picture }}</a>{% else %}{{ picture }}{% endif %}

{% else -%}
  <figure>
    {% if page.is_home -%}<a href="{{ p.url | prepend: site.url }}">{{ picture }}</a>{% else %}{{ picture }}{% endif %}
    {% if include.image.caption -%}<figcaption>{{ include.image.caption | default: 'Caption!' | strip | normalize_whitespace | truncate: 280 | smartify | markdownify }}</figcaption>{% endif -%}
  </figure>

{% endif -%}
