{%- if include.media.ratio -%}
  {% assign aspectr = include.media.ratio | default: '640x360' | split: 'x' %}
  {% assign w = aspectr[0] | times: 1.0 %}
  {% assign h = aspectr[1] | times: 1.0 %}
  {% assign percent = h | divided_by: w | times: 100 | round: 2 %}
{%- endif %}

<figure>

  {% if include.media.youtube -%}
      <div class="player"{% if include.media.ratio %} style="padding-bottom:{{ percent }}%"{% endif %} aria-label="media player"><iframe src="https://www.youtube.com/embed/{{ include.media.youtube }}?title=0&portrait=0&badge=0&byline=0&controls=2&autohide=1&iv_load_policy=3&modestbranding=1&rel=0&showinfo=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

  {% elsif include.media.vimeo -%}
      <div class="player"{% if include.media.ratio %} style="padding-bottom:{{ percent }}%"{% endif %} aria-label="media player"><iframe src="https://player.vimeo.com/video/{{ include.media.vimeo }}?badge=0&color=FF0033&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>

  {% elsif include.media.image -%}
    <img src="{{ include.media.image | prepend: site.img_dir | prepend: site.url }}" alt="{{ include.media.alt | default: '' | strip_html | strip | normalize_whitespace | truncate: 280 }}">
  {% endif -%}

  </div>

  {% if include.media.caption -%}<figcaption>{{ include.media.caption | default: 'Caption!' | markdownify | widont | amp | smartypants }}</figcaption>{% endif -%}

</figure>
