{% assign p = include.page %}
{% assign copy = include.content | strip | normalize_whitespace %}

{% include _puncf.html title=p.title url=p.url is_home=include.is_home %}

{% if p.date %}
  {% include _datef.html date=p.date url=p.url is_home=include.is_home %}
{% endif -%}

{% if p.image %}
  {% include _imagef.html image=p.image %}
{% endif -%}

{% if p.video %}
  {% include _video.html video=p.video %}
{% endif -%}

{% capture hedbox %}<div class="hed"><h1>{{ titlestring }}</h1><p>{% endcapture -%}
{% assign copy = copy | replace_first: '</p>', '</p></div>' | replace_first: '<p>', hedbox -%}

{{ copy }}
