{% if include.next.image and include.previous.image %}
  {% assign has_thumbs = true %}
{% endif -%}

<section class="nextprev">
  <ul class="card blurb {% if has_thumbs %}thumbs{% else %}no-thumbs{% endif %}">
    {% if include.next %}
    {% assign ntext = include.next.description | default: include.next.excerpt %}
    {% include _card.html title=include.next.title image=include.next.image text=ntext url=include.next.url has_thumbs=has_thumbs %}
    {% endif %}
    {% if include.previous %}
    {% assign ptext = include.previous.description | default: include.previous.excerpt %}
    {% include _card.html title=include.previous.title image=include.previous.image text=ptext url=include.previous.url has_thumbs=has_thumbs %}
    {% endif -%}
  </ul>
</section>