{% assign p = include.page %}
{% assign copy = include.content | strip | normalize_whitespace -%}
{% assign raw = p.title | strip | normalize_whitespace %}

{% assign wordcount = copy | number_of_words %}
{% if wordcount > 500 %}
  {% assign hedsize = 'lg' %}
{% else %}
  {% assign hedsize = 'sm' %}
  {% assign lastchar = raw | slice: -1 %}
  {% assign punc = '!!QQ!!' %}
  {% case lastchar %}
    {% when '"' or "'" or '\"' or "\'" %}
      {% assign grabstring = raw.size | times: 1 | minus: 1 %}
      {% assign raw = raw | slice: 0, grabstring | append: punc | append: lastchar %}
    {% when '!' or '?' or '.' %}
      {% comment %} make no changes to string {% endcomment %}
    {% else %}
      {% assign raw = raw | append: punc %}
  {% endcase -%}
{% endif -%}
{% if p.media %}
  {% assign hedsize = 'sm' %}
{% endif -%}

{% include --generate-titlef.html title=raw -%}
{% include --fix-kramdown-tags.html -%}

{% assign titlef = titlef | replace_first: '!!QQ!!', '<span class="punc"></span>' %}

<article><!-- {{ wordcount }} -->

  {% if p.media %}{% include --display-figure.html media=p.media is_home=include.is_home %}{% endif %}
  {% capture hed %}<header class="post {{ hedsize | default: 'lg' }}"><h1>{% if include.is_home %}<a href="{{ p.url | prepend: site.url }}">{{ titlef }}</a>{% else %}{{ titlef }}{% endif %}</h1><p>{% endcapture -%}
  {% assign copy = copy | replace_first: '</p>', '</p></header>' | replace_first: '<p>', hed  %}

  {{ copy }}

</article>
