{% assign p = include.page -%}
{% assign copy = include.content | strip | normalize_whitespace -%}

{% assign t = p.title | default: 'Empty?!' | strip | normalize_whitespace | smartify | split: ' ' -%}
{% if t.size > 1 %}
  {% assign sub = t.last | prepend: '!QQ!' -%}
  {% assign titlef = t | pop | push: sub | join: ' ' | replace: ' !QQ!', '&nbsp;' -%}
{% else -%}
  {% assign titlef = t %}
{% endif -%}

{% if copy contains 'img src=' %}
  {% assign copy = copy | replace: '<p><img', '<img' | replace: ' /></p>', '>' %}
{% endif -%}

{% if copy contains '<!--copynote-->' %}
  {% capture copynotice %}<!-- Copyright {{ p.date | date: "%Y" }} {{ p.author | default: site.author }} -->{% endcapture %}
  {% assign copy = copy | replace: '<!--copynote-->', copynotice %}
{% endif -%}

{% capture byline %}
{% if titlef.size > 55 %}
  {% assign bybuff = 'fat' %}
{% else %}
  {% assign bybuff = 'thin' %}
{% endif -%}
<div class="byline">
  <p class="author"><i>by</i> {{ page.author | default: site.author }}</p>
  <p><time pubdate datetime="{{ p.date | date: "%FT%T%:z" }}">{{ p.date | date: "%-d %b %Y" }}</time></p>
</div>
{% endcapture -%}

<article><!-- {{ copy | number_of_words }} words -->

  {% capture hed %}<header><h1>{% if include.is_home %}<a href="{{ p.url | prepend: site.url }}">{% endif %}{{ titlef }}{% if include.is_home %}</a>{% endif %}</h1>|byline|{% if titlef.size > 40 %}<!-- ( {{ titlef.size }} )--><div class="hr pagebreak"></div>{% endif %}<p>{% endcapture -%}

  {{ copy | replace_first: '</p>', '</p></header>' | replace_first: '<p>', hed | replace: '|byline|', byline }}

</article>
