
{% assign p = include.item -%}
{% assign copy = include.item.content | strip | normalize_whitespace -%}

{% capture datef -%}&nbsp;<span class="datestamp"><time pubdate datetime="{{ p.date | date: "%FT%T%:z" }}">(<a href="{{ p.url | prepend: site.url }}" title="permalink">{{ p.date | date: '%-d %b.' }}</a>)</time></span>{% endcapture -%}

{% assign copysize = copy | size | minus: 4 %}
{% assign copy = copy | slice: 0, copysize | append: datef | append: '</p>' %}

<article class="photo">

  {% if p.image.file -%}
  <figure class="wide">
    <img src="{{ p.image.file | prepend: site.img_dir }}" alt="{{ p.image.alt }}">
    {% if p.image.caption %}<figcaption><p>{{ p.image.caption | smartify }}</p></figcaption>{% endif -%}
  </figure>

  {% elsif p.collage -%}
  <figure>
    <div class="container">
      <div class="flex collage">
      {% for hash in p.collage -%}
        {% for photo in hash %}
          {% case photo[0] %}
            {% when 50 %}{% assign photosize = 'image--2' %}
            {% when 33 %}{% assign photosize = 'image--3' %}
            {% when 25 %}{% assign photosize = 'image--4' %}
            {% when 60 %}{% assign photosize = 'image--3-of-5' %}
            {% when 40 %}{% assign photosize = 'image--2-of-5' %}
            {% else %}{% assign photosize = 'image--1' %}
          {% endcase -%}
          <div class="photo {{ photosize }}"><img src="{{ photo[1] | prepend: site.img_dir | prepend: site.url }}" alt=""><!-- {{ photo[0] }} --></div>
        {% endfor -%}
      {% endfor %}
      </div>
    </div>
  </figure>

  {% endif -%}

  <div class="copy">

    {% assign t = p.title | default: 'Empty?!' | strip | normalize_whitespace | smartify -%}
    {% if include.is_home -%}<h1><a href="{{ p.url | prepend: site.url }}">{{ t }}</a></h1>{% else -%}<h1>{{ t }}</h1>{% endif -%}

    {{ copy }}

  </div>

</article>
