

{% assign datelist_raw = '' | split: ',' %}
{% for p in site.posts %}
  {% assign postdate = p.date | date: '%y-%m' %}
  {% assign datelist_raw = datelist_raw | push: postdate %}
{% endfor %}
{% assign datelist_arr = datelist_raw | uniq | sort %}
{% assign prev_year = '99' %}
{% for d in datelist_arr %} 
  {% assign getdate = d | split: '-' %}
  {% assign year = getdate[0] %}
  {% assign month = getdate[1] %}
  {% if year != prev_year %}
    <li class="year"><a href="{{ year | absolute_url }}">20{{ year }}</a></li>
  {% endif %}
  {% capture datestring %}20{{ year }}-{{ month }}-01{%endcapture %}
  {% assign monthf = datestring | date: '%b' %}
  <li><a href="{{ datestring | date: '%y/%m' | absolute_url }}">{{ monthf }}</a></li>
  {% assign prev_year = year %}
{% endfor %}

{% assign prev_mo = '99' %}
{% assign prev_yr = '99' %}
{% assign sorted = site.posts | sort: 'date' -%}
{% for item in sorted %}
  {% assign curr_mo = item.date | date: '%m' %}
  {% assign curr_yr = item.date | date: '%y' %}
  {%- if curr_yr != prev_yr %}
    <li class="year"><a href="{{ item.date | date: '%b' | absolute_url }}">{{ item.date | date: '%Y' }}</a></li>
  {% endif -%}
  {%- if curr_mo != prev_mo %}
    <li><a href="{{ item.date | date: '%y/%m' | absolute_url }}">{{ item.date | date: '%b' }}/{{ item.date | date: '%y' }}</a></li>
  {% endif -%}
  {% assign prev_mo = curr_mo %}
  {% assign prev_yr = curr_yr %}
{% endfor -%}