{% assign p = include.page -%}
{% assign copy = include.content | strip | normalize_whitespace -%}

{% assign t = p.title | default: 'Empty?!' | strip | normalize_whitespace | smartify | split: ' ' -%}
{% if t.size > 1 %}
  {% assign sub = t.last | prepend: '!QQ!' -%}
  {% assign titlef = t | pop | push: sub | join: ' ' | replace: ' !QQ!', '&nbsp;' -%}
{% else -%}
  {% assign titlef = t %}
{% endif -%}

{% if copy contains 'img src=' %}
  {% assign copy = copy | replace: '<p><img', '<img' | replace: ' /></p>', '>' %}
{% endif -%}

<article><!-- {{ copy | number_of_words }} words -->
  {% if p.media %}
    {% assign w = p.media.width | default: 800 | times: 1.0 -%}
    {% assign h = p.media.height | default: 450 | times: 1.0 -%}
    {% assign percent = h | divided_by: w | times: 100 | round: 2 -%}
    <figure class="feature"><!-- {{ w }} x {{ h }} | {{ percent }}% -->
      <div class="wrap" style="padding-bottom:{{ percent }}%">
        {% if p.media.vimeo %}
        <iframe src="https://player.vimeo.com/video/{{ p.media.vimeo }}?badge=0&color=0000FF&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        {% elsif p.media.youtube %}
        <iframe src="https://www.youtube.com/embed/{{ p.media.youtube }}?modestbranding=1&rel=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        {% elsif p.media.image %}
        <img src="{{ p.media.image | prepend: site.img_dir }}" alt="{{ p.media.alt | strip_html | strip | normalize_whitespace | truncate: 140 }}">
        {% endif %}
      </div>
      {% if p.media.caption %}<figcaption>{{ p.media.caption | strip | smartify | markdownify | normalize_whitespace }}</figcaption>{% endif -%}
    </figure>
  {% endif -%}

  <header class="{{ p.layout }}">
    {% if include.is_home %}<h1><a href="{{ p.url | prepend: site.url }}">{{ titlef }}</a></h1>{% else %}<h1>{{ titlef }}</h1>{% endif %}
  </header>

  {{ copy }}

  <div class="byline">
    <p class="author"><a href="/about/">{{ page.author | default: site.author }}</a></p>
    <p class="datestamp"><time pubdate datetime="{{ p.date | date: "%FT%T%:z" }}"><a href="{{ p.url | prepend: site.url }}">{{ p.date | date: "%-d %B %Y" }}</a></p>
  </div>

</article>
