{% assign content = include.content -%}

<article class="text">

  {% comment -%}
    !! Remove kramdown's extra markup around image files !!
  {% endcomment -%}
  {% if content contains 'img src=' -%}
    {% assign content = content | replace: '<p><img', '<img' | replace: ' /></p>', '>' -%}
  {% endif -%}

  {% comment -%}
    !! Hack to prevent widows !!
    Note that the smartify filter will strip &nbsp from string if used later
  {% endcomment -%}
  {% assign titlef = include.title | smartify | split: ' ' -%}
  {% assign sub = titlef.last | prepend: '!QQ!' -%}
  {% assign titlef = titlef | pop | push: sub | join: ' ' | replace: ' !QQ!', '&nbsp;' -%}

  {% if include.url -%}
  <h1 class="home link"><a href="{{ include.url | prepend: site.url }}">{{ titlef | default: include.title }}</a></h1>

  {% else -%}
  <h1 class="post">{{ titlef | default: include.title }}</h1>

  {% endif -%}

  {% comment -%}
    !! Media embed !!
  {% endcomment -%}

  {% if include.media -%}

    {% if include.media.ratio -%}
      {% assign aspectr = include.media.ratio | default: '640x360' | split: 'x' -%}
      {% assign w = aspectr[0] | plus: 0.0 -%}
      {% assign h = aspectr[1] | plus: 0.0 -%}
      {% assign percent = h | divided_by: w | times: 100 | round: 2 -%}
    {% endif -%}

  <figure>

    <div class="player"{% if percent %} style="padding-bottom:{{ percent }}%"{% endif %} aria-label="media player">

    {% if include.media.vimeo -%}
    <iframe src="https://player.vimeo.com/video/{{ include.media.vimeo }}?badge=0&color=0000FF&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    {% elsif include.media.youtube -%}
    <iframe src="https://www.youtube.com/embed/{{ include.media.youtube }}?title=0&portrait=0&badge=0&byline=0&controls=2&autohide=1&iv_load_policy=3&modestbranding=1&rel=0&showinfo=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    {% endif -%}
    </div>

    {% if include.media.caption %}<figcaption>{{ include.media.caption | default: 'Caption!' | strip | normalize_whitespace | truncate: 280 | smartify | markdownify }}</figcaption>{% endif -%}

  </figure>

  {% endif -%}

  {{ content }}

  {% if include.url -%}
  <p class="permalink"><a href="{{ include.url | prepend: site.url }}" title="Permanent link to this entry">&#9679;</a></p>

  {% else -%}
  <p class="datestamp"><time pubdate datetime="{{ include.date | date: "%FT%T%:z" }}">{{ include.date | date_to_string }}</time></p>

  {% endif -%}

</article>
