{% assign content = include.content -%}

<article>

  {% comment -%}
    !! Remove kramdown's extra markup around image files !!
  {% endcomment -%}
  {% if content contains 'img src=' -%}
    {% assign content = content | replace: '<p><img', '<img' | replace: ' /></p>', '>' -%}
  {% endif -%}

  {% comment -%}
    !! Hack to prevent widows !!
    Note that the smartify filter will strip &nbsp from string if used later
  {% endcomment -%}
  {% assign titlef = include.title | smartify | split: ' ' -%}
  {% assign sub = titlef.last | prepend: '!QQ!' -%}
  {% assign titlef = titlef | pop | push: sub | join: ' ' | replace: ' !QQ!', '&nbsp;' -%}

  <header class="hed">
  {% if include.url -%}
    <h1 class="title"><a href="{{ include.url }}">{{ titlef | default: include.title }}</a></h1>
  {% else -%}
    <h1>{{ titlef | default: include.title }}</h1>
  {% endif -%}
    <p class="datestamp"><time pubdate datetime="{{ include.date | date: "%FT%T%:z" }}">{{ include.date | date_to_string }}</time></p>
  </header>

  {{ content }}

  {% if include.url %}<p class="permalink"><a href="{{ include.url }}" aria-label="Permanent link to this entry">&#9679;</a></p>{% endif -%}

</article>
