{% assign p = include.page %}
{% assign copy = include.content | strip | normalize_whitespace %}
{% assign raw = p.title | strip | normalize_whitespace %}
{% assign wordcount = copy | number_of_words -%}

{% if wordcount > 175 or copy contains '<img' %}
  {% assign hedsize = 'post' %}
{% else %}
  {% assign hedsize = 'micro' %}
{% endif -%}

{% include --generate-titlef.html title=raw %}
{% include --fix-kramdown-tags.html -%}

{% if p.date %}
  {% capture datef %}{% assign dstring = p.date | date: '%-d %b' %}&nbsp;<time datetime="{{ p.date | date: "%FT%T%:z" }}" pubdate itemprop="datePublished">
    {% if include.is_home %}
      <a href="{{ p.url | absolute_url }}">({{ dstring}})</a>
    {% else%}
      ({{ dstring }})
    {% endif %}
    </time>
  {% endcapture %}
  {% assign datef = datef | strip | normalize_whitespace %}
  {% assign copysize = copy | size | minus: 4 %}
  {% assign copy = copy | slice: 0, copysize | append: datef | append: '</p>' %}
{% endif -%}

<article><!-- {{ copy | number_of_words }} -->
  {% capture hed %}<header class="{{ hedsize }}"><h1>{% if include.is_home %}<a href="{{ p.url | absolute_url }}">{{ titlef }}</a>{% else %}{{ titlef }}{% endif %}</h1><p>{% endcapture %}
  {% assign copy = copy | replace_first: '</p>', '</p></header>' | replace_first: '<p>', hed -%}

  {{ copy }}
</article>
