{% if page.is_home -%}
<aside>
  <hr>
  <div class="prev">
    <h2 class="index">Also this month</h2>
    <ul class="recent">
      {% for p in site.posts limit: 5 offset: 1 %}
      <li><a href="{{ p.url | prepend: site.url }}">{{ p.title | smartify }}</a> &mdash; {{ p.excerpt | strip_html | strip | normalize_whitespace | smartify | truncate: 280 }}</li>
      {% endfor %}
    </ul>
  </div>
</aside>
{% elsif page.is_post -%}
<aside>
  <hr>
  <div class="prev">
    <h2 class="index">Previously:</h1>
    {% if page.previous -%}
    <p><a href="{{ page.previous.url | prepend: site.url }}">{{ page.previous.title | smartify }}</a> &mdash; {{ page.previous.excerpt | strip_html | strip | normalize_whitespace | smartify | truncate: 280 }}</p>
    {% else -%}
    <p><a href="{{ '/about/' | prepend: site.url }}">But enough about me</a> &mdash; After all this you want to know more? About me. And the site. And whatever. Well, then. Here ya go.</p>
    {% endif -%}
  </div>
</aside>
{% endif -%}
