{% assign p = include.page -%}
{% assign copy = include.excerpt | strip_html | strip | smartify | normalize_whitespace -%}

{% if p.media %}
  {% include _figure.html media=p.media is_home=true %}
{% endif -%}

{% if p.hedlink %}{% assign grabsize = p.hedlink %}{% else %}{% assign grabsize = 3 %}{% endif %}
{% assign oldphrase = copy | truncatewords: grabsize, '' %}
{% capture newlink %}<a href="{{ p.url | absolute_url }}" class="hedlink">{{ oldphrase }}</a>{% endcapture -%}
{% assign copy = copy | replace_first: oldphrase, newlink -%}

<div class="copy"><!-- teaser: {{ include.excerpt | number_of_words }}w -->
  {{ copy }}
</div>
