{% assign t = include.title | default: 'Empty?!' | strip | normalize_whitespace | smartify | split: ' ' -%}
{% if t.size > 1 %}
  {% assign sub = t.last | prepend: '!QQ!' -%}
  {% assign titlef = t | pop | push: sub | join: ' ' | replace: ' !QQ!', '&nbsp;' -%}
{% else -%}
  {% assign titlef = t %}
{% endif -%}

<article>

  {% if include.media.image %}
    {% assign w = include.media.image.width | default: 800 | times: 1.0 %}
    {% assign h = include.media.image.height | default: 450 | times: 1.0 %}
    {% assign percent = h | divided_by: w | times: 100 | round: 2 -%}
    <figure><!-- {{ w }} x {{ h }} | {{ percent }}% -->
      <div class="wrap" style="padding-bottom:{{ percent }}%"><img src="{{ include.media.image | prepend: site.img_dir }}" alt="{{ include.media.alt | strip_html | strip | normalize_whitespace | truncate: 140 }}"></div>
    </figure>
  {% endif -%}

  <header>
    <h1 class="teaser"><a href="{{ p.url }}">{{ titlef }}</a></h1>
  </header>

  <p class="teaser">{{ include.excerpt | strip | strip_html }}&nbsp;<a class="more" href="{{ include.url | prepend: site.url }}" title="More">&#187;</a></p>

</article>
