
{% assign p = include.item -%}
{% assign copy = include.item.content -%}
{% assign wc = copy | number_of_words -%}

{% if copy contains 'img src=' -%}
  {% assign copy = copy | replace: '<p><img', '<img' | replace: ' /></p>', '>' -%}
{% endif -%}

<article class="text"><!-- {{ wc }} words -->
  
  {% if p.image.file -%}
  <figure>
    <img src="{{ p.image.file | prepend: site.img_dir }}" alt="{{ p.image.alt }}">
    {% if p.image.caption %}<figcaption><p>{{ p.image.caption | smartify }}</p></figcaption>{% endif -%}
  </figure>
  {% endif -%}

  {% comment -%} !! hack to avoid widows !! {% endcomment -%}
  {% assign t = p.title | default: 'Empty?!' | strip | normalize_whitespace | smartify | split: ' '-%}
  {% if t.size > 1 -%}
    {% assign sub = t.last | prepend: '!QQ!' -%}
    {% assign t = t | pop | push: sub | join: ' ' | replace: ' !QQ!', '&nbsp;' -%}
  {% endif -%}

  {% capture headline -%}
  <header>
    {% if include.is_home -%}<h1><a href="{{ p.url | prepend: site.url }}">{{ t }}</a></h1>{% else -%}<h1>{{ t }}</h1>{% endif -%}
    <p>{% endcapture -%}

  {% assign copy = copy | replace_first: '<p>', headline | replace_first: '</p>', '</p></header>' %}

  <div class="copy">

    {{ copy }}

    <p class="datestamp"><time pubdate datetime="{{ p.date | date: "%FT%T%:z" }}"><a href="{{ p.url | prepend: site.url }}" title="permalink">{{ p.date | date: '%-d %b. %Y' }}</a></time></p>

  </div>

</article>
