{% assign content = include.content -%}

<article class="{% if include.url %}home{% else %}post{% endif %}">

  {% comment -%}
    !! Remove kramdown's extra markup around image files !!
  {% endcomment -%}
  {% if content contains 'img src=' -%}
    {% assign content = content | replace: '<p><img', '<img' | replace: ' /></p>', '>' -%}
  {% endif -%}

  {% comment -%}
    !! Hack to prevent widows !!
    Note that the smartify filter will strip &nbsp from string if used later
  {% endcomment -%}
  {% assign titlef = include.title | smartify | split: ' ' -%}
  {% assign sub = titlef.last | prepend: '!QQ!' -%}
  {% assign titlef = titlef | pop | push: sub | join: ' ' | replace: ' !QQ!', '&nbsp;' -%}

  {% if include.url -%}
  <h1 class="home link"><a href="{{ include.url | prepend: site.url }}">{{ titlef | default: include.title }}</a></h1>

  {% else -%}
  <h1 class="post">{{ titlef | default: include.title }}</h1>

  {% endif -%}

  {% comment -%}
    !! Media embed !!
  {% endcomment -%}

  {{ content }}

  {% if include.url -%}
  <p class="datestamp permalink"><time pubdate datetime="{{ include.date | date: "%FT%T%:z" }}"><a href="{{ include.url | prepend: site.url }}" title="Permanent link to this entry">{{ include.date | date_to_string }}</a></time></p>

  {% else -%}
  <p class="datestamp"><time pubdate datetime="{{ include.date | date: "%FT%T%:z" }}">{{ include.date | date_to_string }}</time></p>

  {% endif -%}

</article>
