{% assign p = include.page %}
{% assign copy = include.content | strip | normalize_whitespace -%}

{% include --generate-titlef.html title=p.title -%}
{% include --fix-kramdown-tags.html -%}

<article class="{{ page.layout }}"><!-- {{ wc }} words -->

  {% if p.media %}{% include --display-figure.html media=p.media %}{% endif %}
  {% capture hed %}<header><h1>{% if include.is_home %}<a href="{{ p.url | prepend: site.url }}">{{ titlef }}</a>{% else %}{{ titlef }}{% endif %}</h1><p>{% endcapture -%}
  {% assign copy = copy | replace_first: '</p>', '</p></header>' | replace_first: '<p>', hed  %}

  {{ copy }}

</article>
