{% assign t = include.title | default: 'Empty?!' | strip | normalize_whitespace | smartify | split: ' ' -%}
{% assign sub = t.last | prepend: '!QQ!' -%}
{% assign titlef = t | pop | push: sub | join: ' ' | replace: ' !QQ!', '&nbsp;' -%}
<li class="{% if include.is_home %}home{% else %}norm{% endif %}">
  {% if include.image %}
    <div class="thumb" style="background-image:url(/assets/img/{{ include.image }})"></div>
  {% endif %}
  <h2><a href="{{ include.url | prepend: site.url }}">{{ titlef }}</a></h2>
  <p>{{ include.excerpt | strip_html | normalize_whitespace | smartify }}{% if include.date %} <time pubdate datetime="{{ p.date | date: "%FT%T%:z" }}"><a href="{{ p.url | prepend: site.url }}">[{{ p.date | date: "%-d %b" }}]</a></time>{% endif -%}</p>
</li>
