{% assign t = include.title | default: 'Empty?!' | strip | normalize_whitespace | smartify | split: ' ' -%}
{% assign sub = t.last | prepend: '!QQ!' -%}
{% assign titlef = t | pop | push: sub | join: ' ' | replace: ' !QQ!', '&nbsp;' -%}
{% assign wc = include.description | number_of_words | times: 1.0 -%}
{% if include.style %}
<li class="{{ include.style }}">
{% else %}
<li>
{% endif -%}
  {% if include.image %}
  <div class="thumb" style="background-image:url(/assets/img/{{ include.image }})"><a href="{{ include.url | prepend: site.url }}"><span></span></a></div>
  {% else %}
    {% if include.style == 'home' and forloop.first == false %}<div class="shim"></div>{% endif %}
  {% endif -%}
  <div class="meta"><!-- {{ wc }} words -->
    {% assign blurb = include.description | strip_html | normalize_whitespace -%}
    <h2><a href="{{ include.url | prepend: site.url }}">{{ titlef }}</a></h2>
    <p>{% if include.style == 'rela' %}{{ blurb | truncate: 65, "..." | smartify }}{% else %}{{ blurb | smartify }}{% endif %}{% if include.date %} <time pubdate datetime="{{ p.date | date: "%FT%T%:z" }}"><a href="{{ include.url | prepend: site.url }}">[{{ p.date | date: "%-d %b" }}]</a></time>{% endif -%}</p>
  </div>
</li>
