{% assign p = include.page -%}
{% assign copy = include.content | strip | normalize_whitespace -%}

{% assign t = p.title | default: 'Empty?!' | strip | normalize_whitespace | smartify | split: ' ' -%}
{% if t.size > 1 %}
  {% assign sub = t.last | prepend: '!QQ!' -%}
  {% assign titlef = t | pop | push: sub | join: ' ' | replace: ' !QQ!', '&nbsp;' -%}
{% else -%}
  {% assign titlef = t %}
{% endif -%}

{% capture datef -%}&nbsp;<time pubdate datetime="{{ p.date | date: "%FT%T%:z" }}"><em>({{ p.date | date: "%-d %b" }})</em>{% endcapture -%}

{% assign copysize = copy | size | minus: 4 %}
{% assign copy = copy | slice: 0, copysize | append: datef | append: '</p>' %}

<article><!-- {{ copy | number_of_words }} words -->

  {% if p.media %}
    {% assign w = p.media.width | default: 800 | times: 1.0 -%}
    {% assign h = p.media.height | default: 450 | times: 1.0 -%}
    {% assign percent = h | divided_by: w | times: 100 | round: 2 -%}
    <figure><!-- {{ w }} x {{ h }} | {{ percent }}% -->
      <div class="wrap" style="padding-bottom:{{ percent }}%">
        {% if p.media.vimeo %}
        <iframe src="https://player.vimeo.com/video/{{ p.media.vimeo }}?badge=0&color=0000FF&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        {% elsif p.media.youtube %}
        <iframe src="https://www.youtube.com/embed/{{ p.media.youtube }}?modestbranding=1&rel=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        {% endif %}
      </div>
      {% if p.media.caption %}<figcaption>{{ p.media.caption | strip | smartify | markdownify | normalize_whitespace }}</figcaption>{% endif -%}
    </figure>
  {% endif -%}

  {% capture headline %}<header class="{{ p.layout }} {% if p.media %}quarter-buff{% else %}half-buff{% endif %}"><h1>{% if include.is_home %}<a href="{{ p.url | prepend: site.url }}">{{ titlef }}</a>{% else %}{{ titlef }}{% endif -%}</h1><p>{% endcapture -%}

  {{ copy | replace_first: '<p>', headline | replace_first: '</p>', '</p></header>' | strip | normalize_whitespace }}

</article>
