{% assign content = include.content -%}

<article class="video">

  {% comment -%}
    !! The main part: Embed the video based on frontmatter page.media values !!
  {% endcomment -%}

  {% if include.media -%}

    {% if include.media.ratio -%}
      {% assign aspectr = include.media.ratio | default: '640x360' | split: 'x' -%}
      {% assign w = aspectr[0] | plus: 0.0 -%}
      {% assign h = aspectr[1] | plus: 0.0 -%}
      {% assign percent = h | divided_by: w | times: 100 | round: 2 -%}
    {% endif -%}

  <figure>

    <div class="player"{% if percent %} style="padding-bottom:{{ percent }}%"{% endif %} aria-label="media player">

    {% if include.media.vimeo -%}
    <iframe src="https://player.vimeo.com/video/{{ include.media.vimeo }}?badge=0&color=0000FF&title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    {% elsif include.media.youtube -%}
    <iframe src="https://www.youtube.com/embed/{{ include.media.youtube }}?title=0&portrait=0&badge=0&byline=0&controls=2&autohide=1&iv_load_policy=3&modestbranding=1&rel=0&showinfo=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    {% endif -%}
    </div>

    {% if include.media.caption %}<figcaption>{{ include.media.caption | default: 'Caption!' | strip | normalize_whitespace | truncate: 280 | smartify | markdownify }}</figcaption>{% endif -%}

  </figure>

  {% endif -%}

  {% comment -%}
    !! Format the page title inside a header tag !!
  {% endcomment -%}

  {% assign raw_headline = include.title | strip | normalize_whitespace | smartify -%}

  {% capture punc -%}{% unless include.title contains '.' or include.title contains '!' or include.title contains '?' -%}<span class="punc"></span>{% endunless -%}{% endcapture -%}

  {% capture titlef -%}{% if include.url -%}<h1 class="linktitle"><a href="{{ include.url | prepend: site.url }}">{{ raw_headline}}</a>{% else -%}<h1>{{ raw_headline }}{% endif -%}{{ punc }}</h1>&#32;{% endcapture -%}

  {% assign headline = titlef | prepend: '<header class="lede">' | append: '<p>' -%}

  {{ content | replace_first: '<p>', headline | replace_first: '</p>', '</p></header>' }}

  {% if include.url -%}
  <p class="permalink"><a href="{{ include.url | prepend: site.url }}" title="Permanent link to this entry">&#9679;</a></p>

  {% else -%}
  <p class="datestamp"><time pubdate datetime="{{ include.date | date: "%FT%T%:z" }}">{{ include.date | date_to_string }}</time></p>

  {% endif -%}

</article>
