article
  margin: var(--buffer) auto 0 auto
  max-width: var(--page-width)

  h2, h3, h4, h5, h6
    margin-top: var(--shim)
    font-size: 1em

  p
    margin-top: var(--shim-n)

  ul, ol
    margin: 0 0 var(--shim) var(--shim)
    li
      margin-top: 0

  blockquote
    padding-left: var(--shim)
    border-left: medium solid var(--color-half)

  blockquote,
  li + p,
    margin-top: 0

  img
    display: block
    margin: var(--shim) 0
    width: auto
    height: auto
    max-width: 100%
    max-height: 480px
    background-color: var(--color-back)
    border-radius: 4px
    &.first
      margin-top: 0
    @extend .clearfix

  iframe[src*="https://www.youtube.com"],
  iframe[src*="https://www.youtube-nocookie.com"],
  iframe[src*="https://player.vimeo.com"]
    margin: var(--shim) 0 0
    width: 100%
    height: unset
    aspect-ratio: 16/9
    background-clip: content-box
    background-color: var(--color-back)
    &.first
      margin-top: 0

.figpad
    padding-top: var(--nudge)
    iframe[src*="https://www.youtube.com"],
    iframe[src*="https://www.youtube-nocookie.com"],
    iframe[src*="https://player.vimeo.com"]
      margin-top: 0
    img
      margin-top: 0

//-----------------------------------------------------------------------------

@media screen and (min-width: 27rem)

    .widont
      white-space: nowrap
