article
  margin-top: calc(var(--shim--double) - var(--sliver))

  h2, h3, h4, h5, h6
    font-size: 1em
  
  p
    margin-top: var(--shim--tight)
  
  ul, ol
    margin: 1em 0 0 var(--shim--tight)
    li
      margin-top: var(--shim--tight)
  
  blockquote
    padding-left: var(--shim--tight)
    border-left: thin solid $mix-color
  
  blockquote,
  li + p,
    margin-top: 0

  figure
    margin-bottom: calc(1em + var(--shim))
    padding-top: var(--shim)
    figcaption
      p
        font-size: var(--fs--xs)
        line-height: var(--lh--tight)

//-----------------------------------------------------------------------------

@media screen and (min-width: 30rem)

  article
    figure.narrow
      max-width: calc(var(--page-width) / 2)

  span.widont
    white-space: nowrap