article
  max-width: var(--page-width)
  margin: 0 auto var(--shim-2x)
 
  h1
    color: var(--color-black)
    a:link, a:visited
      text-decoration: none
      color: var(--color-black)
    a:hover
      text-decoration: underline

  h2, h3, h4, h5, h6
    margin-top: var(--shim-n)
    font-size: 1em

  p
    margin-top: var(--shim-n)

  ul, ol
    margin: var(--shim-n) 0 0 var(--shim-n)
    li
      margin-top: 0

  blockquote
    padding-left: var(--shim-n)
    border-left: thin solid var(--color-half)

  blockquote,
  li + p,
    margin-top: 0

  img
    max-width: 100%
    max-height: 500px
    width: auto
    height: auto
    border-radius: 4px
    background-color: var(--color-back)

  .wrap
    max-width: var(--page-width)
    margin: 0 auto

  .figpad
    margin: var(--shim-n) 0

  .daystamp
    color: var(--color-half)
    a:link, a:visited
      text-decoration: none
      color: var(--color-half)
    a:hover
      text-decoration: underline

//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem)

  article
    .widont
      white-space: nowrap
