aside
  margin-top: var(--shim)
  div.prev
    margin-top: var(--shim)
  div.np
    h2, p
      margin: 0
    h2
      font-size: 1em
      line-height: var(--lh--tight)
    &.next
      margin-top: var(--shim)

//-----------------------------------------------------------------------------

@media screen and (min-width: 30rem)

  aside
      div.np
        h2, p
          display: inline
        h2
          line-height: var(--lh)
          &::after
            content: ':\20'
        &.next
          margin-top: 0
