header[role="banner"]
  border-bottom: var(--border-style)
  .logo
    margin: var(--shim-n) auto
    display: flex
    align-items: center
    justify-content: space-between
    .text
      display: flex
      align-items: center
      h1
        flex: 1
        font-family: 'Sarina', cursive
        font-size: var(--hed-size)
        font-weight: 400
        font-variant-ligatures: common-ligatures
        line-height: 1
        color: $logo-color
        a:link, a:visited
          color: $logo-color
          text-shadow: -2px 2px 2px $shock-color
          text-decoration: none
        a:hover
          text-decoration: underline
    .image
      p
        font-size: 20px  
        line-height: 1
      &.left 
        display: none

//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem)

  header[role="banner"]
    padding: 0 var(--shim)
    height: var(--shim-2x)
    .logo
      max-width: var(--page-width)
      margin: 0 auto
      height: var(--shim-2x)
      //order: 1
      //.image.left
        display: block
        order: -1
      //.image.right
        order: 2
