header[role="banner"]
  display: flex
  align-items: center

  div.logo
    img
      width: var(--bem-double)
      height: var(--bem-double)
      border-radius: 4px

  div.hr
    flex: 1
    margin-left: 0.5em
