
header[role="banner"]

  position: relative
  max-width: $max-width
  margin: 0 auto
  display: flex
  align-items: center
  justify-content: flex-start
  background-color: $bg-color
  border-radius: 4px
  &:hover
    background-color: $shock-color
  span
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: 1
    background-image: url('/assets/img/shim.gif')
  .icon
    display: flex
    align-items: center
    justify-content: center
    width: bem(2) + 1em
    height: bem(2)
    padding-right: 1em
    background-color: $body-color
    border-radius: 4px 0 0 4px
    svg
      width: bem(2)
      height: bem(2)
      fill: $logo-color
    img
      width: bem(1.25)
      height: bem(1.25)
