header[role="banner"]

  div.text
    display: flex
    align-items: center
    justify-content: space-between
    h1
      font-family: 'Sancreek', $serif
      font-size: 205.9%
      font-weight: 400
      line-height: 1
      text-transform: uppercase
      a:link,
      a:visited
        color: $logo-color
    span.decoration::after
      content: '*'
      font-family: 'Sancreek', $serif
      font-size: 205.9%
      font-weight: 400
      line-height: 1
      text-transform: uppercase
      color: $logo-color
      a:link,
      a:visited
        color: $logo-color

//-----------------------------------------------------------------------------

@media screen and (min-width: 40em)

  header[role="banner"]
    div.text
      h1
        font-size: 264.7%
      span.decoration::after
        font-size: 264.7%
