//-----------------------------------------------------------------------------

header[role="banner"]
  margin: var(--bem) auto 0 auto
  max-width: var(--page-width)
  h1,
  h2
    font-size: var(--logo-size)
    font-weight: 700
    line-height: var(--hed-lh)
    text-transform: lowercase
  h1::after,
  h2::after
    content: ".\20"

//-----------------------------------------------------------------------------

@media screen and (min-width: 20em)

  header[role="banner"] h1, h2
    display: inline
    line-height: 1
