
header[role="banner"]
  max-width: var(--page-width)
  margin: var(--shim) auto 0 auto
  display: flex
  align-items: center
  div.logo
    margin-left: -2px
    display: flex
    align-items: center
    h1
      font-family: 'Sarina', cursive
      font-size: var(--hed-size-md)
      font-weight: 400
      text-transform: lowercase
      a:link, a:visited
        color: $logo-color
        text-shadow: -2px 2px $shock-color
        text-decoration: none
  div.sparkles
    margin-top: 3px
    &::after
      content: '*:･ﾟ✧*:･ﾟ✧'
      color: $shadow-color