/*
  Base styles for every page:
    - header
    - footer
    - most margins
    - pagebreak delimiter for homepage

// Mixins
@function bem($size: 1, $context: $line-height)
  @return ($size * $context) * 1em

@mixin font-ratio($size: 1, $context: $line-height)
    font-size: percentage($size)
    line-height: $context / $size

// Max column width
$max-width: 34em
$line-height: (30/18)

// Colors
$body-color:    #E2E2E2 !default
$text-color:    #161616 !default

$logo-color:    #00F
$select-color:  #FFC

$mix-color:     mix($body-color, $text-color, 50%) !default
$light-mix:     lighten($mix-color, 20%) !default
$dark-mix:      darken($mix-color, 20%) !default

$link-color:    blue !default
$visited-color: purple !default
$active-color:  orange !default

// Fonts
$serif: Georgia, Cambria, 'Century Schoolbook L', serif
$sans:  Verdana, 'Bitstream Vera Sans', Geneva, sans-serif
$system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'

//-----------------------------------------------------------------------------

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

@-ms-viewport
  width: device-width

body
  background-color: $body-color
  color: $text-color

  text-rendering: optimizeSpeed
  -ms-text-size-adjust: auto
  -webkit-text-size-adjust: auto

  padding: 0 1em

ul, ol
  margin-left: bem(1)

ul
  list-style-type: disc

a
  text-decoration: none
  text-decoration-skip-ink: auto
  &:link
    color: $link-color
  &:visited
    color: $visited-color
  &:hover
    text-decoration: underline
  &:active
    color: $active-color

::-moz-selection
    background: $select-color
::selection
    background: $select-color

header[role="banner"]

  max-width: ($max-width + bem(7))
  margin: 1em auto bem(2) auto

  .wrap
    margin: 0 auto

  .logo
    width: bem(3)
    height: bem(3)
    min-width: bem(3)
    flex-grow: 0
    img
      border-radius: 5%
      background-color: $logo-color

  .meta
    margin-top: bem(0.5)
    flex-grow: 1

    h1, p
      display: inline
      font-family: $sans
      font-size: bem(0.95)
      font-weight: 700
      line-height: 1
      text-transform: uppercase
      letter-spacing: -0.33px

      &.title
        a:link, a:visited
          color: $text-color
        a:hover
          color: $link-color

      &.tagline
        color: rgba($text-color, 0.33)

    h1
      padding-right: 0.33em


main

  article
    margin: bem(1) auto 0 auto
    max-width: $max-width
    @extend .clearfix

  .pagebreak
    max-width: ($max-width + bem(7))
    margin: bem(1) auto 0 auto
    &:not(:first-of-type)
      border-top: 1px dashed rgba($text-color, 0.33)
      figure
        padding-top: 0.66em

footer
  display: flex
  justify-content: flex-start
  align-items: center
  margin: bem(2) auto 0 auto
  height: bem(2)
  border-top: 1px dashed rgba($text-color, 0.33)
  max-width: ($max-width + bem(7))

  .nav
    margin: 0
    list-style-type: none
    li
      display: inline
      font-family: $sans
      @include font-ratio(12/16)
      font-weight: 700
      text-transform: uppercase
      letter-spacing: 0.17px
      padding-right: bem(0.66)

//-----------------------------------------------------------------------------

@media screen and (min-width: 40em)

  header[role="banner"]

    margin-top: bem(1)

    .wrap
      margin-left: -0.5em
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center

    .logo
      display: flex
      align-items: center
      justify-content: center
      width: bem(3)
      height: bem(3)
      min-width: bem(3)
      flex-grow: 0
      img
        border-radius: 50%

    .meta
      margin-top: 0
      margin-left: bem(0.5)

  main article, main .pagebreak
      margin: bem(2) auto 0 auto

  footer
    justify-content: center

//-----------------------------------------------------------------------------

@media screen and (min-width: 50em)

  header[role="banner"]

    margin-bottom: 0

    .wrap
      margin-left: 0

  footer
    margin-top: bem(3)

//-----------------------------------------------------------------------------

@media screen and (min-width: 64em)

  ul, ol
    margin-left: 0

  header[role="banner"]

    .wrap .meta
      margin-right: bem(-2)
