//-----------------------------------------------------------------------------

html
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

@-ms-viewport
  width: device-width

::selection
  background: $select-color

::-moz-selection
  background: $select-color

body
  font-family: $serif
  font-size: 100%
  line-height: $line-height

  background-color: $body-color
  color: $text-color

  text-rendering: optimizeSpeed
  -ms-text-size-adjust: auto
  -webkit-text-size-adjust: auto

  padding: 0.83em 1em

a
  text-decoration: underline
  text-decoration-skip-ink: auto
  &:link
    color: $link-color
  &:visited
    color: $visited-color
  &:hover
    text-decoration: none
  &:active
    color: $active-color

time
  white-space: nowrap

hr
  width: 100%
  margin: 0
  padding: 0
  height: 0
  border: 0
  border-top: 1px solid $border-dark
  border-bottom: 1px solid $border-light
  background-color: $body-color
  &.pagebreak
    margin-top: bem(1)

.pushup
  padding-top: bem(1)
  border-top: 1px solid $light-mix

.half-buff
  padding-top: 0.415em
.quarter-buff
  padding-top: 0.2075em

.mix-link
  color: $mix-color
  a:link, a:visited
    color: $mix-color
    text-decoration: none
  a:hover
    text-decoration: underline

//-----------------------------------------------------------------------------

main article
  max-width: $max-width
  margin: 0 auto

aside
  max-width: $max-width
  margin: 0 auto

ul.plain
  list-style-type: square
  margin-top: 1.5em
  margin-left: 1.5em
  li
    margin: 0

ul.dlist
  list-style-type: none
  margin-top: bem(1)
  margin-left: 0
  @extend .pushup
  text-align: center
  li
    display: inline
    line-height: 1
    text-transform: capitalize
    color: $mix-color
    &:first-of-type
      font-weight: 700
    &:not(:last-of-type)::after
      content: "\20-\20"
      color: $mix-color

footer
  max-width: $max-width
  margin-top: bem(1)
  margin-left: auto
  margin-right: auto
  text-align: center
  ul
    margin-top: 1em
    list-style-type: none
    li
      display: inline
      color: $mix-color
      &.copyright
        font-style: italic
      &:not(:last-of-type)::after
        content: "\20-\20"
        color: $mix-color

//-----------------------------------------------------------------------------

@media screen and (min-width: 32em)

  body
    font-size: $base-font-size
