/*

//-----------------------------------------------------------------------------

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

@-ms-viewport
  width: device-width

::selection
  background: $select-color

::-moz-selection
  background: $select-color

body
  font-family: $serif
  font-size: 100%
  line-height: $line-height

  background-color: $body-color
  color: $text-color

  text-rendering: optimizeSpeed
  -ms-text-size-adjust: auto
  -webkit-text-size-adjust: auto

  padding: 1em

a
  text-decoration: none
  text-decoration-skip-ink: auto
  &:link
    color: $link-color
  &:visited
    color: $visited-color
  &:hover
    text-decoration: underline
  &:active
    color: $active-color

hr
  width: 100%
  margin: 0
  padding: 0
  height: 0
  border: 0
  border-top: 1px solid $border-dark
  border-bottom: 1px solid $border-light
  background-color: $body-color
  &.pagebreak
    margin-top: bem(1.5)

.mix-link
  color: $mix-color
  a:link,
  a:visited
    color: $mix-color
  a:hover
    text-decoration: underline

.datestamp
  @extend .mix-link

//-----------------------------------------------------------------------------

header[role="banner"]

  margin: 0 auto
  padding: 0

  .nav
    display: flex
    align-items: center
    justify-content: center

  .textbox
    display: flex
    align-items: center
    justify-content: center
    order: 1
    h1
      font-family: 'Oswald', $system
      font-weight: 700
      font-size: percentage(47/18)
      line-height: 1
      color: $logo-color
      a:link,
      a:visited
        color: $logo-color
      a:hover
        text-decoration: none

  .home,
  .nextprev
    img
      width: 37px
      height: 37px
  .home
    order: 2
    padding-left: 1em
  .nextprev
    display: none
    order: 3

  .shim
    margin-top: 1em


main article
  margin-top: bem(2)
  @extend .clearfix

  h2, h3, h4, h5, h6
    font-size: 100%
    margin-top: bem(1)

  p, li, hr
    margin-top: bem(1)

  ul, ol
    margin-left: 1em

  blockquote
    padding-left: 0.75em
    border-left: 0.25em solid $bg-color

  blockquote,
  li + p,
    margin-top: 0

main aside
  margin-top: bem(2)

footer
  &.post
    margin-top: bem(1)
  &.page
    margin-top: bem(2)
  text-align: center
  ul
    margin-top: 1em
    list-style-type: none
    li
      display: inline
      padding-right: 0.5em
      &:not(:last-of-type)::after
        content: "-"
        padding-left: 0.5em
        color: $mix-color

.ul-toc
  max-width: $max-width
  margin-left: auto
  margin-right: auto
  list-style-type: none
  li
    margin-top: bem(1)
    h2,
    h3
      margin: 0
      font-size: 100%
      font-weight: 400
    p
      margin: 0
    img.icon
      vertical-align: middle
      padding-bottom: 2px
  &.home
    li:first-of-type
      margin-top: 0
  &.nextprev
    li:first-of-type
      margin-top: bem(1)

.ul-plain-condensed
  margin-left: bem(1)
  margin-top: bem(1)
  li
    margin: 0

//-----------------------------------------------------------------------------

@media screen and (min-width: 32em)

  body
    font-size: 112.5%
    //padding: 1em bem(1)

  main article
    max-width: $max-width
    margin-left: auto
    margin-right: auto

//-----------------------------------------------------------------------------

@media screen and (min-width: 40em)

  body
    padding: 0 1em 1em 1em

  header[role="banner"]

    .nav
      justify-content: space-between
      height: bem(2)
    .textbox
      flex: 1 1 50%
      order: 2
    .home,
    .nextprev
      display: flex
      flex: 1 1 25%
      //padding-top: 0.415em
    .home
      order: 1
      padding-left: 0
    .nextprev
      order: 3
      align-items: center
      justify-content: flex-end
    .shim
      margin-top: 0

//-----------------------------------------------------------------------------

@media screen and (min-width: 48em)

  //header[role="banner"]
    display: flex
    align-items: center
    justify-content: space-between
    .logobox
      display: flex
      justify-content: center
      align-items: center
      margin-left: bem(-0.5)
    .shim
      flex: 1
      margin-top: 0
      margin-left: 1em

  main article
    blockquote
      border-left-width: bem(0.125)
      padding-left: bem(0.875)

  //.ul-toc
    margin-left: 0

//-----------------------------------------------------------------------------

@media screen and (min-width: 64em)

  header[role="banner"]
    .textbox h1
      font-size: percentage(47/18)
    .home p,
    .nextprev p
      font-size: percentage(37/18)
