\:root

  --fam-check: Georgia, Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', serif
  --fam-hed: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif

  --line-height-body: 1.6875
  --line-height-hed: 1.2

  --hed-size: 37px

  --body-size: 1em
  --body-size-sm: 0.8125em

  --hed-size-sm: 1.25em
  --hed-size-md: 1.625em
  --hed-size-lg: 2.0625em

//-----------------------------------------------------------------------------

@media screen and (min-width: 20rem) // 17px 28px @ 578px

  \:root

    --line-height-body: 1.647058823529412

    --body-size: 1.0625rem
    --body-size-sm: 0.76470588235em

    --hed-size-sm: 1.29411764706em
    --hed-size-md: 1.64705882353em
    --hed-size-lg: 2.05882352941em

    --page-width: 34em

//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem) // 18px VF

  \:root

    --line-height-body: 1.83

    --body-size: 1.125rem
    --body-size-sm: 0.778em

    --hed-size-sm: 1.278em
    --hed-size-md: 1.611em
    --hed-size-lg: 2.056em

    --page-width: 37.389em

//-----------------------------------------------------------------------------

@media screen and (min-width: 60rem) // 19px Gawk

  \:root

    --line-height-body: 1.7

    --body-size: 1.1875rem
    --body-size-sm: 0.789em

    --hed-size-sm: 1.263em
    --hed-size-md: 1.632em
    --hed-size-lg: 2.053em

    --page-width: 38.526em