body

  max-width: 90em
  padding: 0 1em
  
//-----------------------------------------------------------------------------

@media screen and (min-width: 25rem)

  body
    padding: 0 var(--shim)

//-----------------------------------------------------------------------------

@media screen and (min-width: 48rem)

  body
    padding: 0 var(--shim-2x)

//-----------------------------------------------------------------------------

@media screen and (min-width: 64rem)

  body
    max-width: 80em
    width: 84%
    margin-left: auto
    margin-right: auto
    padding: 0 8%

//-----------------------------------------------------------------------------

@media screen and (min-width: 80rem)

  body
    width: 87.5%
    padding: 0 0 0 12.5%
