\:root // 16 27 544

  --fam-check: Georgia, Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', serif
  --fam-hed: 'Montserrat', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
  --line-height-body: 1.6875
  --line-height-hed: 1.2

  --body-size: 1em
  --body-size-sm: 0.8125em

  --hed-size-sm: 1.125em
  --hed-size-md: 1.625em
  --hed-size-lg: 2.0625em
  --hed-size-xl: 2.625em

  --page-width: 34em

//-----------------------------------------------------------------------------

@media screen and (min-width: 20rem) // 17px 28px @ 578px

  \:root

    --line-height-body: 1.647058823529412

    --body-size: 1.0625rem
    --body-size-sm: 0.76470588235em

    --hed-size-sm: 1.29411764706em
    --hed-size-md: 1.64705882353em
    --hed-size-lg: 2.05882352941em

//-----------------------------------------------------------------------------

@media screen and (min-width: 30rem) // 18px

  \:root

    --line-height-body: 1.66666666667

    --body-size: 1.125rem
    --body-size-sm: 0.778em

    --hed-size-sm: 1.278em
    --hed-size-md: 1.611em
    --hed-size-lg: 2.056em
