html
  background-color: var(--color-body)

body
  display: flex
  flex-direction: column
  font-family: var(--fam-serif)
  font-size: var(--body-size)
  line-height: var(--line-height-body)
  text-rendering: optimizeLegibility

  background-color: var(--color-body)
  color: var(--color-text)

  -ms-text-size-adjust: 100%
  -moz-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  text-size-adjust: 100%

  -webkit-font-smoothing: auto
  -moz-osx-font-smoothing: auto

main[role="main"]
  margin: 0 1em

a
  text-decoration: none
  text-decoration-skip-ink: auto
  &:link
    color: var(--color-link)
  &:visited
    color: var(--color-visited)
  &:active
    color: var(--color-active)
  &:hover
    text-decoration: underline

time
  white-space: nowrap

.daystamp
  color: var(--color-half)
  a:link, a:visited
    color: var(--color-half)

.hr
  margin: 0 auto
  padding: 0
  height: 0
  border: 0
  line-height: 1
  border-top: thin solid var(--color-hr-top)
  border-bottom: 2px solid var(--color-hr-bottom)
  background-color: var(--color-body)
  &.break
    margin: 0
    max-width: var(--shim-4x)
