\:root

  --fam-check: Georgia, Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', serif

  --line-height-body: 1.6875
  --line-height-hed: 1.2

  --body-size: 1em
  --body-size-sm: 0.8125em

  --hed-size-sm: 1.25em
  --hed-size-md: 1.625em
  --hed-size-lg: 2.0625em
  --hed-size-xl: 2.625em

  --page-width: 34em

//-----------------------------------------------------------------------------

@media screen and (min-width: 25rem) // 17

  \:root

    --line-height-body: 1.6

    --body-size: 1.0625rem
    --body-size-sm: 0.76470588235em

    --hed-size-sm: 1.29411764706em
    --hed-size-md: 1.64705882353em
    --hed-size-lg: 2.05882352941em
