html
  background-color: var(--color-body)

body
  font-family: var(--fam-serif)
  font-size: var(--body-size)
  line-height: var(--line-height-body)

  background-color: var(--color-body)
  color: var(--color-text)

  text-rendering: optimizeSpeed
  -ms-text-size-adjust: 100%
  -moz-text-size-adjust: none
  -webkit-text-size-adjust: 100%

  padding: 0 1em

\::selection
  background-color: var(--color-shock)

\::-moz-selection
  background-color: var(--color-shock)

a
  text-decoration: underline
  text-decoration-skip-ink: auto
  &:link
    color: var(--color-link)
  &:visited
    color: var(--color-visited)
  &:active
    color: var(--color-shock)
  &:hover
    text-decoration: none

time
  white-space: nowrap

.hr
  margin: 0
  padding: 0
  height: 0
  border: 0
  border-top: thin solid #{hsl(0, 0%, 82%)}
  border-bottom: medium solid #{hsl(0, 0%, 100%)}
  background-color: var(--color-body)
  &.spacer
    margin: var(--buffer) 0 
    max-width: var(--shim-4x)

.daystamp
  font-style: italic
  color: var(--color-half)
  a:link, a:visited
    color: var(--color-half)
    text-decoration: none
  a:hover
    text-decoration: underline

//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem)

  body
    padding: 0

  .pagebreak
    margin: var(--shim-2x) auto

  .hr.spacer
    margin: var(--shim-2x) 0
