body

  max-width: 90em
  padding: 0 1em
  
//-----------------------------------------------------------------------------

@media screen and (min-width: 25rem)

  body
    padding: 0 var(--shim)

//-----------------------------------------------------------------------------

@media screen and (min-width: 48rem)

  main[role="main"]
    max-width: 1120px
    margin: 0 auto

//-----------------------------------------------------------------------------

@media screen and (min-width: 80rem)

  body
    padding: 0