\:root

  --fam-check: Georgia, serif
  --fam-wtf: Verdana, Arial, sans-serif

  --line-height-body: 1.6875
  --line-height-hed: 1.2

  --body-size: 1em
  --body-size-sm: 0.8125em

  --hed-size-sm: 1.25em
  --hed-size-md: 1.625em
  --hed-size-lg: 2.0625em
  --hed-size-xl: 2.625em

  --page-width: 34em

//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem) // 18px VF

  \:root

    --line-height-body: 1.83

    --body-size: 1.125rem
    --body-size-sm: 0.889em

    --hed-size-sm: 1.278em
    --hed-size-md: 1.611em
    --hed-size-lg: 2.056em

    --page-width: 37.389em
