html
  background-color: var(--color-body)

body

  display: flex
  flex-direction: column
  justify-content: flex-start

  font-family: var(--fam-base)
  font-size: var(--body-size)
  line-height: var(--line-height-body)
  text-rendering: optimizeLegibility

  background-color: var(--color-body)
  color: var(--color-text)

  -ms-text-size-adjust: 100%
  -moz-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  text-size-adjust: 100%

  //-moz-osx-font-smoothing: antialiased
  //-webkit-font-smoothing: antialiased

  padding: 1em

a
  text-decoration: underline
  text-decoration-skip-ink: auto
  &:link
    color: var(--color-link)
  &:visited
    color: var(--color-visited)
  &:active
    color: var(--color-active)
  &:hover
    text-decoration: none

time
  white-space: nowrap

ul.datelist
  margin: var(--shim) 0 0
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: flex-start
  gap: 0.66em
  list-style-type: none
  color: var(--color-half)
  li
    padding: 0 var(--nudge)
    font-size: var(--body-size)
    border-radius: 6px
    a:link, a:visited
      text-decoration: none
      color: var(--color-half)
    a:hover
      text-decoration: underline
    background-color: var(--color-shade)

.daystamp
  font-style: italic
  color: var(--color-half)
  a:link, a:visited
    color: var(--color-half)


//-----------------------------------------------------------------------------

@media screen and (min-width: 30rem)

  body
    padding: var(--shim)

//-----------------------------------------------------------------------------

@media screen and (min-width: 48rem)

  body
    padding: var(--buffer)