//-----------------------------------------------------------------------------

div.teaser
  max-width: $mob-max-width
  div.image
    margin-top: 1.415em
  div.text
    margin-top: 1.915em
    h1, p
      margin: 0
    h1
      font-size: $mob-hed-size
      line-height: (($mob-line-height - 1) / 2) + 1
      color: $text-color

div.card
  display: flex
  align-items: flex-start
  justify-content: space-between
  margin-top: 1.5em
  &:first-of-type
    margin-top: 2em
  div.thumb
    display: none
  div.text
    flex: 1
    h1, h2, p
      margin: 0
      font-size: 1em
    h2
      font-weight: 400
    span.dates
      white-space: nowrap
      font-weight: 400
      font-style: italic
      color: $mix-color
  &.index
    margin-top: 1.5em

//-----------------------------------------------------------------------------

@media screen and (min-width: 19em)

  div.card
    margin-top: 2em
    div.thumb
      display: block
      position: relative
      width: 3em
      height: 3em
      margin-top: 5px
      margin-right: 0.5em
      border: thin solid $text-color
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
      background-color: $bg-color
      span
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: 1
        background-image: url('/assets/img/shim.gif')
    &.teevee div.text
      h2, p
        display: inline

//-----------------------------------------------------------------------------

@media screen and (min-width: 30em)

  div.teaser
    max-width: $tab-max-width
    div.text h1
      font-size: $tab-hed-size
      line-height: $tab-line-height

  div.card.teevee div.text
    h2, p
      display: block

//-----------------------------------------------------------------------------

@media screen and (min-width: 40em)

  div.card.teevee
    div.thumb, div.shim
      margin-right: 1em
      width: (4em * 1.33)
      height: 4em

//-----------------------------------------------------------------------------

@media screen and (min-width: 50em)

  div.card.teevee
    div.thumb, div.shim
      width: (5em * 1.33)
      height: 5em

//-----------------------------------------------------------------------------

@media screen and (min-width: 60em)

  div.teaser
    max-width: $desk-max-width
    div.text h1
      font-size: $desk-hed-size
      line-height: $desk-line-height

  div.card.teevee
    align-items: center
    div.thumb, div.shim
      width: (6em * 1.33)
      height: 6em
    div.text
      h2
        font-size: 105.555555556%
      h2, p
        line-height: (29/18)
