//-----------------------------------------------------------------------------

ul.toc
  margin-left: 0
  list-style-type: none
  @extend .clearfix
  li
    margin-top: bem(1)
    div.meta
      h2, p
        margin: 0
        font-size: 100%
        font-weight: 400
      p a:link, p a:visited
        color: $mix-color
        text-decoration: none
      p a:hover
        text-decoration: underline
    div.thumb
      position: relative
      float: left
      width: bem(2)
      height: bem(2)
      margin-top: 4px
      margin-right: 1em
      border-radius: 4px
      background-position: center center
      background-repeat: no-repeat
      background-size: cover
      span
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        z-index: 1
        background-image: url('/assets/img/shim.gif')
    &.home,
    &.bigtop,
    &.nextprev,
    &.rela:first-of-type
      @extend .pushup

//-----------------------------------------------------------------------------

@media screen and (min-width: 48em)

  ul.toc li
    display: flex
    justify-content: space-between
    div.meta
      flex: 1
    div.thumb
      float: none
      margin-bottom: 0
    &.home
      align-items: flex-start
      div.meta
        order: 2
      div.thumb
        order: 1
      div.shim
        margin-right: 1em
        width: bem(2)
        height: bem(2)
    &.nextprev,
    &.rela
      align-items: center
    &.bigtop
      align-items: flex-start
    &.nextprev
      div.meta
        order: 2
      div.thumb
        order: 1
    &.bigtop
      div.meta
        order: 1
      div.thumb
        order: 2
        width: bem(4)
        height: bem(4/1.5)
        margin-right: 0
        margin-left: 1em

//-----------------------------------------------------------------------------

@media screen and (min-width: 64em)

  ul.toc li
    &.nextprev,
    &.bigtop
      div.thumb
        width: bem(4)
        height: bem(5/1.77)
