section.recents
  margin: var(--shim-2x) auto 0 auto

ul.cards
  margin: 0
  list-style-type: none
  li
    margin-top: var(--buffer)
    &:first-of-type
      margin: 0
    .meta
      h1, h2, h3, h4, h5, h6, p
        display: inline
        margin: 0
        font-size: 1em

ul.cards.post
  padding: var(--shim-p) 0

//-----------------------------------------------------------------------------

@media screen and (min-width: 30rem)

  ul.cards
    li
      display: flex
      .meta
        h1, h2, h3, h4, h5, h6, p
          display: block

  ul.cards.post
    li
      margin-top: var(--shim)
      &:first-of-type
        margin-top: 0

//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem)

  ul.cards.post
    li
      align-items: center
