$body-color:    #F3F3F3 !default
$text-color:    #161616 !default

$logo-color:    #F03 !default
$shock-color:   #FFF !default
$select-color:  #FFC !default

$link-color:    #36C !default
$visited-color: #939 !default
$active-color:  #F90s !default
