$body-color:    #FFF !default
$text-color:    #000 !default

$logo-color:    #F00 !default
$shock-color:   #FFF !default
$select-color:  #FFC !default

$link-color:    #C00 !default
$visited-color: #939 !default
$active-color:  #666 !default
