//----------------------------------------------------------------------------

//$key: random(6)

//$one-color:       #06f, #c06, #393, #f30, #09f, #099
  $two-color:       #6ff, #fc0, #9f0, #fc0, #9f3, #fc0
  $primary-color:   nth($one-color, $key)
  $secondary-color: nth($two-color, $key)
  $select-color:    $secondary-color

$body-color:    #EAEAEA !default
$text-color:    #161616 !default
$banner-color:  darken($body-color, 15%) !default

$bg-color:      darken($body-color, 5%) !default
$mix-color:     mix($body-color, $text-color, 36%) !default
$light-mix:     lighten($mix-color, 33%) !default
$dark-mix:      darken($mix-color, 33%) !default

$link-color:    blue !default
$visited-color: purple !default
$active-color:  orange !default

$logo-color:      #F00 !default
$select-color:    #FFC !default
$shock-color:     darken($body-color, 15%) !default

//$logo-color:    nth($one-color, $key) !default
  $shock-color:   nth($two-color, $key) !default
  $select-color:  $shock-color !default

$border-dark:   #C0C0C0 !default
$border-light:  #FBFBFB !default
