//----------------------------------------------------------------------------

//$key:           random(6)
  $one-color:     #06F, #C06, #393, #f30, #09F, #099
  $two-color:     #6FF, #FC0, #9F0, #FC0, #9F3, #FC0
  $primary-color: nth($one-color, $key)
  $secondary-color: nth($two-color, $key)

//----------------------------------------------------------------------------

$body-color:    #EAEAEA !default
$text-color:    #161616 !default
$shadow-color:  #C8C8C8 !default

$logo-color:    #099 !default
$shock-color:   #FC0 !default
$select-color:  $shock-color !default

$mix-color:     #6B6B6B !default
$half-color:    #9E9E9E !default

$link-color:    #36C !default
$visited-color: #939 !default
$active-color:  #F90 !default

$border-dark:   #D1D1D1 !default
$border-light:  #F3F3F3 !default

$bg-color:      #E2E2E2 !default
