//-----------------------------------------------------------------------------

@mixin set-logo-color($back, $fore)
  background-color: $back
  svg
    fill: $fore

//-----------------------------------------------------------------------------

$body-color:    #D9D9D9 !default
$logo-bg-color: #000 !default
$text-color:    #050505 !default

$link-color:    #0000FF !default
$visited-color: #800080 !default
$active-color:  #F00 !default

$select-color:  #FFC !default

//$key: random(6)
  $one-color: #06f, #c06, #393, #f30, #09f, #099
  $two-color: #6ff, #fc0, #9f0, #fc0, #9f3, #fc0
  $primary-color: nth($one-color, $key)
  $secondary-color: nth($two-color, $key)
  $select-color: $secondary-color

  $logo-color:    nth($one-color, $key) !default
  $shock-color:   nth($two-color, $key) !default
  $select-color:  $shock-color !default

//$body-color:    #F3F3F3 !default
  $logo-bg-color: #E2E2E2 !default
  $text-color:    #1F1F1F !default

//$link-color:    #36C !default
  $visited-color: #939 !default
  $active-color:  #F90 !default

//$logo-color:    #099 !default
  $shock-color:   #FC0 !default
  $select-color:  #FFC !default


//-----------------------------------------------------------------------------

$bg-color:      darken($body-color, 5%) !default
$mix-color:     mix($body-color, $text-color, 36%) !default
$light-mix:     lighten($mix-color, 33%) !default
$dark-mix:      darken($mix-color, 33%) !default

$border-dark:   #AFAFAFs !default
$border-light:  #EAEAEA !default
