$body-color:    #E2E2E2 !default
$text-color:    #000 !default

$logo-color:    #F03 !default
$shock-color:   #FFC !default
$select-color:  #FFC !default

$link-color:    #0000FF !default
$visited-color: #800080 !default
$active-color:  #F00 !default
