//----------------------------------------------------------------------------

$key:           random(6)
$one-color:     #06F, #C06, #393, #f30, #09F, #099
$two-color:     #6FF, #FC0, #9F0, #FC0, #9F3, #FC0
$primary-color: nth($one-color, $key)
$secondary-color: nth($two-color, $key) 
//foo
//----------------------------------------------------------------------------

$body-color:    #EAEAEA !default
$text-color:    #161616 !default
$shadow-color:  #C8C8C8 !default

$logo-color:    $primary-color !default
$shock-color:   $secondary-color !default
$select-color:  $shock-color !default

$mix-color:     #6B6B6B !default
$half-color:    #9E9E9E !default

$link-color:    #0000FF !default
$visited-color: #800080 !default
$active-color:  #F00 !default

$border-dark:   #C0C0C0 !default
$border-light:  #F3F3F3 !default

$bg-color:      #E2E2E2 !default
$bg-light:      #F3F3F3 !default
$bg-dark:       #D9D9D9 !default
