$body-color:    #F3F3F3 !default
$text-color:    #161616 !default

$logo-color:    #F00 !default
$shock-color:   #FFF !default
$select-color:  #FFC !default

$link-color: #36C !default
$visited-color: #939 !default
$active-color: #F90 !default

//-----------------------------------------------------------------------------

$bg-color:      darken($body-color, 5%) !default
$mix-color:     mix($body-color, $text-color, 36%) !default
$light-mix:     lighten($mix-color, 40%) !default
$dark-mix:      darken($mix-color, 40%) !default

$border-dark:   #D1D1D1 !default
$border-light:  #FFF !default
