article.post,
article.micro 
  figure
    max-width: var(--video-max-width)
    .container
      position: relative
      display: block
      margin: 0 auto
      width: 100%
      height: 0
      overflow: hidden
      padding-top: var(--percent)
    .fixed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
