//-----------------------------------------------------------------------------

figure
  margin-bottom: var(--shim--lh)
  .wrap
    position: relative
    padding-bottom: 56.25%
    height: 0
    overflow: hidden
    max-width: 100%
    background-color: $body-color
    iframe,
    object,
    embed,
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: $bg-color url(../img/default-image-icon.png) no-repeat center center
    img
      border-radius: 4px
  figcaption
    margin-top: var(--shim)
    p
      margin: 0
      font-size: var(--fs--xs)
      line-height: var(--lh)