article

  iframe[src*="https://www.youtube.com"],
  iframe[src*="https://www.youtube-nocookie.com"],
  iframe[src*="https://player.vimeo.com"]
    width: 100%
    height: unset
    aspect-ratio: auto 16/9
    margin-bottom: var(--shim)
    background-clip: content-box
    background-color: var(--color-back)

  figure
    margin-bottom: var(--shim)
    max-width: var(--page-width-lg)
    img
      width: 100%
      aspect-ratio: auto 16/9
      object-fit: cover
      border-radius: 4px
      background-color: var(--color-back)
