article

  figure.float
    margin-top: var(--nudge)
    margin-bottom: var(--shim)
    padding: var(--nudge) 0
    img
      --width: 12em
      --height: var(--width)
      display: block
      width: var(--width)
      height: var(--height)
      object-fit: cover
      object-position: 50% 50%
    .ratio--tv
      --height: calc(var(--width) / 1.33)
    .ratio--academy
      --height: calc(var(--width) / 1.375)
    .ratio--poster
      --height: calc(var(--width) * 1.5)
    .ratio--european
      --height: calc(var(--width) / 1.66)
    .ratio--hd
      --height: calc(var(--width) / 1.78)
    .ratio--american
      --height: calc(var(--width) / 1.85)
    .ratio--anamorphic
      --height: calc(var(--width) / 2.39)
    .ratio--ultra
      --height: calc(var(--width) / 2.75)
    .ratio--square
      --height: var(--width)

//-----------------------------------------------------------------------------

@media screen and (min-width: 20rem)

  article

    figure.float
      img
        --width: 15em

//-----------------------------------------------------------------------------

@media screen and (min-width: 30rem)

  article

    figure.float
      img
        --width: 20em

//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem)

  article

    figure.float
      padding: 0
      img
        --width: 12em

    figure.float.left
      float: left
      margin-right: 1em
      margin-bottom: 1em
    
    figure.float.right
      float: right
      margin-left: 1em
      margin-bottom: 1em

//-----------------------------------------------------------------------------

@media screen and (min-width: 48rem)

  article

    figure.float
      margin-top: 0

    figure.float.jumbo
      img
        --width: 13em

    figure.float.left
      margin-right: var(--shim)
  
    figure.float.right
      margin-left: var(--shim)
    
    figure.float.flat
      margin-top: var(--nudge)

//-----------------------------------------------------------------------------

@media screen and (min-width: 70rem)

  article

    figure.float
      img
        --width: 13em

    figure.float.jumbo
      img
        --width: 14em
