article

  iframe[src*="https://www.youtube.com"],
  iframe[src*="https://www.youtube-nocookie.com"],
  iframe[src*="https://player.vimeo.com"]
    width: 100%
    height: unset
    aspect-ratio: 16/9
    margin-bottom: var(--shim)
    background-clip: content-box
    background-color: var(--color-back)
    &.tv
      aspect-ratio: 1.33
    &.middle
      margin-top: var(--shim)

  img
    display: block
    width: var(--width)
    aspect-ratio: 16/9
    object-fit: cover
    border-radius: 4px
    background-color: var(--color-back)
    --width: 100%
    @extend .clearfix
    
    &.academy
      aspect-ratio: 1.375
    &.tv
      aspect-ratio: 1.33
    &.european
      aspect-ratio: 1.66
    &.american
      aspect-ratio: 1.85
    &.poster
      aspect-ratio: 1/1.5

    &.top
      margin-top: 0
      margin-bottom: var(--shim)
    &.middle
      margin-top: var(--shim)
      margin-bottom: var(--shim)

    &.wide
      --width: 66%
    &.half
      --width: 50%
    &.third
      --width: 33%

    &.center
      margin-left: auto
      margin-right: auto
    &.right
      margin-right: 0
      margin-left: auto
    &.left
      margin-right: auto
      margin-left: 0

    &.float
      margin-left: auto
      margin-right: auto
      margin-bottom: var(--shim)
      --width: 50%

  div.figpad
    width: 100%
    height: var(--nudge)
    //background-color: red

//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem)

  article img

    &.float
      margin-bottom: 1em
      --width: 33%
    &.float.top
      margin-top: var(--nudge)
    &.float.left
      float: left
      margin-right: 1em
    &.float.right
      float: right
      margin-left: 1em

//-----------------------------------------------------------------------------

@media screen and (min-width: 50rem)

  article img

    &.float.left
      margin-right: var(--shim-n)
    &.float.right
      margin-left: var(--shim-n)

    &.tilt.left
      margin-right: var(--shim)
      transform: rotate(-3deg)
    &.tilt.right
      transform: rotate(3deg)

//-----------------------------------------------------------------------------

@media screen and (min-width: 60rem)

  article img

    &.tilt.left
      margin-left: calc(var(--shim-n) * -1)
    &.tilt.right
      margin-right: -1em
      --width: 35%
