figure
  margin: var(--shim) 0
  figcaption
    margin-top: var(--nudge)
    background-color: $body-color
    p
      margin: 0
      font-size: var(--font-size-xs)
      line-height: var(--hed-lh)

.aspectratio
  position: relative
  height: 0
  overflow: hidden
  width: 100%
  padding-top: var(--percent)
  // calc(100% / (var(--aspect-ratio)))
  iframe,
  object,
  embed,
  img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $bg-color url(../img/default-image-icon.png) no-repeat center center
  img
    border-radius: 4px

//-----------------------------------------------------------------------------

@media screen and (min-width: 30rem)

  article
    figure.narrow
      max-width: calc(var(--page-width) / 2)