article

  figure.float
    margin-bottom: var(--shim)
    padding-bottom: var(--nudge)
    img
      --width: 12em
      --height: var(--width)
      display: block
      width: var(--width)
      height: var(--height)
      object-fit: cover
      object-position: 50% 50%
    .ratio--tv
      --height: calc(var(--width) / 1.33)
    .ratio--academy
      --height: calc(var(--width) / 1.375)
    .ratio--poster
      --height: calc(var(--width) * 1.5)
    .ratio--european
      --height: calc(var(--width) / 1.66)
    .ratio--hd
      --height: calc(var(--width) / 1.78)
    .ratio--american
      --height: calc(var(--width) / 1.85)
    .ratio--anamorphic
      --height: calc(var(--width) / 2.39)
    .ratio--ultra
      --height: calc(var(--width) / 2.75)
    .ratio--square
      --height: var(--width)

//-----------------------------------------------------------------------------

@media screen and (min-width: 20rem)

  article

    figure.float
      img
        --width: 15em

//-----------------------------------------------------------------------------

@media screen and (min-width: 30rem)

  article

    figure.float
      img
        --width: 20em

//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem)

  article

    figure.float
      img
        --width: 12em

    figure.float.left
      float: left
      margin-right: 1em
      margin-bottom: 1em
    
    figure.float.right
      float: right
      margin-left: 1em
      margin-bottom: 1em

//-----------------------------------------------------------------------------

@media screen and (min-width: 50rem)

  article

    figure.float
      img
        --width: 13em

    figure.float.jumbo
      img
        --width: 14em

    figure.float.left
      margin-top: var(--nudge)
      margin-right: var(--shim)
      &.tilt
        margin-top: 0
        transform: rotate(-3deg)
  
    figure.float.right
      margin-top: var(--nudge)
      margin-left: var(--shim)
      &.tilt
        margin-top: 0
        transform: rotate(3deg)

//-----------------------------------------------------------------------------

@media screen and (min-width: 60rem)

  article

    figure.float.jumbo
        img
          --width: 15em

    figure.float.left.pull
      margin-left: calc(var(--shim) * -1)

    figure.float.right.pull
      margin-right: calc(var(--shim) * -1)

//-----------------------------------------------------------------------------

@media screen and (min-width: 70rem)

  article

    figure.float.jumbo
        img
          --width: 16em

    figure.float.left.pull
      margin-left: calc(var(--shim) * -2)

    figure.float.right.pull
      margin-right: calc(var(--shim) * -2)