\:root

  --page-width: 32em

  --fs: 100%
  --fs--xs: 81.3%
  --fs--sm: 87.5%
  --lh: 1.6875
  --lh--tight: 1.34375
  --lh--flat: 1

  --hs: 125%
  --hs--sm: 112.5%
  --hs--md: 162.5%
  --hs--lg: 206.3%
  --hs--xl: 262.5%

  --shim: 1.6875em
  --sliver: 0.3475em
  --shim--tight: 1.34375em
  --shim--double: calc(var(--shim) * 2)
  --shim--quad: calc(var(--shim) * 4)

  --icon: 1.25em
  --icon--sm: 1.125em
  --icon--md: 1.625em
  --icon--lg: 2.063em
  --icon--xl: 2.625em