@media screen and (min-width: 60rem)

  \:root

  --page-width: 37.389em

  --font-size: 112.5%
  --font-size-xs: 77.8%
  --font-size-sm: 88.88%
  --font-lh: 1.83

  --hed-size: 127.8%
  --hedsize-md: 161.1%
  --hedsize-lg: 205.6%
  --hed-lh: 1.415

  --shim: 1.83em
  --shim-2x: 3.66em
  --shim-4x: 7.32em