//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem)

  \:root

    --page-width: 37.389em
    --page-width-sm: var(--page-width)
    --page-width-md: 40em
    --page-width-lg: 42.667em

    --font-size: 112.5%
    --font-size-xx: 111.111111111%
    --font-size-sm: 88.888888888%

    --hed-size: 127.777777778%
    --hed-size-md: 161.111111111%
    --hed-size-lg: 205.555555556%
    --hed-size-xl: 261.111111111%

    --font-lh: 1.83
    --hed-lh: 1.415

    --shim: 1.83em
    --shim-n: 1.415em
    --shim-p: 2.245em

    --shim-2x: 3.66em
    --shim-3x: 5.49em
    --shim-4x: 7.32em

    --nudge: 0.415em
