\:root

  --page-width: 32em

  --fs: 100%
  --fs--xs: 81.3%
  --fs--sm: 87.5%
  --lh: 1.6875
  --lh--tight: 1.34375
  --lh--flat: 1

  --hs: 125%
  --hs--sm: 112.5%
  --hs--md: 162.5%
  --hs--lg: 206.3%
  --hs--xl: 262.5%

  --shim--xs: 0.34375em
  --shim--sm: 1.34375em
  --shim: 1.6875em
  --shim--lg: 3.375em
  --shim--xl: 6.75em