\:root

  --page-width: 32em

  --font-size: 100%
  --font-size-xs: 81.3%
  --font-size-sm: 87.5%
  --font-lh: 1.6875

  --hed-size: 125%
  --hedsize-md: 162.5%
  --hedsize-lg: 206.3%
  --hed-lh: 1.34375

  --shim: 1.6875em
  --shim-2x: 3.375em
  --shim-4x: 6.75em