@media screen and (min-width: 30em)

  \:root

    --page-width: 34em

    --fs: 106.25%
    --fs--xs: 76.5%
    --fs--sm: 88.23%
    --lh: 1.66
    --lh--tight: 1.33

    --hs: 129.4%
    --hs--sm: 111.76%
    --hs--md: 164.7%
    --hs--lg: 205.9%
    --hs--xl: 264.7%

    --shim--xs: 0.33em
    --shim--sm: 1.33em
    --shim: 1.66em
    --shim--lg: 3.32em
    --shim--xl: 6.64em
