//-----------------------------------------------------------------------------

\:root

  --bod-lh: 1.6875
  --hed-lh: 1.34375

  --bod-size: 100%
  --bod-size-xx: 112.5%
  --bod-size-sm: 87.5%

  --hed-size: 125%
  --hed-size-md: 162.5%
  --hed-size-lg: 206.25%
  --hed-size-xl: 262.5%

//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem)

  \:root

    --bod-lh: 1.83
    --hed-lh: 1.415

    --bod-size: 112.5%
    --bod-size-xx: 111.111111111%
    --bod-size-sm: 88.888888888%

    --hed-size: 127.777777778%
    --hed-size-md: 161.111111111%
    --hed-size-lg: 205.555555556%
    --hed-size-xl: 261.111111111%