\:root

  --fam-base:  Georgia, serif


  --line-height-body: 1.6875
  --line-height-hed: 1.34375

  --body-size: 1rem
  --body-size-lg: 2.0625em
  --body-size-sm: 0.875em

  --page-width: 34em

//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem) // 17

  \:root

    --line-height-body: 1.647058823529412
    --line-height-hed: 1.323529411764706

    --body-size: 1.0625rem
    --body-size-lg: 2.0588235294117645em
    --body-size-sm: 0.8823529411764706em

//-----------------------------------------------------------------------------

@media screen and (min-width: 50rem) // 18

  \:root

    --line-height-body: 1.666666666666667
    --line-height-hed: 1.333333333333334

    --body-size: 1.125rem
    --body-size-lg: 2.0555555555555554em
    --body-size-sm: 0.8888888888888888em

//-----------------------------------------------------------------------------

@media screen and (min-width: 70rem) // 20

  \:root

    --line-height-body: 1.65
    --line-height-hed: 1.325

    --body-size: 1.25em
    --body-size-lg: 2.05em
    --body-size-sm: 0.9em

//-----------------------------------------------------------------------------

@media screen and (min-width: 90rem) // 22

  \:root

    --line-height-body: 1.681818181818182
    --line-height-hed: 1.340909090909091

    --body-size: 1.375em
    --body-size-lg: 2.0454545454545454em
    --body-size-sm: 0.9090909090909091em