\:root

  --fam-base: QAIP, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"

  --shim: calc(1em + 0.75rem)
  --buffer: calc(var(--shim) * 2)
  --nudge: calc(var(--shim) / 4)

  --body-size: clamp(1rem, 0.9281rem + 0.3195vw, 1.0625rem)
  --body-size-lg: clamp(1.4375rem, 1.0062rem + 1.9169vw, 1.8125rem)
  --body-size-sm: 0.9375rem

  --line-height-body: 1.6875
  --line-height-hed: 1.34375

  --page-width: 42.0625rem
