\:root

  --fam-base: Georgia, serif

  --line-height-body: 1.6875
  --line-height-hed: 1.34375

  --body-size: 1em
  --body-size-lg: clamp(1.5rem, 1.05rem + 2vw, 2.25rem)
  --body-size-sm: clamp(0.875rem, 0.7625rem + 0.5vw, 1.0625rem)

  --page-width: 34rem

//-----------------------------------------------------------------------------

@media screen and (min-width: 30rem) // 17

  \:root

    --line-height-body: 1.66
    --line-height-hed: 1.33

    --body-size: 1.0625rem

    --page-width: 36rem


//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem) // 18

  \:root

    --line-height-body: 1.83
    --line-height-hed: 1.415

    --body-size: 1.125rem

    --page-width: 42.0625rem

//-----------------------------------------------------------------------------

@media screen and (min-width: 60rem) // 19

  \:root

    --line-height-body: 1.8
    --line-height-hed: 1.4

    --body-size: 1.1875rem

    --page-width: 45.75rem