\:root

  --fam-base: Georgia, serif

  --shim: calc(1em + 0.75rem)
  --buffer: calc(var(--shim) * 2)
  --nudge: calc(var(--shim) / 4)

  --body-size: 1rem

  --line-height-body: 1.6875
  --line-height-hed: 1.34375

  --body-size-xx: clamp(1.25rem, 1.0558rem + 0.9709vw, 1.5rem)
  --body-size-lg: clamp(1.5rem, 0.5927rem + 4.0323vw, 2.4375rem)
  --body-size-sm: 0.9375rem

  --page-width: 34rem

//-----------------------------------------------------------------------------

@media screen and (min-width: 22rem) // 17

  \:root

    --body-size: 1.0625rem
    --body-size-sm: 1rem

    --line-height-body: 1.705882352941176
    --line-height-hed: 1.352941176470588

    --page-width: 36rem


//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem) // 18

  \:root

    --body-size: 1.1125rem
    --body-size-sm: 1.0625rem

    --line-height-body: 1.8
    --line-height-hed: 1.4

    --page-width: 42.0625rem

//-----------------------------------------------------------------------------

@media screen and (min-width: 64rem) // 19

  \:root

    --body-size: 1.1875rem
    --body-size-sm: 1.125rem

    --page-width: 45.75rem