\:root

  --fam-base: Georgia, serif

  --line-height-body: 1.6875
  --line-height-hed: 1.34375

  --body-size: 1rem
  --body-size-lg: 2.0625em
  --body-size-sm: 0.875em

  --page-width: 34rem

//-----------------------------------------------------------------------------

@media screen and (min-width: 30rem) // 17

  \:root

    --line-height-body: 1.66
    --line-height-hed: 1.33

    --body-size: 1.0625rem
    --body-size-lg: 2.1875rem
    --body-size-sm: 0.9375rem

    --page-width: 36rem


//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem) // 18

  \:root

    --line-height-body: 1.83
    --line-height-hed: 1.415

    --body-size: 1.125rem
    --body-size-lg: 2.3125rem
    --body-size-sm: 1rem

    --page-width: 42.0625rem

//-----------------------------------------------------------------------------

@media screen and (min-width: 60rem) // 19

  \:root

    --line-height-body: 1.8
    --line-height-hed: 1.4

    --body-size: 1.1875rem
    --body-size-lg: 2.4375rem
    --body-size-sm: 1.125rem

    --page-width: 45.75rem