//-----------------------------------------------------------------------------

@mixin font-ratio($size: 1, $context: $line-height)
    font-size: percentage($size)
    line-height: $context / $size

$base-font-size: percentage(18/16)
$line-height: 1.83 !default

$serif: Georgia, Cambria, 'Century Schoolbook L', serif !default
$sans:  Verdana, 'Bitstream Vera Sans', Geneva, sans-serif !default
$system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default

//-----------------------------------------------------------------------------

//@font-face
  font-family: 'Yahoo'
  src:  url('/assets/fonts/yahoo-webfont.woff2') format('woff2'), url('/assets/fonts/syahoo-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

//@font-face
  font-family: '8bit_wondernominal'
  src: url('/assets/fonts/8-bit_wonder-webfont.woff2') format('woff2'), url('/assets/fonts/8-bit_wonder-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal
