@media screen and (min-width: 30rem)

  \:root

  --page-width: 34em

  --font-size: 106.25%
  --font-size-xs: 76.5%
  --font-size-sm: 88.23%
  --font-lh: 1.64705882353

  --hed-size: 129.4%
  --hedsize-md: 164.7%
  --hedsize-lg: 205.9%
  --hed-lh: 1.32352941176

  --shim: 1.64705882353em
  --shim-2x: 3.29411764706em
  --shim-4x: 6.58823529412em