@media screen and (min-width: 30em)

  \:root

    --page-width: 34em

    --fs: 106.25%
    --fs--xs: 76.5%
    --fs--sm: 88.23%
    --lh: 1.64705882353
    --lh--tight: 1.32352941176

    --hs: 129.4%
    --hs--sm: 111.76%
    --hs--md: 164.7%
    --hs--lg: 205.9%
    --hs--xl: 264.7%

    --shim: 1.64705882353em
    --shim--lh: 0.32352941176em
    --shim--tight: 1.32352941176em
    --shim--plus: 1.97058823529em
    --shim--double: 3.29411764706em
    --shim--quad: 6.58823529412em