//-----------------------------------------------------------------------------

\:root

  --font-family-sans: Verdana, "Verdana Ref", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", sans-serif

  --font-family-serif: Georgia, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", serif

  --font-family-black: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif

  --font-family-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace

  --font-family-system: system, system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif

  --page-width: 34em 
  --page-width-sm: var(--page-width)
  --page-width-md: 36em
  --page-width-lg: 40em

  --font-size: 100%
  --font-size-xx: 112.5%
  --font-size-sm: 87.5%

  --hed-size: 125%
  --hed-size-md: 162.5%
  --hed-size-lg: 206.25%
  --hed-size-xl: 262.5%

  --font-lh: 1.6875
  --hed-lh: 1.34375

  --shim: 1.6875em
  --shim-n: 1.3475em
  --shim-p: 2.035em

  --shim-2x: 3.375em
  --shim-3x: 5.0625em
  --shim-4x: 6.75em

  --nudge: 0.3475em
  --buffer: 2.695em

  --nudge-2x: 0.695em
  --border-style: thin dashed #C0C0C0
