\:root

  --fam-base: sans-serif
  --fam-system: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"

  --line-height-body: 1.6667
  --line-height-hed: 1.3333

  --body-size: clamp(1rem, 0.8214rem + 0.8929vw, 1.25rem)
  --body-size-lg: clamp(1.25rem, 0.3125rem + 4.6875vw, 2.5625rem)
  --body-size-sm: clamp(0.875rem, 0.6964rem + 0.8929vw, 1.125rem)

  --page-width: 48rem

//-----------------------------------------------------------------------------

@media screen and (min-width: 48rem)

  \:root
    --line-height-body: 1.7
    --line-height-hed: 1.35