//@font-face
  font-family: 'Yahoo'
  src:  url('/assets/fonts/yahoo-webfont.woff2') format('woff2'), url('/assets/fonts/syahoo-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

//@font-face
  font-family: '8bit_wondernominal'
  src: url('/assets/fonts/8-bit_wonder-webfont.woff2') format('woff2'), url('/assets/fonts/8-bit_wonder-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

$base-font-size: percentage(18/16)
$line-height: 1.83 !default

$mob-font-size: percentage(16/16) !default
$mob-line-height: (26/16) !default

$tab-font-size: percentage(17/16) !default
$tab-line-height: (28/17) !default

$desk-font-size: percentage(18/16) !default
$desk-line-height: 1.83 !default

$mob-logo-size: percentage(42/16) !default
$mob-hed-size: percentage(20/16) !default

$tab-logo-size: percentage(45/17) !default
$tab-hed-size: percentage(22/17) !default

$desk-logo-size: percentage(37/18) !default
$desk-hed-size: percentage(29/18) !default

$serif: Georgia, Cambria, 'Century Schoolbook L', serif !default
$sans:  Verdana, 'Bitstream Vera Sans', Geneva, sans-serif !default
$system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default
