//-----------------------------------------------------------------------------

footer
  margin-top: var(--shim--double)
  div.copydate
    margin-top: var(--shim--double)
    p
      margin-top: 0
      font-size: var(--fs--sm)
      color: $mix-color
      a:link, a:visited
        color: $mix-color
  div.hr
    width: 33%
