//-----------------------------------------------------------------------------

footer
  max-width: var(--page-width)
  margin-top: calc(var(--bem) + 0.33em)
  margin-left: auto
  margin-right: auto
  margin-bottom: 1em

  ul
    margin: 1em 0 0 0
    list-style: none
    li
      line-height: var(--line-height)
      color: $mix-color
      span.copyshow
        display: none

//-----------------------------------------------------------------------------

@media screen and (min-width: 30em)

  footer ul
    display: flex
    li
      margin-right: 0.33em
      font-size: var(--micro-size)
      span.copyshow
        display: inline
      &:not(:last-of-type)::after
        padding-left: 0.33em
        content: "-"
        color: $mix-color
