footer
  max-width: var(--page-width)
  margin: var(--shim-2x) auto
  ul.nav
    margin: var(--shim-2x) 0 0 0
    list-style-type: none
    display: flex
    flex-flow: row wrap
    align-items: center
    li
      margin-right: 0.8em
  div.copydate
    margin-top: var(--shim)
    p
      font-size: var(--font-size-sm)
      color: $mix-color
  div.hr
    max-width: var(--shim-4x)
