//-----------------------------------------------------------------------------
// Image styles!
//-----------------------------------------------------------------------------

div.fig

  margin-bottom: var(--shim)
  padding-top: var(--nudge)
  overflow: hidden
  img
    display: block
    margin: 0 auto
    width: var(--width)
    height: var(--height)
    object-fit: cover
    object-position: 50% 50%
    border-radius: 4px

    --width: 240px

    &.screen
      --height: calc(var(--width) / 1.77)
    &.poster 
      --height: calc(var(--width) * 1.5)
    &.tv
      --height: calc(var(--width) / 1.33)
    &.square
      --height: var(--width)

//-----------------------------------------------------------------------------

@media screen and (min-width: 20rem)

  div.fig
    img
      --width: 280px

//-----------------------------------------------------------------------------

@media screen and (min-width: 30rem)

  div.fig
    img
      --width: 360px

//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem)

  div.fig
    margin: 0 0 var(--shim) 0
    transform: rotate(-3deg)
    img
      --width: 580px
      border: 1em solid $bg-light