main article

  &>img
    max-width: 36%
    margin-top: bem(1)
    margin-bottom: 1em
    &.top
      margin-top: 0
    &.left
      float: left
      margin-left: 0
      margin-right: 1em
    &.right
      float: right
      margin-left: 1em
      margin-right: 0
    &.curved
      border-radius: 4px


//-----------------------------------------------------------------------------

@media screen and (min-width: 32em)

  main article

    &>img.left, img.right
      max-width: 33%

//-----------------------------------------------------------------------------

@media screen and (min-width: 50em)

  main article

    &>img.left
      margin-right: bem(1)
      &.tilt
        transform: rotate(-3deg)
        margin-left: -1em

    &>img.right
      margin-left: bem(1)
      &.tilt
        transform: rotate(3deg)
        margin-right: -1em

//-----------------------------------------------------------------------------

@media screen and (min-width: 64em)

  main article

    &>img.left
      max-width: 40%
      &.tilt
        margin-left: bem(-1)

    &>img.right
      max-width: 40%
      &.tilt
        margin-right: bem(-1)
