//-----------------------------------------------------------------------------
// INLINE IMAGE FLOAT STYLES!
//-----------------------------------------------------------------------------

article > img
  display: block
  margin-top: calc(1em + var(--shim))
  margin-bottom: calc(1em * var(--lh))
  margin-left: 0
  margin-right: 0
  border-radius: 4px
  &.top
    margin-top: 0
    padding-top: var(--shim)

//-----------------------------------------------------------------------------

@media screen and (min-width: 37em)

  article > img
    padding-bottom: 0

    &.left
      display: inline
      float: left
      margin-right: 1em
      margin-bottom: var(--shim)

    &.right
      display: inline
      float: right
      margin-left: 1em
      margin-bottom: var(--shim)

    &.top
      margin-top: var(--shim)
      padding-top: 0
      background-color: $bg-color

//-----------------------------------------------------------------------------

@media screen and (min-width: 48em)

  article > img

    &.top.pull
      margin-top: -1em

    &.left,
    &.right
      margin-bottom: 1em

    &.left
      margin-right: 1em

    &.right
      margin-left: 1em

    &.left.pull
      margin-left: -1em

    &.left.tilt
      transform: rotate(-3deg)

    &.right.pull
      margin-right: -1em

    &.right.tilt
      transform: rotate(3deg)

//-----------------------------------------------------------------------------

@media screen and (min-width: 64em)

  article > img

    &.left.pull
      margin-left: -2em

    &.right.pull
      margin-right: -2em
