//-----------------------------------------------------------------------------
// INLINE IMAGE FLOAT STYLES!
//-----------------------------------------------------------------------------

article > img
  display: block
  margin: var(--spacer) auto
  padding-bottom: 0.33em
  &.top
    margin-top: 0
  &.curved
    border-radius: 4px

//-----------------------------------------------------------------------------

@media screen and (min-width: 32em)

  article>img.left,
  article>img.right
    display: inline

  article>img.top
    margin-bottom: 1em
    padding: 0

  article>img.left
    float: left
    margin-left: 0
    margin-right: 1em

  article>img.right
    float: right
    margin-left: 1em
    margin-right: 0

//-----------------------------------------------------------------------------

@media screen and (min-width: 50em)

  article
    &>img.left
      margin-right: var(--spacer)
      &.tilt
        transform: rotate(-3deg)
        margin-left: -1em
    &>img.right
      margin-left: var(--spacer)
      &.tilt
        transform: rotate(3deg)
        margin-right: -1em

//-----------------------------------------------------------------------------

//@media screen and (min-width: 64em)

  article
    &>img.left.tilt
      margin-left: calc(var(--bem) * -2)
    &>img.right.tilt
      margin-right: calc(var(--bem) * -2)
