//-----------------------------------------------------------------------------

  # 16px
    line-height: 26/16
    13 16 20 26 33 42

  # 17px
    line-height: 28/17
    13 17 22 28 35 45

  # 18px
    line-height: 30/18
    14 18 23 29 37 47

  # 19px
    line-height: 32/19
    15 19 24 31 39 50

//-----------------------------------------------------------------------------

@import fonts, colors, reset

$max-width: 37.389em !default

//-----------------------------------------------------------------------------

@function bem($size: 1, $context: $line-height)
  @return ($size * $context) * 1em

@mixin font-ratio($size: 1, $context: $line-height)
  font-size: percentage($size)
  line-height: $context / $size

@mixin line-size($line-height: 1.6)
  line-height: (($line-height - 1) / 2) + 1

//-----------------------------------------------------------------------------

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

@-ms-viewport
  width: device-width

::selection
  background: $select-color

::-moz-selection
  background: $select-color

body

  font-family: $serif
  font-size: 100%
  line-height: (26/16)

  background-color: $body-color
  color: $text-color

  text-rendering: optimizeSpeed
  -ms-text-size-adjust: auto
  -webkit-text-size-adjust: auto

  padding: 1em 0.5em

a
  text-decoration: underline
  text-decoration-skip-ink: auto
  &:link
    color: $link-color
  &:visited
    color: $visited-color
  &:hover
    text-decoration: none
  &:active
    color: $active-color
  &:focus
    outline: thin solid #FC3
    background-color: $select-color

time
  white-space: nowrap

main
  max-width: 34em
  margin: 0 auto

article

  h2, h3, h4, h5, h6
    font-size: 100%
    margin-top: 1.5em

  p, ul, ol, li, hr
    margin-top: 1.5em

  blockquote
    padding: 0 1.5em

  blockquote,
  li + p,
    margin-top: 0

figure
  .wrap
    position: relative
    padding-bottom: 56.25%
    height: 0
    overflow: hidden
    max-width: 100%
    background-color: $bg-color
    iframe,
    object,
    embed,
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
    iframe,
    object,
    embed
      background: $bg-color url(/assets/img/default-image-icon.png) no-repeat center center

img
  border: thin solid $text-color

aside,
nav
  margin-top: 1.5em

div.hr
  width: 100%
  margin: 0
  padding: 0
  height: 0
  border: 0
  border-top: thin solid $border-dark
  border-bottom: thin solid $border-light
  background-color: $body-color
  &.pagebreak
    margin-top: 1.5em

.mix-link
  color: $mix-color
  a:link, a:visited
    color: $mix-color

.title-link
  color: $text-color
  a:link, a:visited
    color: $text-color
    text-decoration: none
  a:hover
    text-decoration: underline

.morefrom
  margin-top: 1em
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  list-style-type: none

//-----------------------------------------------------------------------------

@media screen and (min-width: 27em)

  body
    line-height: (27/16)

//-----------------------------------------------------------------------------

@media screen and (min-width: 34em)

  body
    font-size: percentage(18/16)
    line-height: (30/18)

  main
    max-width: $max-width

  .morefrom
    flex-direction: row
    align-items: center
    justify-content: center
    li
      margin-right: 0.25em
      &:not(:last-of-type)::after
        padding-left: 0.25em
        content: "/"
        color: $mix-color

//-----------------------------------------------------------------------------

@media screen and (min-width: 40em)

  body
    line-height: 1.83
