//-----------------------------------------------------------------------------

  # 16px
    line-height: 26/16 (1.625)
    13 16 20 26 33 42

  # 17px
    line-height: 28/17 (1.64705882353)
    13 17 22 28 35 45

  # 18px
    line-height: 30/18 (1.66666666667)
    14 18 23 29 37 47

  # 19px
    line-height: 32/19 (1.68421052632)
    15 19 24 31 39 50

//-----------------------------------------------------------------------------

@import fonts, colors, reset

//----------------------------------------------------------------------------
\:root
  --rat: 1.625
  --bem: calc(var(--rat) * 1em)
  --bem-double: calc(var(--rat) * 2em)
  --body-size: 100%
  --line-height: var(--rat)
  --logo-size: 161.1%
  --hed-size: 112.5%
  --hed-lh: 1.4
  --spacer: var(--bem)
  --page-width: 32em

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

@-ms-viewport
  width: device-width

::selection
  background: $select-color

::-moz-selection
  background: $select-color

body

  font-family: $serif
  font-size: var(--body-size)
  line-height: var(--line-height)

  background-color: $body-color
  color: $text-color

  text-rendering: optimizeSpeed
  -ms-text-size-adjust: auto
  -webkit-text-size-adjust: auto

  padding: 0 1em

main[role="main"]
  max-width: var(--page-width)
  margin-left: auto
  margin-right: auto

a
  text-decoration: underline
  text-decoration-skip-ink: auto
  &:link
    color: $link-color
  &:visited
    color: $visited-color
  &:hover
    text-decoration: none
  &:active
    color: $active-color

time
  white-space: nowrap

div.hr
  width: 100%
  margin: 0
  padding: 0
  height: 0
  border: 0
  border-top: thin solid $border-dark
  border-bottom: thin solid $border-light
  background-color: $body-color
  &.pagebreak
    margin-top: var(--bem)
  &.section
    margin-top: var(--bem)
  &.shim
    margin-top: 1em

.mix-link
  color: $mix-color
  a:link, a:visited
    color: $mix-color

.title-link
  color: $text-color
  a:link, a:visited
    color: $text-color
    text-decoration: none
  a:hover
    text-decoration: underline

.dashed
  margin-top: var(--bem)
  padding-top: var(--bem)
  border-top: thin dashed $mix-color

//-----------------------------------------------------------------------------

@media screen and (min-width: 27em)

  \:root
    --rat: 1.6875
    --logo-size: 162.5%

//-----------------------------------------------------------------------------

@media screen and (min-width: 32em)

  \:root
    --rat: 1.66666666667
    --page-width: 34em
    --body-size: 106.25%
    --hed-size: 129.41%

//-----------------------------------------------------------------------------

@media screen and (min-width: 40em)

  \:root
    --logo-size: 205.6%

//-----------------------------------------------------------------------------

@media screen and (min-width: 48em)

  \:root
    --rat: 1.83
    --page-width: 37.389em
    --body-size: 112.5%
    --hed-size: 127.77%

//-----------------------------------------------------------------------------

@media screen and (min-width: 50em)

  body
    padding: 0

//-----------------------------------------------------------------------------

//@media screen and (min-width: 72em)

  \:root
    --rat: 1.68421052632
    --body-size: 118.75%
    --hed-size: 126.3%
    --hed-lh: 1.3151
