main article

  header
    margin-top: 0
    text-align: center

    h1
      font-size: percentage(23/18)
      line-height: (($line-height - 1) / 2) + 1
      color: $text-color
      a:link, a:visited
        color: $text-color
        text-decoration: none
      a:hover
        text-decoration: underline

    ul
      margin: 0
      list-style-type: none
      li
        display: inline
        @include font-ratio(14/16)
        color: $mix-color
        a:link, a:visited
          color: $mix-color
          text-decoration: none
        a:hover
          text-decoration: underline
        &:nth-child(2):before
          content: "\20/\20"

  figure
    margin: bem(1) 0
    padding-bottom: 0.415em
    .wrap
      position: relative
      padding-bottom: 56.25%
      height: 0
      overflow: hidden
      max-width: 100%
      //background: $bg-color url(/assets/img/default-image-icon.png) no-repeat center center
      background-color: $bg-color
      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 4px
    figcaption p
      margin: 0
      @include font-ratio(12/16)

  & > img
    display: block
    margin: 0 auto (bem(1) + 0.415em) auto
    max-width: 100%
    background-color: $bg-color
    vertical-align: top
    overflow: hidden
    border-radius: 4px
    &.top
      margin-top: bem(1)
    &.half
      max-width: ($max-width / 2)
    &.third
      max-width: ($max-width / 3)
    &.border
      border-width: thin
      border-style: solid
      border-color: inherit
    &.transparent
      background-color: $body-color

//-----------------------------------------------------------------------------

@media screen and (min-width: 48em)

  main article header,
  footer
    text-align: left

  main article figure
    figcaption p
      @include font-ratio(14/16)

  main article > img
    margin-bottom: bem(1)
    &.left
      float: left
      margin-left: 0
      margin-right: bem(1)
      &.tilt
        transform: rotate(-3deg)
    &.right
      float: right
      margin-left: bem(1)
      margin-right: 0
      &.tilt
        transform: rotate(3deg)

//-----------------------------------------------------------------------------

@media screen and (min-width: 72em)

  main article figure figcaption p
    @include font-ratio(14/16)
