main article

  header
    max-width: $max-width
    margin-top: 0

    ul
      margin: 0
      list-style-type: none
      li
        display: inline
        @include font-ratio(14/16)
        color: $mix-color
        a:link, a:visited
          color: $mix-color
          text-decoration: none
        a:hover
          text-decoration: underline
        &:nth-child(2):before
          content: "\20/\20"

    &.feature
      h1
        font-size: percentage(23/18)
        line-height: (($line-height - 1) / 2) + 1

    &.post
      h1, p
        display: inline
      h1
        font-size: 100%
        line-height: $line-height
        &::after
          content: "\20"
      .punc::after
        content: "."
      .dash::after
        content: "\2014"

    &.page
      h1
        font-size: percentage(23/18)
        line-height: (($line-height - 1) / 2) + 1

    &.home
      h1
        color: $text-color
        a:link, a:visited
          color: $text-color
          text-decoration: none
        a:hover
          text-decoration: underline

  h2 + p
    margin-top: 0

  figure
    margin: 0 -1em bem(1) -1em
    padding-bottom: 0.415em
    .wrap
      position: relative
      padding-bottom: 56.25%
      height: 0
      overflow: hidden
      max-width: 100%
      background: $bg-color url(/assets/img/default-image-icon.png) no-repeat center center
      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
    figcaption
      margin: 0 1em
      padding: 0
      p
        display: none
        margin: 0
        padding: 0

  & > img
    display: block
    margin: 0 auto bem(1) auto
    max-width: 100%
    background-color: $bg-color
    vertical-align: top
    overflow: hidden
    &.half
      max-width: ($max-width / 2)
    &.third
      max-width: ($max-width / 3)
    &.top
      margin-top: 0
      margin-bottom: bem(1) + 0.415em
    &.border
      border-width: thin
      border-style: solid
      border-color: inherit
    &.saturate
      filter: saturate(8)
    &.rounded
      border-radius: 4px
    &.transparent
      background-color: $body-color

  .dateout
    font-style: italic
    color: $mix-color
    white-space: nowrap
    a:link,
    a:visited
      color: $mix-color
      text-decoration: none
    a:hover
      text-decoration: underline

main aside
  margin-top: bem(2)
  .related
    max-width: $max-width
    margin: 0 auto
    p:first-of-type
      margin-top: bem(1)
  .recent
    max-width: $max-width
    margin: 0 auto
    h2
      font-size: 100%

//-----------------------------------------------------------------------------

@media screen and (min-width: 32em)

  main article
    figure
      margin-left: 0
      margin-right: 0
      figcaption
        margin: 0
        p
          max-width: 100%
          display: block
          margin-top: 0.83em
          font-size: percentage(12/16)
          line-height: (($line-height - 1) / 2) + 1
      .wrap
        border-radius: 4px

//-----------------------------------------------------------------------------

@media screen and (min-width: 48em)

  main article > img
    margin-bottom: 1em
    &.left
      float: left
      margin-left: 0
      margin-right: bem(1)
      &.tilt
        transform: rotate(-3deg)
        margin-left: -1em
    &.right
      float: right
      margin-left: bem(1)
      margin-right: 0
      &.tilt
        transform: rotate(3deg)
        margin-right: -1em

//-----------------------------------------------------------------------------

@media screen and (min-width: 64em)

  main article figure
    margin-left: bem(-1)
    margin-right: bem(-1)

//-----------------------------------------------------------------------------

@media screen and (min-width: 72em)

  main article figure
    margin-left: bem(-2)
    margin-right: bem(-2)

  main article > img.left
    &.pull
      margin-left: bem(-2)
  main article > img.right
    &.pull
      margin-right: bem(-2)
