main article

  header
    margin-top: 0

    h1
      font-size: percentage(23/18)
      line-height: (($line-height - 1) / 2) + 1
      color: $text-color
      a:link, a:visited
        color: $text-color
        text-decoration: none
      a:hover
        text-decoration: underline
    p
      margin-top: 1.5em
    ul
      margin: 0
      list-style-type: none
      li
        display: inline
        font-size: percentage(14/16)
        @extend .mix-link
        color: $mix-color
        &:nth-child(2):before
          content: "\00A0/\00A0"

  figure
    margin-bottom: 1.5em
    padding: 0.415em 0
    .wrap
      position: relative
      padding-bottom: 56.25%
      height: 0
      overflow: hidden
      max-width: 100%
      //background: $bg-color url(/assets/img/default-image-icon.png) no-repeat center center
      background-color: $bg-color
      img
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 4px
        //border: 1px solid $text-color
    figcaption p
      margin: 0
      @include font-ratio(12/16)

  & > img
    display: block
    margin: 0 auto 1.5em auto
    max-width: 100%
    background-color: $bg-color
    vertical-align: top
    overflow: hidden
    &.top
      margin-top: 1.5em
    &.half
      max-width: ($max-width / 2)
    &.third
      max-width: ($max-width / 3)
    &.rock
      margin: 0 0 bem(1) 0
    &.border
      border-width: thin
      border-style: solid
      border-color: inherit
    &.rounded
      border-radius: 4px
    &.transparent
      background-color: $body-color

  .byline
    margin-top: 1.5em
    p
      display: inline
      @extend .mix-link
      &.author::after
        content: "\20/\20"
        color: $mix-color


//-----------------------------------------------------------------------------

@media screen and (min-width: 48em)

  main article figure
    figcaption p
      @include font-ratio(14/16)

  main article > img
    margin-bottom: 1em
    &.left
      float: left
      margin-left: 0
      margin-right: 1em
      &.tilt
        transform: rotate(-3deg)
      &.shadow
        box-shadow: -4px 4px 4px $mix-color
    &.right
      float: right
      margin-left: 1em
      margin-right: 0
      &.tilt
        transform: rotate(3deg)
      &.shadow
        box-shadow: 4px 4px 4px $mix-color

//-----------------------------------------------------------------------------

@media screen and (min-width: 72em)

  main article figure figcaption p
    @include font-ratio(14/16)
