article section
  margin: var(--shim) 0
  h1, p
    display: inline
  h1
    font-size: 1em
    //a:link, a:visited
      //color: $text-color
    &::after
      content: '\20'
    span.punc::after
      content: '.'
  p
    margin: 0
  div.hr
    width: 100%
    margin-top: var(--shim)

//-----------------------------------------------------------------------------

@media screen and (min-width: 30em)

  article section
    h1
      span.widont
        white-space: nowrap