// card styles

section
  margin-top: var(--buffer)
  &:first-of-type
    margin-top: 0
  div.text
    margin-top: 1em
    h1, h2, h3, h4, h5, h6, p
      margin: 0
      display: inline
      font-size: 1em
      font-weight: 400