//-----------------------------------------------------------------------------

// npr:   680 / 17px? / 1.7
// vf:    673 / 18px / 1.83
// gawk:  732 / 19px / 1.8
// fobes: 540 / 18px / 1.66666666667 (18/30)
// irishtimes: 580 / 17px / 1.5

//-----------------------------------------------------------------------------

\:root

  --fam-logo: 'Averia Sans Libre', sans-serif
  --fam-serif: Georgia, Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', serif
 
  --line-height-body: 1.6875
  --line-height-hed: calc(((var(--line-height-body) - 1) / 2) + 1)

  --body-size: 1em
  --body-size-lg: 1.125em
  --body-size-sm: 0.875em

  --hed-size: 1.25em
  --hed-size-md: 1.625em
  --hed-size-lg: 2.0625em
  --hed-size-xl: 2.625em

  --shim: calc(var(--line-height-body) * 1em)
  --shim-2x: calc(var(--shim) * 2)

  --nudge: calc(((var(--line-height-body) - 1) / 2) * 1em)
  --nudge-2x: calc((var(--line-height-body) - 1) * 1em)
  --nudge-hr: calc(var(--nudge) + 3px)

  --shim-n: calc(var(--shim) - var(--nudge))
  --shim-p: calc(var(--shim) + var(--nudge))
  --buffer: calc(var(--shim-n) * 2)

  --page-width: 34rem

  --color-logo: black
  --color-shock: white

  --color-link: hsl(240, 100%, 50%)
  --color-visited: hsl(300, 100%, 25%)
  --color-active: hsl(36, 100%, 50%)
  --color-select: hsl(60,100%,90%)

  --color-body: hsl(0, 0%, 98%)
  --color-body-dark: hsl(0, 0%, 92%)
  --color-back: hsl(0, 0%, 89%)
  --color-shade: hsl(0, 0%, 75%)
  --color-half: hsl(0, 0%, 49%)
  --color-text: hsl(0, 0%, 15%)

  --color-white: hsl(0, 0%, 100%)
  --color-black: hsl(0, 0%, 0%)

  --color-hr-top-light: hsl(0, 0%, 82%)
  --color-hr-bottom-light: hsl(0, 0%, 100%)

  --color-hr-top-dark: hsl(0, 0%, 78%)
  --color-hr-bottom-dark: hsl(0, 0%, 95%)

//-----------------------------------------------------------------------------

@media screen and (min-width: 30rem) // 17px

  \:root

    --line-height-body: 1.66

    --body-size: 1.063rem
    --body-size-lg: 1.11764705882em
    --body-size-sm: 0.88235294117em

    --hed-size: 1.29411764706em
    --hed-size-md: 1.64705882353em
    --hed-size-lg: 2.05882352941em
    --hed-size-xl: 2.64705882353

    --page-width: 36rem

//-----------------------------------------------------------------------------

@media screen and (min-width: 50rem) // 18px 

  \:root

    --line-height-body: 1.83

    --body-size: 1.125rem
    --body-size-lg: 1.11111111111em
    --body-size-sm: 0.88888888888em

    --hed-size: 1.27777777778em
    --hed-size-md: 1.61111111111em
    --hed-size-lg: 2.05555555556em
    --hed-size-xl: 2.61111111111em

    --page-width: 42.063rem
