$key:           random(6)
$one-color:     #06F, #C06, #393, #f30, #09F, #099
$two-color:     #6FF, #FC0, #9F0, #FC0, #9F3, #FC0
$primary-color: nth($one-color, $key)
$secondary-color: nth($two-color, $key)