//-----------------------------------------------------------------------------
// header and footer defaults for homepage and archive
//-----------------------------------------------------------------------------

header[role="banner"]
  div.logo
    display: flex
    align-items: center
    justify-content: space-between
  div.hr
    display: none

footer
  margin-top: 4em
  ul
    margin-top: 4em
  div.hr
    max-width: 33%

//-----------------------------------------------------------------------------

@media screen and (min-width: 23em)

  header[role="banner"] 
    div.logo h1
      font-size: var(--hs--xl)

//-----------------------------------------------------------------------------

@media screen and (min-width: 32em)

  header[role="banner"] 
    div.logo
      margin-left: calc(var(--shim) * -1)

//-----------------------------------------------------------------------------

@media screen and (min-width: 40em)

  header[role="banner"] 
    div.logo h1
      transform: rotate(-3deg)