//-----------------------------------------------------------------------------
// header and footer defaults
//-----------------------------------------------------------------------------
    
header[role="banner"]
  height: calc(var(--shim--lh) * 2)
  display: flex
  align-items: center
  justify-content: space-between
  div.logo
    display: flex
    align-items: center
    justify-content: space-between
    h1
      margin: 0
      padding: 0
      font-family: 'Slackey', $sans
      font-size: var(--hs--lg)
      font-weight: 400
      line-height: var(--lh--flat)
      text-transform: uppercase
      text-shadow: -3px 3px 0px $shock-color
      a:link,
      a:visited
        color: $logo-color
        text-decoration: none
  div.ascii
    display: none
    line-height: var(--lh--tight)
    color: darken($body-color, 20%)

footer
  margin-top: 4em
  ul
    list-style: none
    &.archive
      margin-top: 4em
      li:first-of-type
        font-weight: 700
    &.socials
      margin-top: 2em
  div.copydate
    margin-top: 1em
    p
      font-size: var(--fs--sm)
      line-height: var(--lh)
      color: $mix-color
      a:link,
      a:visited
        color: $mix-color
  div.hr
    max-width: 33%

//-----------------------------------------------------------------------------

@media screen and (min-width: 23em)

  header[role="banner"] 
    div.logo h1
      font-size: var(--hs--xl)

//-----------------------------------------------------------------------------

@media screen and (min-width: 32em)

  header[role="banner"] 
    div.logo h1
      margin-left: -6px
    div.ascii
      display: block

  footer ul
    display: flex
    flex-flow: row wrap
    li
      margin-right: 0.5em
      line-height: var(--lh)

//-----------------------------------------------------------------------------

@media screen and (min-width: 40em)

  header[role="banner"] 
    div.logo h1
      transform: rotate(-3deg)
    div.ascii
      transform: rotate(3deg)