---
#
---

@charset "utf-8"
@import reset, font, color, body, article, footer

body
  padding: var(--shim) 1em

header[role="banner"]
  h1
    font-family: $serif
    font-size: 2rem
    line-height: 1
    font-weight: 700
    font-style: italic
    text-transform: capitalize
    text-shadow: none

article
  margin-top: var(--shim)
  ul
    li
      margin-top: 0

footer
  margin-top: var(--shim)
  ul
    margin-top: var(--shim)
    display: none
  p
    margin-top: 0
    font-size: var(--fs--sm)
    color: $mix-color
    a:link, a:visited
      color: $mix-color
  div.hr
    width: 100%

//-----------------------------------------------------------------------------

@media screen and (min-width: 30em)

  body
    padding: var(--shim) 2em