---
# SPECIALIZED STYLES FOR ABOUT PAGE
---

@charset "utf-8"
@import init, img, figure, footer, article

header[role="banner"]
  div.icon img
    display: block
    margin: 0 auto
    border-radius: 50%

article header
  h1
    font-style: italic
    text-align: center

footer
  margin-bottom: var(--bem)
  div.social,
  div.meta
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-top: var(--bem)
    h1
      font-size: 100%
    p.copyright
      font-size: 87.5%
      color: $mix-color

//-----------------------------------------------------------------------------

@media screen and (min-width: 30em)

  \:root
    --rat: 1.625
    --body-size: 100%
    --page-width: 22.50em
