---
# PAGE: ABOUT, 404, ETC.
---

@charset "utf-8"
@import init, banner, footer

header[role="banner"],
main,
footer
  max-width: 20rem

header[role="banner"]
  div.logo::before
    content: ''
    flex: 1
    margin: 0 0.5em 0 0
    padding: 0
    height: 0
    border: 0
    background-color: $body-color
    border-top: thin solid $border-dark
    border-bottom: thin solid $border-light

article
  header
    margin-top: 3em
    h1
      font-size: 150%
      font-style: italic
      text-align: center

footer
  margin-top: 1.66em

//-----------------------------------------------------------------------------

@media screen and (min-width: 34em)

  body
    font-size: 1rem
    line-height: (25/16)

  header[role="banner"]
    div.logo::before
      margin: 0 0.5em 0 0


  footer
    margin-top: 1.915em
    ul
      flex-direction: column
      li:not(:last-of-type)::after
        content: ''
