---
# POSTS WITH FLOATS
---

@charset "utf-8"
@import init, img, footer, banner-text-only-alt, article

article
  header
    h1
      font-size: 125%
      line-height: 1.3125
      a:link,
      a:visited
        color: $text-color
  div.byline
    margin-top: var(--bem)
    p
      display: inline
      margin: 0
      font-size: 87.5%
      line-height: var(--hed-lh)
      color: $mix-color
      a:link,
      a:visited
        color: $mix-color
    p.author
      text-transform: uppercase
      &::after
        content: "\20\/\20"

  &>img.top
    margin-top: var(--bem)

//-----------------------------------------------------------------------------

@media screen and (min-width: 30em)

  article header h1
    font-size: 129.4%
    line-height: 1.32352941176
