---
# POSTS WITH FLOATS
---

@charset "utf-8"
@import init, img, figure, footer, article

header[role="banner"]
  display: flex
  align-items: center
  div.logo img
    width: var(--bem-double)
    height: var(--bem-double)
    border-radius: 4px
  h1
    font-family: 'Sancreek', $serif
    font-size: 205.9%
    font-weight: 400
    line-height: 1
    text-transform: uppercase
    a:link,
    a:visited
      color: $logo-color
      text-decoration: none
    a:hover
      text-decoration: underline
  div.hr
    flex: 1
    margin-left: 1em

article
  header
    h1
      font-size: var(--hed-size)
      line-height: var(--hed-lh)
      a:link,
      a:visited
        color: $text-color
  div.byline
    &.buff
      margin-top: var(--bem)
    &.norm
      margin-top: 0
    p
      display: inline
      margin: 0
      font-size: var(--micro-size)
      line-height: var(--hed-lh)
      color: $mix-color
      a:link,
      a:visited
        color: $mix-color
    p.author
      &.allcaps
        text-transform: uppercase
      &::after
        content: "\20\/\20"

  figure
    padding-bottom: 0.33em

  &>img.top
    margin-top: var(--bem)
