---
# HOMEPAGE & ARCHIVES
---

@charset "utf-8"
@import init, banner, footer

article
  header h1
    font-size: var(--hed-size)
    line-height: var(--hed-lh)
  ul
    list-style: square
    margin: var(--bem) 0 0 1.3em
    li
      color: $mix-color
      span.datestamp
        color: $mix-color
        a:link,
        a:visited
          color: $mix-color

  section
    margin-top: var(--bem)
    //padding-top: var(--bem)
    //border-top: 1px dashed $border-dark
    //&:first-of-type
      padding-top: var(--bem)
      border-top: 1px dashed $border-dark
      //padding: 0
      //border: 0
    h1, p
      display: inline
      font-size: 1em
      line-height: var(--line-height)
    span.datestamp
      white-space: nowrap
      color: $mix-color
      a:link, a:visited
        color: $mix-color
      &::before
        content: '['
      &::after
        content: ']'

//-----------------------------------------------------------------------------

@media screen and (min-width: 60em)

  article
    //ul
      list-style-type: none
      margin-left: 0
      li::before
        content: "\2014\00A0"
    section
      h1, p
        display: block
