---
#
---

@charset "utf-8"
@import reset, font, color, body, article, section, banner, footer

body
  padding: var(--shim) 1em

article
  margin-top: var(--shim--sm)
  div.hr
    margin-top: var(--shim)

//-----------------------------------------------------------------------------

@media screen and (min-width: 30em)

  body
    padding: var(--shim) 2em