---
#
---

@charset "utf-8"
@import reset, font, color, body, article, image, banner, footer

body
  padding: var(--shim) 1em

article
  margin-top: var(--shim)
  header
    h1,p
      display: inline
    h1
      font-size: 1em
      line-height: var(--lh)
      &::after
        content: '\00A0\2014\020'
        font-weight: 400
  span.datestamp
    font-style: italic
    color: $mix-color
    a:link,
    a:visited
      color: $mix-color
      text-decoration: none
    a:hover
      text-decoration: underline

aside
  margin-top: 2em
  ul
    margin-top: 2em
    list-style-type: none
    li:not(:first-of-type)
      margin-top: 1em
