---
# POST: JUST REGULAR OL' ARTICLES
---

@charset "utf-8"
@import init, banner, footer, article

article
  margin-top: var(--bem)
  header
    h1, p
      display: inline
      font-size: 1em
    span.punc::after
      content: "\00A0\2014\20"

  div.byline
    margin-top: var(--bem)
    p
      display: inline
      margin: 0
      color: $mix-color
      a:link,
      a:visited
        color: $mix-color
      &:first-of-type::after
        content: "\20/\20"

footer
  margin-top: calc(var(--bem) * 2)

//-----------------------------------------------------------------------------

@media screen and (min-width: 32em)

  header[role="banner"] h1
    font-size: 161.1%

//-----------------------------------------------------------------------------

@media screen and (min-width: 40em)

  footer ul li
    font-size: 100%
