---
# POST: JUST REGULAR OL' ARTICLES
---

@charset "utf-8"
@import init, banner, footer, article

article
  margin-top: var(--bem)
  header
    h1, p
      display: inline
      font-size: 1em
    span.punc::after
      content: "\00A0\2014\20"

  span.byline
    font-style: italic
    color: $mix-color
    a:link,
    a:visited
      color: $mix-color

footer
  margin-top: calc(var(--bem) * 2)

//-----------------------------------------------------------------------------

@media screen and (min-width: 32em)

  header[role="banner"] h1
    font-size: 161.1%

//-----------------------------------------------------------------------------

@media screen and (min-width: 40em)

  footer ul li
    font-size: 100%
