---
# DEFAULT STYLES
---

@charset "utf-8"
@import reset, font, shim, color, body, banner, article, footer

article.micro
  div.hed
    h1, p
      display: inline
      font-size: 1em

    h1::after
      content: '\20'
    span.punc::after
      content: '.'
  span.daystamp
    font-style: italic
    font-face: var(--fam-wtf)

article.archive
  section
    margin-top: var(--shim)
    &:first-of-type
      margin-top: 0
    h1
      font-size: 1em
    ul
      margin-bottom: 0
      list-style-type: square
      color: var(--color-logo)

article.error
  h1
    font-size: var(--hed-size)
    line-height: var(--line-height-hed)
