---
# DEFAULT
---

@charset "utf-8"
@import reset, base, banner, footer, aside, img

//-----------------------------------------------------------------------------

main article

  header
    h1
      font-size: percentage(23/18)
      line-height: (($line-height - 1) / 2) + 1
    ul
      margin: 0
      list-style-type: none
      li
        display: inline
        @include font-ratio(14/16)
        color: $mix-color
        a:link, a:visited
          color: $mix-color
          text-decoration: none
        a:hover
          text-decoration: underline
        &:first-of-type::after
          content: "\20\2022\20"

  figure
    &.single
      margin-top: bem(1)
      padding: 0.66em 0 0.33em 0
      img
        max-width: 100%
        height: auto
    &.photoset
      padding-bottom: 0.33em
      .container
        width: 100%
      .flex
        display: flex
        flex-wrap: wrap
      img
        display: block
        width: 100%
      .photo
        flex: 1 0 100px
        margin: 0 $margin-size $margin-size 0
      .collage
        .image--1
          flex-basis: 100 - $margin-size
        .image--2
          flex-basis: 50 - $margin-size
        .image--3
          flex-basis: 33 - $margin-size
        .image--4
          flex-basis: 25 - $margin-size
        .image--3-of-5
          flex-basis: 60 - $margin-size
        .image--2-of-5
          flex-basis: 40 - $margin-size
          position: relative
          overflow: hidden
          img
            position: absolute
            height: 100%
            width: auto

  .datestamp
    @extend .permalink

  .error
    margin-top: bem(1)
    li
      margin: 0

//-----------------------------------------------------------------------------

@media screen and (min-width: 41em)

  main article figure.single img
    border-radius: 5px
