---
# DEFAULT STYLES
---

@charset "utf-8"
@import reset, font, color, body, banner, figure, article, footer

article.text
  header
    max-width: var(--page-width-md)
    h1
      font-size: 150%
      line-height: var(--hed-lh)
    .byline
      margin-top: var(--nudge)
      p
        display: inline
        margin: 0
        font-size: var(--font-size-sm)
        color: $mix-color
        &:not(:first-of-type)::before
          content: '\0020\2022\0020'
  figure.video
    margin: var(--shim) 0 var(--shim-p) 0

article.error
  p
    text-align: center

article.future
  margin-top: 2em
  p
    text-align: center


//-----------------------------------------------------------------------------

@media screen and (min-width: 30rem)

  article.text
    header
      h1  
        font-size: var(--hed-size-md)
      .byline.fat
        margin-top: calc(var(--nudge) / 2)
      .byline.thin
        margin-top: 0