---
#
---

@charset "utf-8"
@import reset, font, color, body, article, section, banner-alt, footer-alt

body
  padding: var(--shim) 1em

article
  margin-top: var(--shim--sm)
  header
    margin-top: var(--shim)
    h1
      font-size: var(--hs)
      line-height: var(--lh--flat)
  img.ad
    display: block
    max-width: 100%
    height: auto
    margin-top: var(--shim)
    margin-bottom: var(--shim)
    background-color: $bg-color
    border-radius: 0px
    outline-width: 2px
    outline-style: solid
    outline-color: inherit
  div.hr
    margin-top: var(--shim)

//-----------------------------------------------------------------------------

@media screen and (min-width: 30em)

  body
    padding: var(--shim) 2em