---
#
---

@charset "utf-8"
@import reset, font, color, body, article, section, banner-alt, footer-alt

body
  padding: var(--shim) 1em

article
  margin-top: var(--shim--sm)
  header
    h1
      font-size: var(--hs--md)
      line-height: var(--lh--flat)
  div.hr
    margin-top: var(--shim)

//-----------------------------------------------------------------------------

@media screen and (min-width: 30em)

  body
    padding: var(--shim) 2em