---
#
---

@charset "utf-8"
@import reset, font, color, body, article, banner, footer

article
  margin-top: var(--shim--tight)
  header
    margin-top: var(--shim)
    h1
      font-size: var(--hs--md)
      line-height: var(--lh--flat)
  section
    margin-top: var(--shim)
    h1, p
      display: inline
    h1
      font-size: 1em
      &::after
        content: '\00A0\2014\20'
        font-weight: 400
        color: $mix-color
    p
      margin: 0
  img.xo
    display: block
    max-width: 100%
    height: auto
    margin-top: var(--shim)
    margin-bottom: var(--shim)
    background-color: $bg-color
    border-radius: 0px
    outline-width: 1px
    outline-style: solid
    outline-color: inherit
  div.hr
    width: 100%
    margin-top: var(--shim)

//-----------------------------------------------------------------------------

@media screen and (min-width: 30em)

  header[role="banner"]
    h1
      font-size: var(--hs--xl)