---
#
---

@charset "utf-8"
@import reset, fonts, colors, body, banner, figure, footer

header[role="banner"]
  display: flex
  align-items: center
  div.hr
    width: 100%
    margin-left: var(--shim)

article
  margin-top: 2em

  header
    h1, p
      display: inline
      font-size: 1em
    h1
      .punc::after
        content: '.'
      &::after
        content: '\20'

footer
  margin-top: 2em
  div.hr
    margin-top: calc(2em + var(--shim))

//-----------------------------------------------------------------------------

@media screen and (min-width: 32em)

  footer ul
    justify-content: center
    li
      margin-right: 0.25em
      &:not(:last-of-type)::after
        content: '-'
        padding-left: 0.25em
        color: $mix-color

//-----------------------------------------------------------------------------

@media screen and (min-width: 50em)

  header[role="banner"]
    div.hr
      margin-right: -1em

  footer
    max-width: calc(1em + var(--page-width ))
