---
# POSTS WITH FLOATS
---

@charset "utf-8"
@import reset, global, img, footer, article

header[role="banner"]
  margin-top: 2em
  display: flex
  align-items: center
  justify-content: space-between
  div.text
    display: flex
    align-items: center
    margin: 0 1em
    h1
      margin: 0
      padding: 0
      font-family: 'Sancreek', $serif
      font-size: 205.9%
      font-weight: 400
      line-height: 1
      text-transform: uppercase
      @extend .logo-link
    div.hr
      flex: 1

article
  header
    h1
      font-size: var(--hed-size)
      line-height: var(--hed-lh)
      @extend .title-link
  div.byline
    margin-top: 0
    p
      display: inline
      font-size: var(--micro-size)
      line-height: var(--hed-lh)
      color: $mix-color
      @extend .mix-link
      &.author
        text-transform: uppercase
        &::after
          content: "\20/\20"
  p.datestamp
    font-style: italic
    @extend .mix-link
  &>img.top
    margin-top: 0

footer ul
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

//-----------------------------------------------------------------------------

@media screen and (min-width: 30em)

  footer ul
    flex-direction: row
