---
#
---

@charset "utf-8"
@import reset, fonts, colors, body, banner, figure, footer

header[role="banner"]
  display: flex
  align-items: center
  div.hr
    width: 100%
    margin-left: var(--shim)

article header
  h1, p
    display: inline
    font-size: 1em
  h1
    .punc::after
      content: '.'
    &::after
      content: '\20'

footer
  margin-top: 2em
  ul
    margin-top: 1em
    list-style: none
    li
      text-transform: capitalize
      color: $mix-color
  div.hr
    margin-top: calc(2em + var(--shim))

//-----------------------------------------------------------------------------

@media screen and (min-width: 32em)

  footer ul
    display: flex
    flex-flow: row wrap
    justify-content: center
    li
      margin-right: 0.25em
      line-height: var(--lh)
      &:not(:last-of-type)::after
        content: '-'
        padding-left: 0.25em
        color: $mix-color

//-----------------------------------------------------------------------------

@media screen and (min-width: 50em)

  footer.media div.hr
    margin-right: -1em
