---
#
---

@charset "utf-8"
@import reset, fonts, colors, body, article, images

body
  padding: var(--shim--lh) 1em
  display: flex
  flex-direction: column

header[role="banner"]
  width: 100%
  h1
    font-family: 'Slackey', $sans
    font-size: var(--hs--lg)
    line-height: var(--lh--flat)
    font-weight: 400
    text-transform: uppercase
    text-shadow: -3px 3px 0px $shock-color
    a:link, a:visited
      color: $logo-color
      text-decoration: none
  ul
    display: flex
    align-items: center
    margin-top: var(--shim)
    list-style-type: none   
    li
      font-size: var(--fs--sm)
      line-height: var(--lh--tight)
      margin-left: 0.25em
      color: $mix-color
      &:not(:first-of-type)::before
        content: '-'
        padding-right: 0.25em  
  div.hr
    display: none

article
  margin-top: var(--shim--lh)
  header
    h1,p
      display: inline
    h1
      font-size: 1em
      line-height: var(--lh)
      &::after
        content: '\00A0\2014\020'
        font-weight: 400
  figure
    margin-bottom: var(--shim--lh)
  time
    font-style: italic
    color: $mix-color
    a:link,
    a:visited
      color: $mix-color
      text-decoration: none
    a:hover
      text-decoration: underline

aside
  order: 2
  margin-top: calc(var(--shim--lh) * 2)
  h2
    margin-top: 0
    font-size: 1em
    line-height: var(--lh--tight)
  ul
    margin-top: 0
    list-style-type: none
    li
      margin-top: 1em
  p
    margin-top: calc(var(--shim--lh) * 2)
    font-style: italic
    text-align: center
    color: $mix-color
    a:link, a:visited
      color: $mix-color

footer
  order: 1
  margin-top: calc(var(--shim--lh) * 2)
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  h1
    font-size: var(--shim--lh)
    line-height: var(--lh--flat)
    background-color: $body-color
    a:link,
    a:visited,
    a:hover
      text-decoration: none
  div.hr
    flex: 1
    width: 100%
    margin-left: var(--shim)

//-----------------------------------------------------------------------------

@media screen and (min-width: 30em)

  body
    padding: 2em

  header[role="banner"]
    display: flex
    align-items: center
    justify-content: space-between
    h1
      margin-left: -6px

  footer
    h1
      margin-left: -3px
//-----------------------------------------------------------------------------

@media screen and (min-width: 40em)

  header[role="banner"]
    ul
      margin-top: 0

  article
    figure
      margin-left: calc(var(--shim--lh) * -1)
      margin-right: calc(var(--shim--lh) * -1)

//-----------------------------------------------------------------------------

@media screen and (min-width: 50em)

  article
    figure
      margin-left: calc(var(--shim--lh) * -2)
      margin-right: calc(var(--shim--lh) * -2)
