---
# HOMEPAGE & ARCHIVES
---

@charset "utf-8"
@import init, banner, footer, extras

header[role="banner"] h1
  font-size: 261.1%

article
  margin-top: var(--bem-double)

  section
    &:not(:first-of-type)
      margin-top: var(--bem)
    h1
      font-size: 87.5%
      font-weight: 400
      line-height: 1.4
      text-transform: uppercase
    p
      font-size: 127.77%
      line-height: 1.65217391304
