---
# HOMEPAGE & ARCHIVES
---

@charset "utf-8"
@import init, banner, footer, article

article
  margin-top: var(--bem)
  &:not(:first-of-type)
    margin-top: var(--bem-triple)
  header
    h1
      font-size: var(--hed-size)
      line-height: var(--hed-lh)
      a:link,
      a:visited
        color: $text-color
    span.punc::after
      content: ".\20"

  time
    font-style: italic
    color: $mix-color
    white-space: nowrap
    a:link,
    a:visited
      color: $mix-color
    &::before
      content: '\20('
    &::after
      content: ')'
