---
# HOMEPAGE
---

@charset "utf-8"
@import init, banner, footer

article
  margin-top: 1.65em
  &:first-of-type
    margin-top: 0

div.card.promo
  padding-top: 1.5em
  div.text p
    margin-top: 0

footer
  margin-top: 1em
