---
#
---

@charset "utf-8"
@import reset, fonts, colors, body, banner, footer

article
  margin-top: 4em
  section
    &:not(:first-of-type)
      margin-top: 2em
    h2
      margin-top: 0
      padding-bottom: 3px
      line-height: var(--lh--tight)
      &.first
        font-size: var(--hs)
      &.not
        font-size: 1em
    p
      margin: 0

//-----------------------------------------------------------------------------

@media screen and (min-width: 40em)

  article section
    padding-bottom: 0
