---
# ARCHIVES
---

@charset "utf-8"
@import init, banner, footer

article
  margin-top: var(--bem-double)

  header
    h1
      font-size: 100%
      line-height: var(--line-height)
      a:link,
      a:visited
        color: $text-color
    p
      font-size: 87.5%
      line-height: var(--hed-lh)
      color: $mix-color
