---
# ARCHIVES
---

@charset "utf-8"
@import init, banner, footer, extras

article
  margin-top: var(--bem-double)
    
  header
    h1
      font-size: var(--hed-size)
      line-height: var(--hed-lh)
      a:link,
      a:visited
        color: $text-color
