---
#
---

@charset "utf-8"
@import reset, fonts, colors, body, banner, figure, img, footer

article

  header
    h1
      line-height: var(--lh--tight)
      color: $text-color
      a:link,
      a:visited
        color: $text-color
      &.supa
        font-size: var(--hs--md)
      &.feature
        font-size: var(--hs)
      &.post
        font-size: 1em
    &.marquee
      h1, p
        display: inline
        font-size: 1em
      h1::after
        content: '\00A0\2014\020'

  .datestamp
     font-style: italic
