---
#
---

@charset "utf-8"
@import reset, fonts, colors, body, banner, figure, img, footer

article
  margin-top: calc(4em - var(--shim))
  header.post
    h1
      a:link,
      a:visited
        color: $text-color
        text-decoration: none
      a:hover
        text-decoration: underline
  header.post.lg
    h1
      font-size: var(--hs)
      line-height: var(--lh--tight)
  header.post.sm
      h1, p
        display: inline
        font-size: 1em
        .punc::after
          content: '.'
        &::after
          content: '\20'
  header.page
    h1
      font-size: 1em
      line-height: var(--lh--tight)
  .datestamp
    font-style: italic
    color: $mix-color
    a:link,
    a:visited
      color: $mix-color
      text-decoration: none
    a:hover
      text-decoration: underline

  section.home
    h2
      &.first
        font-size: var(--hs)
        line-height: var(--lh--tight)
      &.not
        font-size: 1em
    p
      margin: 0
