---
#
---

@charset "utf-8"
@import reset, fonts, colors, body, banner, figure, img, footer

article
  margin-top: 4em
  //calc(4em - var(--shim))
  header.post
    h1
      a:link,
      a:visited
        color: $text-color
        text-decoration: none
      a:hover
        text-decoration: underline
  header.post.lg
    h1
      font-size: var(--hs)
      line-height: var(--lh--tight)
  header.post.sm
      h1, p
        display: inline
        font-size: 1em
        .punc::after
          content: '.'
        &::after
          content: '\20'
  header.page
    h1
      font-size: 1em
      line-height: var(--lh--tight)
  .datestamp
    font-style: italic
    color: $mix-color
    a:link,
    a:visited
      color: $mix-color
      text-decoration: none
    a:hover
      text-decoration: underline

aside
  margin-top: 4em
  h2
    font-size: 1em
  ul
    margin: 1em 0 0 calc(var(--shim) + 1em)
    li
      margin-top: 1em

//-----------------------------------------------------------------------------

@media screen and (min-width: 40em)

  aside ul
    margin: 1em 0 0 0
