---
#
---

@charset "utf-8"
@import reset, font, color, body, article, figure, aside, banner, footer

article
  margin-top: var(--shim)
  header
    h1,p
      display: inline
    h1
      font-size: 1em
      line-height: var(--lh)
      span.punc::after
        content: '.\020'
  figure
    margin-bottom: var(--shim)
    figcaption
      p
        font-size: var(--fs--xs)
        line-height: var(--lh--tight)

//-----------------------------------------------------------------------------

@media screen and (min-width: 23em)

  article
    figure.narrow
      max-width: calc(var(--page-width) / 2)

//-----------------------------------------------------------------------------

@media screen and (min-width: 30em)

  article
    header.md
      h1,p
        display: block
      h1
        font-size: var(--hs)
        line-height: var(--lh--tight)
        span.punc::after
          content: ''