---
# DEFAULT STYLES
---

@charset "utf-8"
@import reset, vars, body, article, figure

header[role="banner"]
  margin: 0 auto
  svg
    width: auto
    height: var(--buffer)
    fill: #F30
    filter: drop-shadow(-1px 1px 1px rgba(255, 204, 0, 1))
  div.hr
    margin-top: calc(var(--shim) + 2px)
    max-width: var(--shim-4x)

article
  margin: var(--shim-2x) auto
  header
    h1
      font-size: var(--hed-size)
      line-height: var(--line-height-hed)
      
footer
  margin: 0 auto
  ul
    &:first-of-type
      margin-top: var(--shim-2x)
  p
    color: var(--color-half)
    &:first-of-type
      margin-top: var(--shim)
  div.hr
    max-width: var(--shim-4x)

//-----------------------------------------------------------------------------

@media screen and (min-width: 40rem)

  footer
    ul
      gap: var(--nudge-2x)
    p
      font-size: var(--body-size-sm)

//-----------------------------------------------------------------------------

@media screen and (min-width: 50rem)

  header[role="banner"]
    svg
      height: var(--shim-p)
