---
#
---

@charset "utf-8"
@import reset, fonts, colors, body, figure

header[role="banner"]
  display: flex
  align-items: center
  div.hr
    width: 100%
    margin-left: var(--shim)

article
  margin-top: calc(2em - var(--shim))

  header
    h1, p
      display: inline
      font-size: 1em
    h1
      .punc::after
        content: '.'
      &::after
        content: '\20'

footer
  margin-top: 2em
  ul,
  div.hr,
  div.copydate
    margin-top: 2em

//-----------------------------------------------------------------------------

@media screen and (min-width: 48em)

  header[role="banner"]
    max-width: calc(3px + var(--page-width ))
    margin-left: -3px