---
#
---

@charset "utf-8"
@import reset, fonts, colors, html, figure

header[role="banner"]
  display: flex
  align-items: center
  div.hr
    width: 100%
    margin-left: 1em

article
  margin-top: 2em

  header
    h1, p
      display: inline
      font-size: 1em
    h1
      .punc::after
        font-weight: 400
        content: '\00A0\2014\20'
      &::after
        content: '\20'

footer
  margin-top: 2em
  ul,
  div.hr,
  div.copydate
    margin-top: 2em

//-----------------------------------------------------------------------------

@media screen and (min-width: 48em)

  header[role="banner"]
    div.logo h1
      margin-left: -3px
