---
# PAGE: ABOUT, 404, ETC.
---

@charset "utf-8"
@import init, banner, footer, article

article
  margin-top: calc(var(--bem) + 0.33em)
  header h1
    font-size: var(--hed-size)
    line-height: var(--hed-lh)
  &>p:first-of-type
    margin-top: var(--bem)

footer
  margin-top: calc(var(--bem) + 0.33em)
