---
#
---

@charset "utf-8"
@import reset, fonts, colors, body, img

header[role="banner"]
  div.hr
    margin-top: calc(1em - var(--shim))

article
  margin-top: calc(2em + var(--shim))

  header
    h1
      font-size: var(--hs)
      line-height: var(--lh--tight)
  ul
    margin-left: calc(1em + var(--shim))

footer
  margin-top: 2em
  ul
    margin-top: 2em
  div.copydate
    margin-top: 1em
    p
      font-size: var(--fs--sm)
      line-height: var(--lh)
      color: $mix-color
      a:link,
      a:visited
        color: $mix-color

//-----------------------------------------------------------------------------

@media screen and (min-width: 32em)

  article ul
    margin-left: 0

  footer ul li
    margin-right: 0.5em

//-----------------------------------------------------------------------------

@media screen and (min-width: 50em)

  footer
    max-width: calc(1em + var(--page-width ))
