---
# PAGE: ABOUT, 404, ETC.
---

@charset "utf-8"
@import init, banner, footer

article
  max-width: 32em
  header
    margin-top: 1.5em
    h1
      font-size: percentage(20/16)
      @include line-size(26/16)
    p
      color: $mix-color
      margin: 0
      @include line-size(26/16)

  ul.toc
    margin-left: 1.25em
    list-style-type: disc
    li
      h2, p
        display: inline
        margin: 0
        font-size: 1em
        font-weight: 400
      h2::after
        content: "\20\2014\20"
      span.dates
        font-style: italic
        color: $mix-color
        white-space: nowrap

  ul.plain
    margin-left: 1.5em
    li
      margin: 0

footer
  margin-top: 1.66em

//-----------------------------------------------------------------------------

@media screen and (min-width: 34em)

  article
    max-width: $max-width
    header
      h1
        font-size: percentage(23/18)
        @include line-size(1.83)
      p
        @include line-size(1.83)
    ul.toc
      margin-left: 0
      &.phat
        list-style-type: none
        li
          h2, p
            display: block
          h2::after
            content: ''

  footer
    margin-top: 1.915em
