---
# POST: JUST REGULAR OL' ARTICLES
---

@charset "utf-8"
@import init, banner, footer, article

article
  margin-top: calc(var(--bem) + 0.66em)
  header
    h1, p
      display: inline
      font-size: 1em
    span.punc::after
      content: ".\20"

  time, span.byline
    font-style: italic
    color: $mix-color

  time
    white-space: nowrap

footer
  margin-top: calc(var(--bem) + 0.33em)
