---
# PICTURE POST STYLES
---

@charset "utf-8"
@import reset, font, color, body, article, figure

header[role="banner"]
  h1
    font-size: var(--hed-size-md)
    text-transform: uppercase
  div.stars::after
    content: '・・・・・・・・'
    font-size: 1em
    color: $shadow-color

article
  margin-top: 2em
  div.hed
    h1, p
      display: inline
      font-size: 1em
      line-height: var(--font-lh)
    h1::after
      content: '\00A0\2014\0020'
      font-weight: 400
      color: $mix-color

footer
  ul
    li
      margin-right: 0.66em
  div.copydate
    margin-top: 1em
    p
      font-size: var(--font-size-sm)
      color: $mix-color

//-----------------------------------------------------------------------------

@media screen and (min-width: 30rem)

  header[role="banner"]
    h1
      font-size: var(--hed-size-lg)