---
# DEFAULT POST STYLES
---

@charset "utf-8"
@import reset, font, color, body, article, figure, banner, footer

//-----------------------------------------------------------------------------

article.post
  header
    h1
      font-size: var(--hs)
      line-height: var(--lh--tight)
      font-style: italic
  figure
    margin-top: var(--shim)
    padding-top: var(--sliver)
  
article.micro
  header
    h1,p
      display: inline
    h1
      font-size: 1em
      line-height: var(--lh)
      span.punc::after
        content: '.'
      &::after
        content: '\0020'

//-----------------------------------------------------------------------------

@media screen and (min-width: 30rem)

  article.post
    header
      h1
        font-size: var(--hs--md)
