---
# POST: JUST REGULAR OL' ARTICLES
---

@charset "utf-8"
@import init, banner, footer, article

article
  header
    div.byline
      p
        display: inline
        margin: 0
        font-size: percentage(14/16)
        color: $mix-color
        &:first-of-type::after
          content: "\20/\20"
          color: $mix-color

aside
  ul.nextprev
    margin-top: 1.5em
    margin-left: 0
    list-style-type: none
    li
      margin: 0
      &:nth-of-type(2)
        margin-top: 1em
      h2, p
        margin: 0
        font-size: 1em
      h2
        line-height: 1.33
        &::after
          content: ":\20"

//-----------------------------------------------------------------------------

@media screen and (min-width: 34em)

  aside
    ul.nextprev li
      h2, p
        display: inline
      h2
        line-height: (28/17)
      &:nth-of-type(2)
        margin-top: 0

//-----------------------------------------------------------------------------

@media screen and (min-width: 48em)

  aside ul.nextprev li h2
    line-height: (30/18)

//-----------------------------------------------------------------------------

@media screen and (min-width: 72em)

  aside ul.nextprev li h2
    line-height: 1.83
