---
#
---

@charset "utf-8"
@import reset, font-stack, color, font-16px, font-17px, body, article

body
  padding: var(--shim) 1em

header[role="banner"]
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: center
  h1
    font-size: var(--hs--md)

article
  header
    margin-top: var(--shim)
    h1
      font-size: var(--hs--md)
      line-height: var(--lh--tight)
      font-style: italic
      text-align: center
      span.widont
        white-space: nowrap
  p:first-of-type
    margin-top: var(--shim)
  img
    display: block
    margin: var(--shim--lg) auto 0 auto
    border-radius: 50%
    background-color: $bg-color
  div.hr
    margin-top: var(--shim)

footer
  margin-top: var(--shim)
  ul
    display: flex
    flex-flow: row wrap
    align-items: center
    justify-content: center
    list-style-type: none
    li
      line-height: var(--lh--tight)
      &:not(:last-of-type)
        margin-right: 0.6875em
  p
    margin: 0
    &:first-of-type
      margin-top: var(--shim)
    font-style: italic
    text-align: center
    color: $mix-color
    a:link, a:visited
      color: $mix-color
  div.hr
    width: 100%
    margin: var(--shim) 0

//-----------------------------------------------------------------------------

@media screen and (min-width: 30em)

  body
    padding: var(--shim) 2em