---
# TEXT POST STYLES
---

@charset "utf-8"
@import reset, font, color, body, article

header[role="banner"]
  h1
    font-size: var(--hed-size-lg)
    text-shadow: -2px 2px $shock-color
    text-transform: uppercase

article
  margin-top: 3em
  div.hed
    h1
      font-size: var(--hed-size)
      line-height: var(--hed-lh)

footer
  ul
    li
      margin-right: 0.66em
  div.copydate
    margin-top: 1em
    p
      font-size: var(--font-size-sm)
      color: $mix-color

//-----------------------------------------------------------------------------

@media screen and (min-width: 25rem)

  header[role="banner"]
    h1
      //font-size: var(--hed-size-xl)
      text-shadow: -3px 3px $shock-color
