---
# POST: JUST REGULAR OL' ARTICLES
---

@charset "utf-8"
@import init, banner, footer, article

article
  margin-top: var(--bem)

  h1.hed
    font-size: var(--hed-size)
    line-height: var(--hed-lh)
  div.byline
    margin-top: var(--bem)
    p
      display: inline
      margin: 0
      color: $mix-color
      a:link,
      a:visited
        color: $mix-color
      &:first-of-type::after
        content: "\20/\20"

//-----------------------------------------------------------------------------

@media screen and (min-width: 40em)

  article
    margin-top: calc(var(--bem) * 2)

  footer ul li
    font-size: 111.1%
