---
#
---

@charset "utf-8"

::selection
  background: $select-color

::-moz-selection
  background: $select-color

header[role="banner"]
  h1
    text-shadow-color: $logo-color
      a:link, a:visited
        color: $shock-color