---
#
---

@charset "utf-8"
@import color

::selection
  background: $select-color

::-moz-selection
  background: $select-color

header[role="banner"]
  h1
    text-shadow: -3px 3px $shock-color
    a:link, a:visited
      color: $logo-color
      text-decoration: none