---
# RANDO COLORS FOR LOGOTYPE & FOOT
---

$key: random(6)
$one-color: #06f, #c06, #393, #f30, #09f, #099
$two-color: #6ff, #fc0, #9f0, #fc0, #9f3, #fc0
$primary-color: nth($one-color, $key)
$secondary-color: nth($two-color, $key)

$logo-color:    nth($one-color, $key) !default
$shock-color:   nth($two-color, $key) !default
$select-color:  $shock-color !default

::selection
  background: $select-color

::-moz-selection
  background: $select-color

.hili
  background-color: $shock-color

header[role="banner"]
  h1
    a:link,
    a:visited,
    &::after
      color: $logo-color
    //span
      border-bottom: 1px solid $shock-color
      box-shadow: 0px -9px 0px $shock-color inset

div.shim::after
  color: $logo-color

footer ul li
  a:link,
  a:visited
    color: $logo-color
    //border-bottom: 1px solid $shock-color
    //box-shadow: 0px -4px 0px $shock-color inset
