@media screen and (min-width: 60rem)

  \:root

    --page-width: 37.389em

    --fs: 112.5%
    --fs--xs: 77.8%
    --fs--sm: 88.88%
    --lh: 1.83
    --lh--tight: 1.415

    --hs: 127.8%
    --hs--sm: 111.11%
    --hs--md: 161.1%
    --hs--lg: 205.6%
    --hs--xl: 261.1%

    --shim: 1.83em
    --sliver: 0.415em
    --shim--tight: 1.415em