// WIRED SCHEMES!

$key:           random(6)
$one-color:     #06f, #c06, #393, #f30, #09f, #099
$two-color:     #6ff, #fc0, #9f0, #fc0, #9f3, #fc0
$three-color:   #fde, #fde, #fde, #fde, #fde, #fde

$primary-color: nth($one-color, $key)
$secondary-color: nth($two-color, $key)
$select-color: $secondary-color

$logo-color:    nth($one-color, $key) !default
$shock-color:   nth($two-color, $key) !default
$select-color:  $shock-color !default
