---
layout: default
style: page
is_home: true
permalink: /index.html
---
{% include banner.html %}

<main role="main">

  {% assign scope = 2629743 -%}
  {% assign today = site.posts.first.date | date: '%s' -%}
  
  {% for p in site.posts -%}

    {% assign current = p.date | date: '%s' -%}
    {% assign range = today | times: 1 |  minus: current -%}
    {% if scope > range %}
      
    {% if p.media %}
    <article class="micro home">
      {% include detail-micro.html page=p content=p.content is_home=true %}

    {% elsif p.content contains '<img' %}
    <article class="inline home">
      {% include detail-inline.html page=p content=p.content is_home=true %}

    {% else %}
    <article class="text home">
      {% include detail-text.html page=p content=p.content is_home=true %}

    {% endif -%}

      {% include _permalink.html url=p.url %}

    </article>

    {% else -%}
      {% break -%}
    {% endif -%}
  {% endfor -%}
  
</main>

{% include footer.html %}