{% include html-head.html %}

{% assign p = page -%}
{% assign copy = content | strip | normalize_whitespace -%}

{% include --widow-fix.html title=p.title -%}
{% include --img-fix.html copy=copy -%}

<header role="banner">
  <div class="icon">
    <a href="{{ site.url }}"><img src="{{ 'bomtomba-400x400.png' | prepend: site.img }}" width="240" height="240" alt="{{ site.title }}"></a>
  </div>
</header>

<main role="main">

  <article>
    <header>
      <h1>{{ page.title }}</h1>
      <div class="hr buff"></div>
    </header>

    {{ copy }}

  </article>

</main>

<footer>

  <div class="hr"></div>

  <div class="meta">
    <h1><a href="{{ site.url}}">{{ site.title }}</a></h1>
    <p>A media diary<span class="tagshow">, a small collage, a dumb blog</span></p>
  </div>

  <div class="hr buff"></div>

  <div class="copyright">
    <p>Copyright &copy; {{ site.posts.first.date | date: '%Y' }} {{ site.author }}</p>
  </div>

</footer>

</body>
</html>
