---
layout: default
label: "archive"
is_archive: true
---
{% include banner.html %}

{% assign raw = page.permalink | split: '/' | shift %}
{% assign raw_yr = raw[0] %}
{% assign raw_mo = raw[1] %}

{% if raw_mo %}
  {% assign is_month_index = true %}
  {% assign target_mo = raw_yr | append: '-' | append: raw_mo | append: '-' | append: '01' | date: '%b' %}
{% else %}
  {% assign is_year_index = true %}
{% endif %}
{% assign target_yr = raw_yr %}

{% assign posts_by_year_month = site.posts | group_by_exp: "post", "post.date | date:'%b %Y'" %}

<main role="main">

{% for group in posts_by_year_month %}
    
  {% if is_month_index and group.name contains target_yr and group.name contains target_mo %}
    {% include _dir_list_core.html name=group.name items=group.items %}
  {% endif %}

  {% if is_year_index and group.name contains target_yr %}
    {% include _dir_list_core.html name=group.name items=group.items %}
  {% endif %}

{% endfor -%}

</main>

{% include footer.html %}
