---
#
---
{% include html-head.html %}

{% if page.month %}
  {% assign is_month_index = true %}
{% else %}
  {% assign is_year_index = true %}  
{% endif -%}

<article>

    <div class="post hed"><h1>{{ page.title }}</h1></div>

    <ul class="archive">
    {% for x in site.posts %}
      {% assign current_month = x.date | date: "%m" | times: 1 %}
      {% assign current_year = x.date | date: "%Y" | times: 1 -%}
      {% if is_month_index and current_month == page.month and current_year == page.year %}
        {% include --display-list-item.html title=x.title excerpt=x.excerpt url=x.url %}
      {% endif -%}
      {% if is_year_index and current_year == page.year %}
        {% include --display-list-item.html title=x.title excerpt=x.excerpt date=x.date url=x.url %}
      {% endif -%}
    {% endfor -%}
    </ul>

</article>

{% include html-foot.html %}

{% comment %}
  !! Cobble together a datestring based on front matter permalink /:year/:month/ !!
  !! shift removes dead space at the start of array (caused by initial permalink slash) !!
{% assign rawdate = page.permalink | split: '/' | shift -%}

{% assign page_year = rawdate[0] -%}
{% assign page_month = rawdate[1] -%}

{% if page_month and page_month !='' and page_month != nil -%}
  {% assign is_month_index = true -%}
  {% assign title_string = rawdate | push: '01' | join: '-' | date: '%B %Y' -%}
{% else -%}
  {% assign is_year_index = true -%}
  {% assign title_string = page_year -%}
{% endif -%}

<header>
  <h1>Archive: {{ page.title }}</h1>
</header>

<ul class="fancy">
{% for p in site.posts -%}
  {% assign current_month = p.date | date: "%m" -%}
  {% assign current_year = p.date | date: "%Y" -%}
  {% if is_month_index and current_month == page_month and current_year == page_year -%}
    <li><a href="{{ p.url | prepend: site.url }}">{{ p.title | strip | normalize_whitespace | smartify }}</a>&nbsp;&mdash;&nbsp;{{ p.excerpt | strip | strip_html | normalize_whitespace | smartify | truncatewords: 35 }}</li>
  {% elsif is_year_index and current_year == page_year -%}
    <li><a href="{{ p.url | prepend: site.url }}">{{ p.title | strip | normalize_whitespace | smartify }}</a>&nbsp;&mdash;&nbsp;{{ p.excerpt | strip | strip_html | normalize_whitespace | smartify | truncatewords: 35 }}</li>
  {% endif -%}
{% endfor -%}
</ul>

{% endcomment -%}