
{% assign copy = content | strip | normalize_whitespace %}
{% assign wordcount = copy | number_of_words -%}
{% if wordcount < 150 %}{% assign hedsize = 'micro' %}{% endif %}

{% if copy contains '<p><img' %}
  {% assign copy = copy | replace: '<p><img','<img' | replace: ' /></p>','>' %}
{% endif -%}

{% capture datef %}<span class="datestamp">&nbsp;(<time datetime="{{ page.date | date: " %FT%T%:z" }}" pubdate itemprop="datePublished">{{ page.date | date: '%-d %b' }}</time>)</span>{% endcapture -%}
{% assign copysize = copy | size | minus: 4 %}
{% assign copy = copy | slice: 0, copysize | append: datef | append: '</p>' -%}

{% include --generate-titlef.html title=page.title -%}

{% include htm-open.html %}
{% include std-banner.html %}

<main role="main">

  <article><!-- {{ wordcount }} -->

    {% capture hedbox %}<header class="{{ hedsize | default: 'full' }}"><h1>{{ titlef }}</h1><p>{% endcapture -%}
    {% assign copy = copy | replace_first: '</p>','</p></header>' | replace_first: '<p>',hedbox -%}
    {{ copy | strip | normalize_whitespace }}

  </article>

</main>

{% if page.previous or page.next %}
  {% include aside-previous.html title=page.title url=page.url excerpt=page.excerpt previous=page.previous
next=page.next %}
{% endif %}

{% include std-footer.html %}
{% include htm-close.html %}