<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <base href="{{ site.url }}">
  <title>{{ page.title | default: site.title | truncate: 140 | replace: '"', "'" | strip | strip_html | normalize_whitespace | xml_escape }}</title>
  <meta name="description" content="{{ page.tweet | default: page.excerpt | strip | strip_html | truncate: 120  | xml_escape }}">
  {% if page.id %}<link rel="canonical" href="{{ page.url | default: '' | absolute_url }}">{% endif %}
 
  <!-- icons -->
  <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 105 55'><text y='.75em' font-size='75'>{{ site.emoji | default: '✨' }}</text></svg>">

  <!-- rss (atom) feed -->
  <link rel="alternate" title="{{ site.title }}" type="application/atom+xml" href="{{ 'feed.xml' | absolute_url }}">

  <!-- facebook -->
  <meta property="og:title" content="{{ page.title | default: site.title | strip | truncate: 120 | xml_escape }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:description" content="{{ page.tweet | default: page.excerpt | truncate: 280 | replace: '"', "'" | strip | strip_html | normalize_whitespace | xml_escape }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:type" content="blog">
  <meta property="og:image" content="{{ page.image | default: '/assets/img/default-social.png' | absolute_url }}">

  <!-- twitter  -->
  <meta name="twitter:title" content="{{ page.title | default: site.title | strip | truncate: 120 | xml_escape }}">
  <meta name="twitter:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:description" content="{{ page.tweet | default: page.excerpt | truncate: 280 | replace: '"', "'" | strip | strip_html | normalize_whitespace | xml_escape }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.socials }}">
  <meta name="twitter:creator" content="@{{ site.socials }}">
  <meta name="twitter:image:src" content="{{ page.image | default: '/assets/img/default-social.png' | absolute_url }}">

  <!-- css -->
  <link rel="stylesheet" href="{{ page.style | default: 'default' | append: '.css' | prepend: 'css/' | prepend: site.cdn }}">

</head> 

<body>

<header role="banner">
  <a href="{{ site.url }}" title="{{ site.title }}">{% include icon-jack-o-lantern.svg %}</a>
</header>

<main role="main">

  {{ content }}

</main>

<footer>

  <div class="hr"></div>

  <ul class="feeds">
  {% unless page.is_home %}<li><a href="{{ site.url }}">Home</a></li>{% endunless %}
  {% unless page.is_archive %}<li><a href="{{ 'archive' | absolute_url }}">Archive</a></li>{% endunless %}
  <li><a href="https://twitter.com/{{ site.socials }}">Twitter</a></li>
  <li><a href="{{ 'feed.xml' | absolute_url }}">RSS</a></li>
  </ul>

  {% if page.is_post %}
  <p>This page published <time datetime="{{ page.date | date: " %FT%T%:z" }}" pubdate itemprop="datePublished">{{ page.date | date_to_long_string }}</time></p>
  {% else -%}
  <p>Last updated {{ site.posts.first.date | date_to_long_string }}</p>
  {% endif -%}
  
  <p>Copyright &copy; {{ site.author }}</p>
  
</footer>

</body>
</html>
