<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{{ site.url }}">

    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | strip | normalize_whitespace | xml_escape | truncate: 280 }}">
    <link rel="author" type="text/plain" href="/humans.txt">
    {% if page.id %}<link rel="canonical" href="{{ page.url | default: '' | prepend: site.url }}">{% endif %}

    <!-- icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=bin">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=bin">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=bin">
    <link rel="manifest" href="/site.webmanifest?v=bin">
    <link rel="shortcut icon" href="/favicon.ico?v=bin">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#eaeaea">

    <!-- rss (atom) feed -->
    <link rel="alternate" title="{{ site.title }}" type="application/atom+xml" href="/feed.xml">

    <!-- facebook -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:url" content="{{ page.url | prepend: site.url }}">
    {% if page.is_post %}<meta property="og:description" content="{{ page.tweet | default: page.excerpt | strip_html | strip | normalize_whitespace | xml_escape | truncate: 280 }}">{% else %}<meta property="og:description" content="{{ site.description | strip_html | strip | normalize_whitespace | xml_escape | truncate: 280 }}">{% endif %}
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="blog">
    <meta property="og:image" content="{{ page.media.image | default: 'default-opengraph.jpg' | prepend: site.img_dir |  prepend: site.url }}">

    <!-- twitter  -->
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:url" content="{{ page.url | default: '' | prepend: site.url }}">
    {% if page.is_post %}<meta name="twitter:description" content="{{ page.tweet | default: page.excerpt | strip_html | strip | normalize_whitespace | xml_escape | truncate: 280 }}">{% else %}<meta property="og:description" content="{{ site.description | strip_html | strip | normalize_whitespace | xml_escape | truncate: 280 }}">{% endif %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:creator" content="@{{ site.twitter }}">
    <meta name="twitter:image:src" content="{{ page.media.image | default: 'default-opengraph.jpg' | prepend: site.img_dir | prepend: site.url }}">

    <!-- css -->
    <link rel="stylesheet" href="{{ page.style | default: 'default' | prepend: site.css_dir | prepend: site.url | append: '.css' }}?v={{ site.time | date: '%a' | downcase }}">

    <!-- msft mobile hacks -->
    <script>!function(){if("-ms-user-select"in document.documentElement.style&&navigator.userAgent.match(/IEMobile/)){var a=document.createElement("style");a.appendChild(document.createTextNode("@-ms-viewport{width:auto!important}")),document.getElementsByTagName("head")[0].appendChild(a)}}();</script>

</head>

<body>

<header role="banner">
  <div class="icon">{% if page.is_home %}<img src="{{ 'win95-recycle.png' | prepend: site.emo_dir | prepend: site.url }}" alt="{{ site.title }}">{% else %}<a href="{{ site.url }}"><img src="{{ 'win95-recycle.png' | prepend: site.emo_dir | prepend: site.url }}" alt="{{ site.title }}"><span></span></a>{% endif %}</div>
</header>

<main role="main"><!-- {{ page.layout }} -->

  {{ content }}

</main>

<footer class="{% if page.is_post %}post{% elsif page.is_home %}home{% else %}page{% endif %}">

  <ul>
    {% unless page.is_home %}<li><a href="{{ site.url }}">Home</a></li>{% endunless %}{% unless page.is_about %}<li><a href="{{ '/about/' | prepend: site.url }}">About</a></li>{% endunless %}<li><a href="{{ site.twitter | prepend: 'https://twitter.com/' }}">@{{ site.twitter }}</a></li><li><a href="{{ '/feed.xml' | prepend: site.url }}">RSS</a></li>
  </ul>

</footer>

</body>
</html>
