<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{{ site.url }}">

    <title>{{ page.title | default: site.title }}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | strip | normalize_whitespace | xml_escape | truncate: 280 }}">
    <link rel="author" type="text/plain" href="/humans.txt">
    {% if page.id %}<link rel="canonical" href="{{ page.url | default: '' | prepend: site.url }}">{% endif %}

    <!-- icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=coooooooool">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=coooooooool">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=coooooooool">
    <link rel="manifest" href="/site.webmanifest?v=coooooooool">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=coooooooool" color="#ff0033">
    <link rel="shortcut icon" href="/favicon.ico?v=coooooooool">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#e2e2e2">

    <!-- RSS (Atom) feed -->
    <link rel="alternate" title="{{ site.title }}" type="application/atom+xml" href="/feed.xml">

    <!-- facebook -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:url" content="{{ page.url | prepend: site.url }}">
    <meta property="og:description" content="{{ page.excerpt | default: site.description | strip_html | strip | normalize_whitespace | xml_escape | truncate: 280 }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="blog">
    <meta property="og:image" content="{{ page.image.path | default: '/assets/img/default-opengraph.png' | prepend: site.url }}">

    <!-- twitter  -->
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:url" content="{{ page.url | default: '' | prepend: site.url }}">
    <meta name="twitter:description" content="{{ page.excerpt | default: site.description | strip_html | strip | normalize_whitespace | xml_escape | truncate: 280 }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:creator" content="@{{ site.twitter }}">
    <meta name="twitter:image:src" content="{{ page.image.path | default: '/assets/img/default-opengraph.png' | prepend: site.url }}">

    <!-- css -->
    <link rel="stylesheet" href="{{ page.style | default: 'default' | prepend: site.css_dir | prepend: site.url | append: '.css' }}?v={{ site.time | date: '%a' | downcase }}">

    <!-- msft mobile hacks -->
    <script>!function(){if("-ms-user-select"in document.documentElement.style&&navigator.userAgent.match(/IEMobile/)){var a=document.createElement("style");a.appendChild(document.createTextNode("@-ms-viewport{width:auto!important}")),document.getElementsByTagName("head")[0].appendChild(a)}}();</script>

</head>

<body>

<header role="banner">
  <div class="title">
    <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
  
  </div>
</header>

<main role="main">

  {{ content }}

</main>

<footer>

  <nav>
    <ul>
      {% unless page.is_home %}<li><a href="{{ site.url }}">Home</a></li>{% endunless %}{% unless page.is_bio %}<li><a href="/about/">About</a></li>{% endunless %}<li><a href="{{ site.twitter | prepend: 'https://twitter.com/' }}">Twitter</a></li><li><a href="/feed.xml">RSS</a></li>
    </ul>
  </nav>

</footer>

</body>
</html>
