---
layout: default
---
{% include banner.html %}

<main role="main"><!-- {{ page.content | strip | normalize_whitespace | number_of_words }}w -->

  <article class="{{ page.label | default: page.layout }}">
    {% include detail-float.html page=page content=content %}
  </article>

  {% if page.id == site.posts.first.id %}
    {% include previously.html offset=1 limit=7 is_home=true %}
  {% elsif page.previous or page.next %}
    {% include nextprev.html next=page.next previous=page.previous %}
  {% endif -%}

</main>

{% include footer.html %}
