---
layout: default
---

<article class="home">

  {% assign feature = site.posts.first %}
  {% include --generate-titlef.html title=feature.title %}
  <div class="feature">
    <h1><a href="{{ feature.url | prepend: site.url }}">{{ titlef }}</a></h1>
    <p>{{ feature.excerpt | strip | normalize_whitespace | smartify }}</p>
  </div>

  <div class="previously">
    {% for p in site.posts offset:1 limit:7 %}
    {% include --generate-titlef.html title=p.title %}
    <div class="item">
      <h3><a href="{{ p.url | prepend: site.url }}">{{ titlef }}</a></h3>
      <p>{{ p.excerpt | strip | strip_html | normalize_whitespace | smartify }}</p>
    </div>
    {% endfor -%}
  </div>

  <div class="hr double short"></div>

</article>
