---
layout: default
---
{% assign copy = content | strip | normalize_whitespace -%}
{% assign wordcount = copy | number_of_words %}

{% capture datef %}<span class="daystamp">&nbsp;(<time datetime="{{ page.date | date: " %FT%T%:z" }}" pubdate itemprop="datePublished">{{ page.date | date: '%-d %b' }}</time>)</span>{% endcapture -%}
{% assign copysize = copy | size | minus: 4 %}
{% assign copy = copy | slice: 0, copysize | append: datef | append: '</p>' -%}

{% include banner.html %}

<main role="main">

  <article><!-- {{ copy | number_of_words }} -->

    {% include _titlef.html title=page.title %}
    {% include figure.html media=page.media -%}

    {% capture hedbox %}
      <header>
        <h1>{{ titlef }}</h1>
        <p>
    {% endcapture -%}

    {% assign copy = copy | replace_first: '</p>','</p></header>' | replace_first: '<p>',hedbox | strip | normalize_whitespace -%}
    
    {{ copy }}

  </article>

  {% if wordcount > 150 %}
    {% include aside-previous.html previous=page.previous next=page.next %}
  {% endif %}

</main>

{% include footer.html %}