---
layout: default
---

{% assign copy = content | strip | normalize_whitespace -%}
{% assign raw = page.title | strip | normalize_whitespace %}

{% assign wordcount = copy | number_of_words %}
{% assign lastchar = raw | slice: -1 %}
{% assign punc = '!!QQ!!' %}
{% case lastchar %}
  {% when '"' or "'" or '\"' or "\'" %}
    {% assign grabstring = raw.size | times: 1 | minus: 1 %}
    {% assign raw = raw | slice: 0, grabstring | append: punc | append: lastchar %}
  {% when '!' or '?' or '.' %}
    {% comment %} make no changes to string {% endcomment %}
  {% else %}
    {% assign raw = raw | append: punc %}
{% endcase -%}
{% if page.media %}
  {% assign hedsize = 'sm' %}
{% endif -%}

{% include --generate-titlef.html title=raw -%}
{% include --fix-kramdown-tags.html -%}

{% assign titlef = titlef | replace_first: '!!QQ!!', '<span class="punc"></span>' %}

{% if page.media %}{% include --display-figure.html media=page.media is_photo=true %}{% endif %}
{% capture hed %}<header class="post {{ hedsize | default: 'lg' }}"><h1>{% if include.is_home %}<a href="{{ page.url | prepend: site.url }}">{{ titlef }}</a>{% else %}{{ titlef }}{% endif %}</h1><p>{% endcapture -%}
{% assign copy = copy | replace_first: '</p>', '</p></header>' | replace_first: '<p>', hed  %}

{{ copy }}
