---
layout: default
---
{% assign copy = content | strip -%}
{% include _titlef-punc.html title=page.title %}

{% if copy contains '<p><img src=' %}
  {% assign copy = copy | replace: '<p><img src=', '<img src=' | replace: '/></p>', '/>' %}
{% endif -%}

{% if page.is_post %}
  {% capture datef %}<span class="daystamp">&nbsp;(<time datetime="{{ page.date | date: " %FT%T%:z" }}" pubdate itemprop="datePublished">{{ page.date | date: '%d %b' }}</time>)</span>{% endcapture -%}
  {% assign copysize = copy | size | minus: 4 -%}
  {% assign copy = copy | slice: 0, copysize | append: datef | append: '</p>' -%}
{% endif -%}

{% capture hedbox %}<header><h1>{{ titlef }}</h1><p>{% endcapture -%}
{% assign copy = copy | replace_first: '</p>', '</p></header>' | replace_first: '<p>', hedbox -%}

<!-- start -->

<header role="banner">
  <h1><a href="{{ site.url }}">{{ site.name }}</a></h1>
  <div class="hr"></div>
</header>

<main role="main">

  <article><!-- {{ page.layout }}: {{ content | number_of_words }}w -->

    {{ copy | strip | normalize_whitespace }}

  </article>
  
</main>

<footer>

  <div class="hr"></div>

  <ul class="feeds">
    <li class="copydate">Copyright &copy; {{ site.author }}</li>
    {% unless page.is_about %}<li><a href="{{ 'about' | absolute_url }}">About</a></li>{% endunless %}
    <li><a href="https://twitter.com/{{ site.socials }}">Twitter</a></li>
    <li><a href="{{ 'feed.xml' | absolute_url }}">RSS</a></li>
  </ul>
  
</footer>