---
layout: default
excerpt: "A list of previous entries"
---
{% assign raw = page.permalink | split: '/' | shift %}
{% assign raw_yr = raw[0] %}
{% assign raw_mo = raw[1] %}
{% assign full_yr = raw_yr | prepend: '20' %}
{% assign target_mo = full_yr | append: '-' | append: raw_mo | append: '-' | append: '01' | date: '%b' %}
{% assign target_yr = full_yr %}

{% assign posts_by_month = site.posts | group_by_exp: "post", "post.date | date:'%b %Y'" %}

<article class="archive">
{% for group in posts_by_month %}
  {% if group.name contains target_yr and group.name contains target_mo %}
  <section>
    <h1>{{ group.name }}</h1>
    <ul>{% for item in group.items %}<li><a href="{{ item.url | absolute_url }}">{{ item.subj | default: item.title | smartify | normalize_whitespace | strip }}</a></li>{% endfor %}</ul>
  </section>
  {% endif -%}
{% endfor -%}
</article>