---
layout: default
---
<header role="banner">
  {% if page.goog %}<h1 class="{{ page.label | default: page.layout }}" style="--swap-font: '{{ page.goog }}'">{% else %}<h1>{% endif %}<a href="{{ site.url }}"><span>{{ page.banner | default: site.title }}</span></a></h1>
  {% if page.label == 'home' %}<div class="sparkles"></div>{% endif %}
  {% if page.label == 'archive' %}<div class="hr"></div>{% endif %}
  {% if page.label == 'about' %}<div class="sparkles"></div>{% endif %}
</header>

<main role="main">

  <article class="{{ page.label | default: page.layout }}">

    {{ content }}

  </article>

</main>

<footer class="{{ page.label | default: page.layout }}">

  <div class="hr"></div>

  <ul>
    <li>Copyright &copy; {{ site.posts.first.date | date: '%Y' }} {{ site.author }}</li> 
    {% unless page.is_about %}<li><a href="{{ 'about' | absolute_url }}">About</a></li>{% endunless %}
    <li><a href="https://twitter.com/{{ site.socials }}">Twitter</a></li>
    <li><a href="{{ 'feed.xml' | absolute_url }}">RSS</a></li>
  </ul>

</footer>