---
layout: default
---
{% include banner.html %}

<main role="main"><!-- {{ page.content | number_of_words }}w -->

  <article class="{{ page.label | default: page.layout }}">
    {% include detail-post.html page=page content=content %}
  </article>

  {% if site.posts.first.id == page.id %}
    {% include previously.html limit=3 sizer=page.layout %}
  {% else -%}
    {% include nextprev.html previous=page.previous next=page.next sizer=page.layout %}
  {% endif -%}

</main>

{% include footer.html %}
