---
layout: default
---
{% assign p = page -%}
{% assign copy = content | strip | normalize_whitespace -%}

{% assign t = p.title | default: 'Empty?!' | strip | normalize_whitespace | smartify | split: ' ' -%}
{% if t.size > 1 %}
  {% assign sub = t.last | prepend: '!QQ!' -%}
  {% assign titlef = t | pop | push: sub | join: ' ' | replace: ' !QQ!', '&nbsp;' -%}
{% else -%}
  {% assign titlef = t %}
{% endif -%}

{% if copy contains 'img src=' %}
  {% assign copy = copy | replace: '<p><img', '<img' | replace: ' /></p>', '>' %}
{% endif -%}

{% if copy contains '<!--copynote-->' %}
  {% capture copynotice %}<!-- Copyright {{ p.date | date: "%Y" }} {{ p.author | default: site.author }} -->{% endcapture %}
  {% assign copy = copy | replace: '<!--copynote-->', copynotice %}
{% endif -%}

<article class="post"><!-- {{ copy | number_of_words }} words -->

  <header>
    <h1>{{ titlef }}</h1>
    <div class="byline">
      <p>{{ p.author | default: site.author }}</p>
      <p><time pubdate datetime="{{ p.date | date: "%FT%T%:z" }}">{{ p.date | date: "%-d %B %Y" }}</time></p>
    </div>
  </header>

  {{ copy }}

</article>

{% if page.previous %}
  {% assign blurb = page.previous.excerpt | strip | strip_html | normalize_whitespace | smartify -%}
  {% if page.previous.fbog.match %}
    {% assign keyphrase = page.previous.fbog.match | strip | normalize_whitespace | smartify %}
  {% else %}
    {% assign keyphrase = blurb | truncatewords: 3, '' | smartify %}
  {% endif -%}
  {% capture link %}<a href="{{ page.previous.url | prepend: site.url }}">{{ keyphrase }}</a>{% endcapture -%}
<aside>
  <div class="hr"></div>
  <div class="previously">
    <h2><a href="{{ page.previous.url | prepend: site.url }}">Previously</a></h2>
    <p>{{ blurb | replace_first: keyphrase, link }}</p>
  </div>
</aside>
{% endif -%}
