---
layout: default
---
{% assign copy = content | strip | normalize_whitespace -%}
{% assign wordcount = copy | number_of_words %}
{% include _titlef.html title=page.title -%}

<header role="banner">
  <h1><a href="{{ site.url }}">{{ site.name | default: site.title }}!</a></h1>
</header>

<main role="main">

  <article><!-- {{ copy | number_of_words }} -->

    <img src="{{ page.media.image | prepend: site.img }}" width="{{ page.media.width | default: 200 }}" height="{{ page.media.height | default: 200 }}" alt="{{ page.media.alt | default: '' }}">

    <header>
      <h1>{{ titlef }}</h1>
    </header>

    {{ figure | strip | normalize_whitespace }}

    <div class="hr"></div>

    {{ copy }}

  </article>

</main>

<footer>
  <div class="hr"></div>
  <ul>
    <li><a href="{{ site.url }}">Home</a></li>
    <li><a href="https://twitter.com/{{ site.socials }}">Twitter</a></li>
    <li><a href="{{ 'feed.xml' | absolute_url }}">RSS</a></li>
  </ul>
  <div class="hr"></div>
  {% if page.date %}<p>This page published <time datetime="{{ page.date | date: " %FT%T%:z" }}" pubdate itemprop="datePublished">{{ page.date | date_to_string }}</time></p>{% endif %}
  <p>&copy;&nbsp;{{ site.posts.first.date | date: '%Y' }} {{ site.author | replace: ' ', '&nbsp;' }}</p>
</footer>
