---
layout: page
is_page: true
---
<header class="page">
  <h1>{{ page.title }}</h1>
</header>

{% assign target = page.title | replace: ' ', '-' | downcase %}
{% assign group = site.posts | where_exp: 'post', 'post.tags contains target' %}
<ul>
  {% for g in group %}
  <li><a href="{{ g.url | prepend: site.url }}">{{ g.title | strip | normalize_whitespace | smartify }}</a>&nbsp;&mdash;&nbsp;{{ g.excerpt | strip | strip_html | normalize_whitespace | smartify | truncatewords: 35 }}</li>
  {% endfor -%}
</ul>