---
layout: default
style: archive
---
<article>

  <header><h1>{{ page.title }}</h1></header>

  {% assign target = page.title | replace: ' ', '-' | downcase %}
  {% assign group = site.posts | where_exp: 'post', 'post.tags contains target' %}
  <ul>
    {% for g in group %}<li><a href="{{ g.url | prepend: site.url }}">{{ g.title | strip | smartify | normalize_whitespace }}</a>&nbsp;&mdash;&nbsp;{{ g.excerpt | strip | strip_html | smartify | truncatewords:50 | normalize_whitespace }}</li>{% endfor -%}
  </ul>
</article>