---
layout: default
---

{% assign copy = content | strip | normalize_whitespace %}
{% include widont.html title=page.title %}
{% if page.title.size > 55 %}{% assign bypad = 'fat' %}{% endif %}

{% include banner.html %}

<main role="main">

  <article class="{{ page.label | default: page.layout }}">

    <header>
      <h1>{{ titlestring }}</h1>
      <div class="byline {{ bypad | default: 'thin' }}">
        <p><time datetime="{{ page.date | date: " %FT%T%:z" }}" pubdate itemprop="datePublished">{{ page.date | date_to_long_string }}</time></p>
        <p>{{ page.author | default: site.author }}</p>
      </div>
    </header>

    {% if page.image %}{% include fignew.html image=page.image %}{% endif %}

    {{ copy }}

  </article>

</main>

{% include footer.html %}
